@font-face {
	font-family: "fa";
	src: url("fa.eot");
	src: url("fa.eot#iefix") format("embedded-opentype"),
	url("fa.woff") format("woff"),
	url("fa.ttf") format("truetype"),
	url("fa.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="fa-"]:before, [class*=" fa-"]:before,
[class^="fa-"]:after, [class*=" fa-"]:after {   
	font-family: fa;
	font-size: 1.4rem;
	font-style: normal;
}
.fa-csv:before {
	content: "\e814"
}
.fa-spice:before {
	content: "\e801"
}
.fa-xls:before {
	content: "\e800"
}
.fa-json:before {
	content: "\e802"
}
