<div id="databasetables" class="table-cont" translate="adm-dbt1">
    <div id="actions" style="display:none">
        <span class="fg-theme-over link" data-click="compress" lang uid="compress">Compress</span>
    </div>
    
    <div id="light-theme" confirm-dialog class="padding20 dialog" data-role="dialog" data-close-button="true" data-overlay="true"
    data-overlay-click-close="true" data-overlay-color="op-dark" style="visibility: hidden;">
        <h2 class="fg-light-theme" lang id="dlg-title">Please confirm operation</h2>
        <hr class="thin bg-theme" />
        <p id="dlg-text">
        </p>
        <br>
        <br>
        <div class="form-actions fg-theme-selected bg-theme-selected">
            <button type="button" validate class="button bg-theme-over selected no-border" lang uid="ok">Ok</button>
            <button type="button" cancel class="button no-border" lang uid="cancel">Cancel</button>
        </div>
    </div>

    <table class="dataTable border bg-transparent fg-lighter" id="maintable" role="grid" width="100%">
        <thead>
            <tr role="row">
                <td></td> 
                <td tabindex="0" class="sortable-column sorting nowrap all" lang uid="name">Name</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="size">Size</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="version">Version</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="actions">Actions</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>