<div id="newstable" class="table-cont" translate="adm-news1">
    <div id="light-theme" confirm-dialog class="padding20 dialog" data-role="dialog" data-close-button="true" data-overlay="true"
    data-overlay-click-close="true" data-overlay-color="op-dark" style="visibility: hidden;">
        <h2 class="fg-light-theme" lang id="dlg-title">Please confirm operation</h2>
        <hr class="thin bg-theme" />
        <p id="dlg-text">
        </p>
        <br>
        <br>
        <div class="form-actions fg-theme-selected bg-theme-selected">
            <button type="button" validate class="button bg-theme-over selected no-border" lang uid="ok">Ok</button>
            <button type="button" cancel class="button no-border" lang uid="cancel">Cancel</button>
        </div>
    </div>

    <div id="light-theme" edit-dialog class="padding20 dialog" data-role="dialog" data-close-button="true" data-overlay="true"
    data-overlay-click-close="true" data-overlay-color="op-dark" style="visibility: hidden;">
        <h2 class="fg-light-theme" lang id="editdlg-title">Please Enter Values</h2>
        <hr class="thin bg-theme" />
        <div class="grid">
            <div class="row cells4">
                <div class="cell">
                    <span class="label" lang uid="date-">Date:</span>
                </div>
                <div class="cell colspan3">
                    <div class="input-control modern text" datepicker data-role="datepicker" data-field="date">
                        <input type="text" name="date">
                        <button class="button bg-theme-over fg-theme-over"><span class="icon mif-calendar"></span></button>
                    </div>
                </div>
            </div>
            <div class="row cells4">
                <div class="cell">
                    <span class="label" lang uid="text-">Text:</span>
                </div>
                <div class="cell colspan3">
                    <div class="input-control modern text" data-role="input" data-field="text">
                        <input type="text" name="text">
                    </div>
                </div>
            </div>
            <div class="row cells4">
                <div class="cell">
                    <span class="label" >uid:</span>
                </div>
                <div class="cell colspan3">
                    <div class="input-control modern text" data-role="input" data-field="uid">
                        <input type="text" name="uid">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="form-actions fg-theme-selected bg-theme-selected">
            <button type="button" validate class="button bg-theme-over selected no-border" lang uid="ok">Ok</button>
            <button type="button" cancel class="button no-border" lang uid="cancel">Cancel</button>
        </div>
    </div>
    
    <div id="toolbar" style="display:none"> 
        <button id="addnew" class="square-button bg-transparent bg-theme-over fg-lighter no-border" uid="addnews" tooltip="Add News"><span class="mif-plus"></span></button>
    </div>
    
    <div id="actions" style="display:none">
        <span class="fg-theme-over link" data-click="delete" lang uid="delete">Delete</span>
        <span class="fg-theme-over link" data-click="edit" lang uid="edit">Edit</span>
    </div>
    
    <table class="dataTable border bg-transparent fg-lighter" id="maintable" role="grid" width="100%">   
        <thead>
            <tr role="row">
                <td class="control"></td>
                <td tabindex="0" class="sortable-column sorting nowrap all">ID</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="date">Date</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="text">Text</td>
                <td tabindex="0" class="sortable-column sorting nowrap">uid</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="parameters">Parameters</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="actions">Actions</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>