<div id="transtable" class="table-cont" translate="admtrans1">
    <translations style="display:none">
        <lang id="delselrows">Delete selected rows.</lang>
    </translations>
    
    <div id="light-theme" confirm-dialog class="padding20 dialog" data-role="dialog" data-close-button="true" data-overlay="true"
    data-overlay-click-close="true" data-overlay-color="op-dark" style="visibility: hidden;">
        <h2 class="fg-light-theme" lang id="dlg-title">Please confirm operation</h2>
        <hr class="thin bg-theme" />
        <p id="dlg-text">
        </p>
        <br>
        <br>
        <div class="form-actions fg-theme-selected bg-theme-selected">
            <button type="button" validate class="button bg-theme-over selected no-border" lang uid="ok">Ok</button>
            <button type="button" cancel class="button no-border" lang uid="cancel">Cancel</button>
        </div>
    </div>

    <div id="light-theme" edit-dialog class="padding20 dialog" data-role="dialog" data-close-button="true" data-overlay="true"
    data-overlay-click-close="true" data-overlay-color="op-dark" style="visibility: hidden;">
        <h2 class="fg-light-theme" lang id="editdlg-title">Please Enter Values</h2>
        <hr class="thin bg-theme" />
        <div class="grid">
            <div class="row cells4">
                <div class="cell">
                    <span class="label" >uid:</span>
                </div>
                <div class="cell colspan3">
                    <div class="input-control modern text" data-role="input" data-field="uid">
                        <input type="text" name="uid">
                    </div>
                </div>
            </div>
            <div class="row cells4">
                <div class="cell">
                    <span class="label" lang uid="original-">Original:</span>
                </div>
                <div class="cell colspan3">
                    <div class="input-control modern textarea" data-role="input" data-field="original" data-text-auto-resize="true">
                        <textarea name="original" type="text"></textarea>
                    </div>
                </div>
            </div>
            <div class="row cells4">
                <div class="cell">
                    <span class="label" lang uid="translation-">Translation:</span>
                </div>
                <div class="cell colspan3">
                    <div class="input-control modern textarea" data-role="input" data-field="translation" data-text-auto-resize="true">
                        <textarea name="translation" type="text"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="form-actions fg-theme-selected bg-theme-selected">
            <button type="button" validate class="button bg-theme-over no-border selected" lang uid="ok">Ok</button>
            <button type="button" cancel class="button no-border" lang uid="cancel">Cancel</button>
        </div>
    </div>

    <div id="toolbar" style="display:none"> 
        <label lang uid="selectedlng">Selected Language</label>
        <div language-select class="inline"></div>
        <button id="delsel" disabled="disabled" class="square-button bg-transparent bg-theme-over fg-lighter no-border" uid="delsel" tooltip="Delete Selected"><span class="mif-cross"></span></button>
    </div>

    <div id="actions" style="display:none">
        <span class="fg-theme-over link" data-click="edit" lang uid="edit">Edit</span>
    </div>
    
    <table class="dataTable border bg-transparent fg-lighter fg-theme-selected bg-theme-selected" id="maintable" role="grid" width="100%">
        <thead>
            <tr role="row">    
                <td class="control"></td>
                <td tabindex="0" class="sortable-column sorting nowrap all">ID</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang id="originaltext">Original Text</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang id="seletedlanguage">Text in selected language</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang id="currentlanguage">Text in current language</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="best">Best</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="version">Version</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="actions">Actions</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>