<div id="usertable" class="table-cont" translate="adm-users1">
    <div id="light-theme" confirm-dialog class="padding20 dialog" data-role="dialog" data-close-button="true" data-overlay="true"
    data-overlay-click-close="true" data-overlay-color="op-dark" style="visibility: hidden;">
        <h2 class="fg-light-theme" lang id="dlg-title">Please confirm operation</h2>
        <hr class="thin bg-theme" />
        <p id="dlg-text">
        </p>
        <br>
        <br>
        <div class="form-actions fg-theme-selected bg-theme-selected">
            <button type="button" validate class="button bg-theme-over selected no-border" lang uid="ok">Ok</button>
            <button type="button" cancel class="button no-border" lang uid="cancel">Cancel</button>
        </div>
    </div>

    <div id="rolesmenu" style="display:none;">
        <ul id="dmenu" class="bg-grayDark fg-white">
            <li class="bg-theme-over" data-click="user">
                <lang id="user">Utilisateur</lang>
            </li>
            <li class="bg-theme-over" data-click="admin">
                <lang id="admin">Administrator</lang>
            </li>
        </ul>
    </div>
    
    <div id="actions" style="display:none">
        <span class="fg-theme-over link" data-click="delete" lang uid="delete">Delete</span>
        <span class="fg-theme-over link" data-click="unblock" lang uid="unblock">Unblock</span>
        <span class="fg-theme-over link" data-click="block" lang uid="block">Block</span>
        <span class="fg-theme-over link" data-click="validate" lang uid="validate">Validate</span>
    </div>

    <table class="dataTable border bg-transparent fg-lighter" id="maintable" role="grid" width="100%">
        <thead>
            <tr role="row">
                <td class="control"></td> 
                <td tabindex="0" class="sortable-column sorting nowrap">ID</td>
                <td tabindex="0" class="sortable-column sorting nowrap all" lang uid="username">User Name</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="email">e-mail</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="displayname">Display Name</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="provider">Provider</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="role">Role</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="validated">Validated</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="blocked">Blocked</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="failattempts">Fail Attempts</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="lastlogin">Last Login</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="lastip">Last IP</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="validationtoken">Validation Token</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="validationtime">Validation Time</td>
                <td tabindex="0" class="sortable-column sorting nowrap" lang uid="actions">Actions</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>