@import (once) "widgets/high-chart.less";

#anode-transfert-chart {
    width: 100%;
    #chart-cont {
        width: 100%;
    }
}

body.dragdrop .highcharts-tooltip {
    display: none;
} 

#chart-menu-backdrop {
    .opacity(1);  
    background-color: transparent !important;  
}

#chart-menu-body {
    display: inline-block;
    
    #chart-menu {
        display: block;
        border-collapse: separate;
        border-width: 1px;
        border-style: solid;
        text-align: left;
        list-style: none inside none;
        margin: 0;
        padding: 0;        
        float: left;
        z-index: 1000;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        
        li {
            padding: 0 1rem 0 1rem;
        }
        
        .values {
            margin-left: 1rem;
            margin-bottom: 0.5rem;

            .value {
                margin: 0 2rem 0 0.5rem;
                font-weight: 700;
            }
        }
        
        .menu-item:before {
            content: none;
        }
    }
}