#chartInfos.grid {    
    font-size: 90%;
        
    div.row {
        margin-top: 0;

        .cell {
            min-height: 2rem;
            padding: 0 0.5rem;   

            .infoVal{
                margin: 0 0.5rem;            
            }
        }
    }
}