@import (once) "widgets/checkbox.less";

#doc-selector {    
    background-color: #ffffff;
    color: #1d1d1d;
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    width: 800px;
    height: 600px;
    z-index: 401;
    .translate( -50%, -50%);        
    
    #content {
        height: 100%;
        padding: 0;
                                
        h5,
        #docs,
        #no-doc {
            display: block;
            margin: 0.5rem 1rem 1rem 1rem;   
        }
        
        #scroll {
            overflow-y: auto;
            overflow-x: hidden;
            position: absolute;
            bottom: 4rem;
            left: 0;
            top: 80px;
            right: 0;

            #docs {
                .row {
                    width: 100%;
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: left;
                    margin-bottom: 0.5rem;

                    #icon, 
                    .radio,
                    .checkbox,
                    button {                            
                        flex-basis: auto;
                        flex-shrink: 0;
                    }

                    #icon:before {
                        text-align: center;                  
                    }   

                    .label {
                        margin-left: 0.5rem;
                        flex-grow: 1;
                        flex-basis: auto;
                        word-break: break-word;                        
                    }
                    
                    button {
                        margin-top: -0.5rem;
                    }      
                    
                    .radio{                        
                        margin-top: -0.1rem;
                        margin-right: 0.4rem;
                        .check {
                            vertical-align: top;                        
                        }
                    }
                    
                    .checkbox {                        
                        margin-top: -0.4rem;
                        margin-right: 0.4rem;
                    }
                }
            }
        }
        
        #light-theme {
            margin: 1rem 1rem 0.5rem 1rem;   
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;    
            
            #ok {
                padding: 0 2rem;
            }        
        }        
    }
}

#doc-selector.radio #content {
    .checkbox,
    .selector {
        display: none;
    }
}

#doc-selector.viewer #content {
    .checkbox,
    .radio,
    #light-theme {
        display: none;
    }
    #scroll {
        bottom: 0;
    }
}

#doc-selector.selector {
    .radio,
    #file-controls {
        display: none;
    }
}