@import (once) "tct/anode-transfert-chart";

#file-viewer {    
    background-color: #ffffff;
    color: #1d1d1d;
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    width: 1024px;
    height: 768px;
    z-index: 501;
    .translate( -50%, -50%);        
    
    #content {
        height: 100%;
        padding: 0;

        #image {
            position: absolute;
            left: 0.5rem;
            right: 0.5rem;
            bottom: 1rem;
            display: block;
            top: 4rem;
            img {
                margin: auto;
                max-width: 100%;
                max-height: 100%;            
                display: block;
            }
        }
        
        #chart {
            position: absolute;
            left: 0.5rem;
            right: 0.5rem;
            bottom: 1rem;
            display: block;
            top: 3rem;            
        }

        #download {
            position: absolute;
            z-index: 10;   
            right: 6px;
            top: 1px;   
        }
        
        #usage {
            position: absolute;
            z-index: 10;   
            right: 46px;
            top: 1px;   
        }
        
        #spicemodel {
            position: absolute;
            z-index: 10;   
            right: 86px;
            top: 1px;   
            padding-top: 0.3rem;
        }
        
        #create {
            position: absolute;
            z-index: 10;   
            right: 0.5rem;
            top: -1.5rem;   
        }

        #anode-transfert-chart {
            height: 100%;
        }
    }
}

#file-viewer-backdrop {
    z-index: 500;
}

#file-viewer-dmenu-backdrop {
    z-index: 600;
    background-color: transparent;
    li a {
        display: block !important;
        width: 100%;
        height: 100%;
    }
}

