@import (once) "widgets/checkbox.less";
@import (once) "widgets/chosen.less";
@import (once) "widgets/input-control";

[search-criteria] {
    width: 100%;
    display: flex;            
    overflow: visible;
    align-items: left;
    
    #field-selector {
        margin: 0;
        flex-grow: 0;
        flex-basis: 33%;
        flex-shrink: 0;            
    }
    
    .input-control.numeric {
        margin: 0 0 0 2rem;
        flex-grow: 1;
        flex-basis: 33%;
        flex-shrink: 1;
    }

    #field-lookup,
    .input-control.text {
        margin: 0 0 0 2rem;
        flex-grow: 1;
        flex-basis: 33%;
        flex-shrink: 1;
    }
    
    #whole-word {
        margin: 1.4rem 0 0 2rem;
        flex-grow: 1;
        flex-basis: 33%;
        flex-shrink: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    #remove-field {
        margin: 1.1rem 0 0 1rem;
        flex-grow: 0;
        flex-basis: auto;
    }
}
        
