@import (once) "widgets/color-settings.less";

#settings-panel.charm.right-side {
    width: 29rem;
    right: -29rem;
    max-width: 100%;
    
    [settings-panel] {
        overflow-y: auto;
        margin-top: 0.7rem;
    }        
}
