@import (once) "widgets/tooltip.less";
@import (once) "tct/base-tooltip.less";
@import (once) "tct/pinout-tooltip.less";

@media screen {
    #scheme-dark .tube-result {
        .tube-icon{
            background: url("../../images/tube-dark.svg") no-repeat center center;
        }
    }
}

.tube-result {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0.5rem 0;
    width: 100%;

    .tube-icon {
        float: left;
        padding-right: 1rem;
        width: 9rem;
        height: 9rem;
        background: url("../../images/tube.svg") no-repeat center center;
        -webkit-print-color-adjust:exact;
    }
    .datas {
        width: 100%;
        padding: 0.5rem 1rem 0 9rem;    
        
        #title {
            margin: 0 1rem 0 0;
        }      
        .ml1 {
            margin-left: 0.75rem;
        }                
        #type {
            margin: 0.6rem 0 0 0;
            margin-left: 0;
        } 
        #units {
            margin-bottom: 0;
        }
        button {
            margin: 0 0 0.5rem 0;
        }
        #baseview,
        #pinoutview {
            margin: 0 0.3rem 0 0.3rem;
        }
        #baseview:before,
        #pinoutview:before {
            opacity: 0.9;
        }
        #baseview.disabled:before,
        #pinoutview.disabled:before {
            opacity: 0.3;
            cursor: default;
        }
        #user-name {
            margin-left: 0.5rem;
        }
        #rdocs {
            #cdocs {
                margin: 0 0 0.5rem 0;
                cursor: pointer;
                width: auto;
                
                .icon {
                    cursor: pointer;
                    font-size: 2rem;
                    vertical-align: bottom;                        
                    margin-right: 0.5rem;
                }
                
                .dcount,
                .ucount {
                    vertical-align: text-top;
                }
            }
            #cdocs > div{
                vertical-align: bottom;
                display: inline-block;
                margin: 0 2rem 0 0;
            }
            #cdocs > div.disabled {
                opacity: 0.5;
                cursor: default;      
                .icon {
                    cursor: default;      
                }          
            } 
        }
        #controls {
             margin-right: 2rem;
             button {
                z-index: 5;
             }
        }
        @media screen and (max-width: 420px) {
            #controls {
                margin-right: 0;
            }
        }
        @media screen and (max-width: 800px) {
            padding-right: 0;                
        }
        @media screen and (max-width: 640px) {   
            min-height: 20rem;
            #rdocs {
                margin: 0;
                display: block;
                height: 1rem;

                #cdocs {
                    position: absolute;
                    bottom: 0;                    
                    height: 100%;
                    padding-top: 11rem;
                    .translate(-6rem, 0);    
                }   

                #cdocs > div {
                    display: block;
                    margin: 0 0 1rem 0;
                }
            }
        }
        @media screen and (min-width: 801px) {
            #rdocs {
                margin: 0;
                height: 1px;
                   
                #cdocs {
                    position: absolute;
                    bottom: 0;        
                    height: 100%;
                    padding-top: 2rem;
                    .translate(35rem, 0rem);     
                }   

                #cdocs > div {
                    display: block;
                    margin: 0 0 1rem 0;
                }
            }
        }
    }
    @media screen and (max-width: 640px) {   
        .tube-icon {
            margin-top: 0;
        }
        
        .grid .row > .cell, 
        .grid .row[class*=cells] > .cell, 
        .grid .row > .cell[class*=colspan], 
        .grid .row[class*=cells] > .cell[class*=colspan] {
            width: 50% ;
            margin-bottom: 10px ;
        }
    }
}
