#user-infos-control{  
    .user-infos{                
        .user-name,
        .welcome {
            display: inline-block;
            margin: 0.9rem 0.5rem 0 0;    
            vertical-align: top;
        }
        
        .avatar {
            margin-top: -0.2rem;
            width: 3rem;                       
            height: 3rem;
            display: inline-block;   
            .frame {
                width: 3rem;                       
                height: 3rem;                        
                background-color: transparent;                
                .image {
                    width: 100%; 
                    height: 100%; 
                    border-radius: 50%; 
                    background-size: cover; 
                    background-repeat: no-repeat;
                    position: relative;
                    .dropdown-toggle {
                        width: 100%;
                        height: 100%;
                        display: block;
                        .opacity(0);
                    }                    
                    .d-menu{
                        .translate(-4rem, 0);
                        li {
                            a {
                                padding: 0 1.3rem 0 0.3rem;
                                min-width: 7rem;
                                span {
                                    margin: 1rem;
                                }
                            }
                        }                            
                    }
                }
            }   
        }
        
        .avatar.noavatar {                 
            .frame {
                .image {
                    background-image: url("../images/user.svg");
                    background-color: #fff;
                    background-size: 90%;
                    background-position: 3px 1px;                
                }
            }
        }
    }
}