@import "tct/anode-transfert-chart";

#usage-viewer {    
    background-color: #ffffff;
    color: #1d1d1d;
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    width: 1024px;
    height: 768px;
    z-index: 501;
    .translate( -50%, -50%);        
    
    #content {
        height: 100%;
        padding: 0;
        
        #chart {
            position: absolute;
            left: 0.5rem;
            right: 0.5rem;
            bottom: 1rem;
            display: block;
            top: 3rem;            
        }
        
        #anode-transfert-chart {
            height: 100%;
        }
    }
}

#usage-viewer-backdrop {
    z-index: 500;
}
