@import "utils/light-theme.less";

#usage-selector {    
    background-color: #ffffff;
    color: #1d1d1d;
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    width: 800px;
    height: 600px;
    z-index: 401;
    .translate( -50%, -50%);        
    
    #content {
        height: 100%;
        padding: 0;
                                
        h5,
        #usages {
            display: block;
            margin: 0.5rem 1rem 1rem 1rem;   
        }
        
        #scroll {
            overflow-y: auto;
            position: absolute;
            bottom: 4rem;
            left: 0;
            top: 80px;
            right: 0;

            #usages {
                .row {
                    margin: 0 0 2.12765% 0;
                    
                    button {
                        float: right;
                    }      
                    
                    #icon {
                        vertical-align: text-top;
                    }
                    
                    #label {
                        display: inline-block;
                        margin-top: 0.8rem;
                    }
                }
            }
        }
        
        #light-theme {
            margin: 1rem 1rem 0.5rem 1rem;   
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;    
        }        
    }
}

#doc-selector #content {
    #scroll {
        bottom: 0;
    }
}
