<div id="usage-selector" translate="usel1" locale="en" class="window">
    <div id="content" class="window-content">
        <div class="window-caption fg-theme-selected bg-theme bg-theme-selected">
            <span class="window-caption-icon selected"><span class="mif-apps"></span></span>
            <span class="window-caption-title selected"><lang uid="usageex">Usage Examples</lang><span id="tname"></span></span>
            <span class="btn-close bg-theme-over selected"></span>
        </div>
        <h5 id="title"></h5>
        <span id="scroll">
            <span id="usages">
                <div id="usageTemplate" style="display:none;">
                    <div class="row">
                        <span id="icon" class="fileicon icon-curves"></span>
                        <span id="label"></span>
                        <button data-click="view" class="square-button bg-transparent bg-transparent-over fg-lighter no-border" uid="view" tooltip="view"><span class="mif-eye"></span></button>
                    </div>
                </div>
            </span>
        </span>
    </div>
</div>