<div id="usage-viewer" translate="usagevw1" locale="en" class="window">
    <div id="content" class="window-content">
        <div class="window-caption fg-theme-selected bg-theme bg-theme-selected">
            <span class="window-caption-icon selected"><span class="mif-eye"></span></span>
            <span class="window-caption-title selected" lang uid="views">Views</span>
            <span class="btn-close bg-theme-over selected"></span>
        </div>
        <span id="chart">
        </span>
    </div>
</div>