.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}
.chosen-container .search-choice .group-name,
.chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
}
.chosen-container .search-choice .group-name:after,
.chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../../images/chosen-sprite.png) -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../../images/chosen-sprite.png) no-repeat 0 2px;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type=text] {
  margin: 1px 0;
  padding: 4px 0px 4px 0px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: #fff url(../../images/chosen-sprite.png) no-repeat 100% -20px;
  background: url(../../images/chosen-sprite.png) no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 640px) {
  .chosen-container .chosen-results {
    max-height: 340px;
  }
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: 700;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto!important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0!important;
  background: transparent!important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eee;
  background-clip: padding-box;
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../../images/chosen-sprite.png) -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: 0;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type=text] {
  color: #222 !important;
}
.chosen-disabled {
  opacity: .5!important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type=text] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: 0;
}
.chosen-rtl .chosen-search input[type=text] {
  padding: 4px 5px 4px 20px;
  background: #fff url(../../images/chosen-sprite.png) no-repeat -30px -20px;
  background: url(../../images/chosen-sprite.png) no-repeat -30px -20px;
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type=text],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type=text],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url(../../images/chosen-sprite.png) !important;
    background-size: 52px 37px!important;
    background-repeat: no-repeat !important;
  }
}
.chosen-container .chosen-single,
.chosen-container .chosen-choices,
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding-left: 2px;
  overflow: visible;
  line-height: 25px;
}
.chosen-container {
  border-width: 1px;
  border-style: solid;
}
.chosen-container .chosen-drop {
  box-sizing: content-box;
  margin-left: -1px;
}
.chosen-container .chosen-drop .chosen-results li {
  background-image: none;
  padding: 9px;
  margin-left: -4px;
}
.chosen-container.loading .chosen-drop {
  height: 40px;
}
.chosen-container.loading .chosen-drop .chosen-results {
  display: none;
}
.chosen-container.loading .chosen-drop .chosen-search {
  display: none;
}
.chosen-container.loading .chosen-drop lang {
  margin: 3px 5px;
  position: relative;
  display: block;
  width: 100%;
}
.chosen-container:not(.chosen-container-active) {
  border-width: 1px;
  border-style: solid;
  border-color: transparent!important;
  border-bottom: 2px #DDDDDD solid !important;
}
#translator .chosen-single {
  height: 1.6rem;
}
#translator .chosen-single > * {
  margin-top: 0.1rem;
}
lang {
  display: inline-block;
}
#notify {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
#notify .charm-closer {
  display: none;
}
#notify .message {
  display: block;
  display: flex;
  justify-content: flex-end;
}
#notify .message .icon {
  height: 2rem;
  flex-basis: auto;
  padding: 0.4rem 1.3rem;
  margin: 0.3rem 0 0.3rem 0.3rem;
  display: inline-block;
}
#notify .message .label {
  margin: 0.7rem 0.6rem;
  align-self: center;
  flex-grow: 1;
  flex-basis: auto;
  display: inline-block;
}
#notify .message .button {
  flex-basis: auto;
  margin: 0;
  height: 2.5rem;
  padding: 0.8rem 1.3rem;
  display: inline-block;
}
#notify .message.error .icon {
  background-color: #9a1616;
  color: #fff;
}
#notify .message.info .icon {
  background-color: #004e9d;
  color: #fff;
}
#notify .message.warning .icon {
  background-color: #e77120;
  color: #fff;
}
[for].error {
  color: red !important;
}
#waiting-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1052;
  background-color: #222;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
#waiting-panel .preloader-ring {
  -webkit-transform: translate(0, -5rem);
  -moz-transform: translate(0, -5rem);
  -ms-transform: translate(0, -5rem);
  -o-transform: translate(0, -5rem);
  transform: translate(0, -5rem);
  margin-left: auto;
  margin-right: auto;
  top: 50%;
}
#waiting-panel .preloader-ring .wrap {
  width: 5rem;
  height: 5rem;
}
#waiting-panel .preloader-ring .wrap .circle {
  width: 5rem;
  height: 5rem;
}
#waiting-panel .preloader-ring .wrap .circle:after {
  height: 0.6rem;
  width: 0.61rem;
}
.input-control.modern {
  height: auto;
}
.input-control.modern input,
.input-control.modern select {
  margin-top: -0.1rem;
  height: 2.1rem;
  padding-bottom: 0;
}
.input-control.modern .placeholder {
  font-size: 0.85rem;
  top: 1.5rem;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.input-control.modern .informer {
  top: 1.5rem;
  left: auto;
  right: 0;
  -webkit-transform: translate(-100px, 0);
  -moz-transform: translate(-100px, 0);
  -ms-transform: translate(-100px, 0);
  -o-transform: translate(-100px, 0);
  transform: translate(-100px, 0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.input-control.modern input:focus ~ .informer {
  z-index: 100;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
}
.input-control.modern .unitholder {
  font-size: 0.75rem;
  top: 1.5rem;
  z-index: 1;
  left: 0;
  position: absolute;
  white-space: nowrap;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.input-control.modern [class*=input-state-] {
  top: 1.8rem;
  margin-right: -1rem;
  right: 0;
}
.input-control.modern.iconic .icon {
  top: 1.7rem;
}
.input-control.modern input.focus ~ .unitholder,
.input-control.modern:not(.empty) .unitholder {
  font-size: 0.875rem;
  top: 1.5rem;
  left: 100%;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translate(-100%, 0%);
  -moz-transform: translate(-100%, 0%);
  -ms-transform: translate(-100%, 0%);
  -o-transform: translate(-100%, 0%);
  transform: translate(-100%, 0%);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.input-control.modern.empty input:not(:focus) ~ .unitholder.wplaceholder {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.input-control.modern:not(.empty) .placeholder {
  display: none;
}
.input-control.modern.error .informer {
  right: 13px;
}
.input-control.modern.error input:focus ~ .unitholder {
  left: 97%;
}
.input-control.modern.error .chosen-container:not(.chosen-container-active) {
  border-bottom-color: #ce352c !important;
}
.input-control.modern.error input {
  padding-right: 0.75rem !important;
}
.input-control.modern.error:not(.empty) .unitholder {
  left: 97%;
}
.input-control.modern input[readonly] {
  border-bottom-color: transparent;
}
.input-control.modern.select .chosen-container,
.input-control.modern.select select {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  bottom: .5rem;
  border: 0;
  border-bottom: 2px #DDDDDD solid;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  padding-left: 0;
  width: 100%;
}
.input-control.modern.select .chosen-container {
  height: 1.75rem;
  margin-top: 0.25rem;
  padding-bottom: .5rem;
}
.input-control.modern.select .chosen-container .chosen-drop input {
  position: relative;
  top: 0;
  bottom: 0;
}
.input-control.modern.select .chosen-container ~ .placeholder {
  cursor: pointer;
}
.input-control.modern.select select:not(.empty) ~ .placeholder {
  display: none;
}
.input-control:not(.modern) .placeholder {
  font-size: 0.85rem;
  top: 1.5rem;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.input-control:not(.modern) .placeholder {
  font-size: 1rem;
  color: #888;
  position: absolute;
  top: 0.6rem;
  left: 0.5rem;
  z-index: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.input-control:not(.modern) input:focus ~ .placeholder {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translate(200px, 0);
  -moz-transform: translate(200px, 0);
  -ms-transform: translate(200px, 0);
  -o-transform: translate(200px, 0);
  transform: translate(200px, 0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  -o-appearance: textfield;
  appearance: textfield;
}
input:invalid {
  box-shadow: none;
}
input:-moz-submit-invalid {
  box-shadow: none;
}
input:-moz-ui-invalid {
  box-shadow: none;
}
.input-control.modern textarea {
  border: 0;
  outline: none;
  font-size: 1rem;
  padding-bottom: .5rem;
  padding-left: 0;
  border-bottom: 2px #DDDDDD solid;
  background-color: transparent;
  top: 1rem;
  min-height: 1.75rem;
  margin-bottom: 1rem;
}
.input-control textarea {
  width: 100%;
  height: 37px;
  overflow: hidden;
}
.input-control.modern.text[datepicker] input[readonly] {
  border-bottom-color: #DDDDDD;
}
.input-control.modern.text[datepicker] .button,
.input-control.modern.text[datepicker] .button:hover {
  -webkit-transform: translate(0.9rem, 0.7rem);
  -moz-transform: translate(0.9rem, 0.7rem);
  -ms-transform: translate(0.9rem, 0.7rem);
  -o-transform: translate(0.9rem, 0.7rem);
  transform: translate(0.9rem, 0.7rem);
  box-shadow: none;
  border: 0;
}
.input-control.modern.text[datepicker] .calendar-dropdown {
  -webkit-transform: translate(0rem, 1rem);
  -moz-transform: translate(0rem, 1rem);
  -ms-transform: translate(0rem, 1rem);
  -o-transform: translate(0rem, 1rem);
  transform: translate(0rem, 1rem);
}
.input-control.modern.text[datepicker] .calendar-dropdown {
  box-shadow: none;
}
.input-control.modern.text[datepicker] .calendar .day,
.input-control.modern.text[datepicker] .calendar .month,
.input-control.modern.text[datepicker] .calendar .year {
  border: 0;
}
.input-control.modern.text[datepicker] .calendar {
  border-width: 1px;
  border-style: solid;
  background-color: #ffffff;
}
.input-control.modern.text[datepicker] .calendar a {
  color: #222;
}
.input-control.modern.text[datepicker] .calendar .today a {
  background-color: #888;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.input-control.modern.text[datepicker] .calendar .other-day {
  color: #999999;
  background-color: #eeeeee;
  border: 1px #bcd9e2 solid;
}
.input-control.modern.text[datepicker] .calendar .exclude {
  background-color: #ce352c;
}
.input-control.modern.text[datepicker] .calendar .exclude a {
  background-color: #ce352c;
  color: #ffffff;
}
.input-control.modern.text[datepicker] .calendar .stored {
  background-color: #f472d0;
}
.input-control.modern.text[datepicker] .calendar .stored a {
  cursor: pointer;
  background-color: #f472d0;
  color: #ffffff;
}
#scheme-dark[theme="dark"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #e3e3e3 !important;
}
#scheme-dark[theme="dark"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #444 !important;
}
#scheme-dark[theme="dark"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #888 !important;
}
#scheme-dark[theme="dark"] .input-control.modern.text[datepicker] .calendar {
  border-color: #E8E8E8;
}
#scheme-dark[theme="dark"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="dark"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="dark"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="dark"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #222 !important;
}
#scheme-light[theme="dark"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #1d1d1d !important;
}
#scheme-light[theme="dark"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #bdbdbd !important;
}
#scheme-light[theme="dark"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="dark"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #888 !important;
}
#scheme-light[theme="dark"] .input-control.modern.text[datepicker] .calendar {
  border-color: #373737;
}
#scheme-light[theme="dark"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="dark"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="dark"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="brown"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #86493f !important;
}
#scheme-dark[theme="brown"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #9E645B !important;
}
#scheme-dark[theme="brown"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #995449 !important;
}
#scheme-dark[theme="brown"] .input-control.modern.text[datepicker] .calendar {
  border-color: #995449;
}
#scheme-dark[theme="brown"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="brown"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="brown"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="brown"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="brown"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #63362f !important;
}
#scheme-light[theme="brown"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #FFDDD8 !important;
}
#scheme-light[theme="brown"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="brown"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #86493f !important;
}
#scheme-light[theme="brown"] .input-control.modern.text[datepicker] .calendar {
  border-color: #86493f;
}
#scheme-light[theme="brown"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="brown"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="brown"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="crimson"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #970036 !important;
}
#scheme-dark[theme="crimson"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #AF114B !important;
}
#scheme-dark[theme="crimson"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #AF0040 !important;
}
#scheme-dark[theme="crimson"] .input-control.modern.text[datepicker] .calendar {
  border-color: #AF0040;
}
#scheme-dark[theme="crimson"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="crimson"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="crimson"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="crimson"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="crimson"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #640024 !important;
}
#scheme-light[theme="crimson"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #FFD6E7 !important;
}
#scheme-light[theme="crimson"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="crimson"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #970036 !important;
}
#scheme-light[theme="crimson"] .input-control.modern.text[datepicker] .calendar {
  border-color: #970036;
}
#scheme-light[theme="crimson"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="crimson"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="crimson"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="violet"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #701cc7 !important;
}
#scheme-dark[theme="violet"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #8938E0 !important;
}
#scheme-dark[theme="violet"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #8724F2 !important;
}
#scheme-dark[theme="violet"] .input-control.modern.text[datepicker] .calendar {
  border-color: #8724F2;
}
#scheme-dark[theme="violet"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="violet"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="violet"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="violet"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="violet"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #57169a !important;
}
#scheme-light[theme="violet"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #E5D4F9 !important;
}
#scheme-light[theme="violet"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="violet"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #701cc7 !important;
}
#scheme-light[theme="violet"] .input-control.modern.text[datepicker] .calendar {
  border-color: #701cc7;
}
#scheme-light[theme="violet"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="violet"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="violet"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="magenta"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #b40054 !important;
}
#scheme-dark[theme="magenta"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #CE2172 !important;
}
#scheme-dark[theme="magenta"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #D30062 !important;
}
#scheme-dark[theme="magenta"] .input-control.modern.text[datepicker] .calendar {
  border-color: #D30062;
}
#scheme-dark[theme="magenta"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="magenta"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="magenta"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="magenta"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="magenta"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #81003c !important;
}
#scheme-light[theme="magenta"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #FFD8EA !important;
}
#scheme-light[theme="magenta"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="magenta"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #b40054 !important;
}
#scheme-light[theme="magenta"] .input-control.modern.text[datepicker] .calendar {
  border-color: #b40054;
}
#scheme-light[theme="magenta"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="magenta"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="magenta"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="cyan"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #228ada !important;
}
#scheme-dark[theme="cyan"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #59A8E5 !important;
}
#scheme-dark[theme="cyan"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #238EE0 !important;
}
#scheme-dark[theme="cyan"] .input-control.modern.text[datepicker] .calendar {
  border-color: #238EE0;
}
#scheme-dark[theme="cyan"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="cyan"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="cyan"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="cyan"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="cyan"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #1b6eae !important;
}
#scheme-light[theme="cyan"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #D8EFFF !important;
}
#scheme-light[theme="cyan"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="cyan"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #228ada !important;
}
#scheme-light[theme="cyan"] .input-control.modern.text[datepicker] .calendar {
  border-color: #228ada;
}
#scheme-light[theme="cyan"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="cyan"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="cyan"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="cobalt"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #004e9d !important;
}
#scheme-dark[theme="cobalt"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #1263B5 !important;
}
#scheme-dark[theme="cobalt"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #0060C1 !important;
}
#scheme-dark[theme="cobalt"] .input-control.modern.text[datepicker] .calendar {
  border-color: #0060C1;
}
#scheme-dark[theme="cobalt"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="cobalt"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="cobalt"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="cobalt"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="cobalt"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #00356a !important;
}
#scheme-light[theme="cobalt"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #BFE0FF !important;
}
#scheme-light[theme="cobalt"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="cobalt"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #004e9d !important;
}
#scheme-light[theme="cobalt"] .input-control.modern.text[datepicker] .calendar {
  border-color: #004e9d;
}
#scheme-light[theme="cobalt"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="cobalt"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="cobalt"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="teal"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #006983 !important;
}
#scheme-dark[theme="teal"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #0F819B !important;
}
#scheme-dark[theme="teal"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #007893 !important;
}
#scheme-dark[theme="teal"] .input-control.modern.text[datepicker] .calendar {
  border-color: #007893;
}
#scheme-dark[theme="teal"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="teal"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="teal"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="teal"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="teal"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #004050 !important;
}
#scheme-light[theme="teal"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #CCF4FF !important;
}
#scheme-light[theme="teal"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="teal"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #006983 !important;
}
#scheme-light[theme="teal"] .input-control.modern.text[datepicker] .calendar {
  border-color: #006983;
}
#scheme-light[theme="teal"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="teal"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="teal"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="emerald"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #007100 !important;
}
#scheme-dark[theme="emerald"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #0D890D !important;
}
#scheme-dark[theme="emerald"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #008400 !important;
}
#scheme-dark[theme="emerald"] .input-control.modern.text[datepicker] .calendar {
  border-color: #008400;
}
#scheme-dark[theme="emerald"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="emerald"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="emerald"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="emerald"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="emerald"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #003e00 !important;
}
#scheme-light[theme="emerald"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #8ECC8E !important;
}
#scheme-light[theme="emerald"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="emerald"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #007100 !important;
}
#scheme-light[theme="emerald"] .input-control.modern.text[datepicker] .calendar {
  border-color: #007100;
}
#scheme-light[theme="emerald"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="emerald"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="emerald"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="green"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #128023 !important;
}
#scheme-dark[theme="green"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #085608 !important;
}
#scheme-dark[theme="green"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #1ABC32 !important;
}
#scheme-dark[theme="green"] .input-control.modern.text[datepicker] .calendar {
  border-color: #1ABC32;
}
#scheme-dark[theme="green"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="green"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="green"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="green"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="green"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #128023 !important;
}
#scheme-light[theme="green"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #8ECC8E !important;
}
#scheme-light[theme="green"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="green"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #18ad2f !important;
}
#scheme-light[theme="green"] .input-control.modern.text[datepicker] .calendar {
  border-color: #18ad2f;
}
#scheme-light[theme="green"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="green"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="green"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="orange"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #e77120 !important;
}
#scheme-dark[theme="orange"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #CC5608 !important;
}
#scheme-dark[theme="orange"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #F97822 !important;
}
#scheme-dark[theme="orange"] .input-control.modern.text[datepicker] .calendar {
  border-color: #F97822;
}
#scheme-dark[theme="orange"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="orange"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="orange"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="orange"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="orange"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #bf5a15 !important;
}
#scheme-light[theme="orange"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #FFD1B2 !important;
}
#scheme-light[theme="orange"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="orange"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #e77120 !important;
}
#scheme-light[theme="orange"] .input-control.modern.text[datepicker] .calendar {
  border-color: #e77120;
}
#scheme-light[theme="orange"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="orange"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="orange"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="red"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #c71c1c !important;
}
#scheme-dark[theme="red"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #AD0808 !important;
}
#scheme-dark[theme="red"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #D62020 !important;
}
#scheme-dark[theme="red"] .input-control.modern.text[datepicker] .calendar {
  border-color: #D62020;
}
#scheme-dark[theme="red"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="red"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="red"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="red"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="red"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #9a1616 !important;
}
#scheme-light[theme="red"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #FFAAAA !important;
}
#scheme-light[theme="red"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="red"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #c71c1c !important;
}
#scheme-light[theme="red"] .input-control.modern.text[datepicker] .calendar {
  border-color: #c71c1c;
}
#scheme-light[theme="red"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="red"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="red"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="pink"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #c71c74 !important;
}
#scheme-dark[theme="pink"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #AD085D !important;
}
#scheme-dark[theme="pink"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #DD2185 !important;
}
#scheme-dark[theme="pink"] .input-control.modern.text[datepicker] .calendar {
  border-color: #DD2185;
}
#scheme-dark[theme="pink"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="pink"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="pink"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="pink"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="pink"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #9a165a !important;
}
#scheme-light[theme="pink"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #FFB2DA !important;
}
#scheme-light[theme="pink"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="pink"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #c71c74 !important;
}
#scheme-light[theme="pink"] .input-control.modern.text[datepicker] .calendar {
  border-color: #c71c74;
}
#scheme-light[theme="pink"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="pink"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="pink"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="indigo"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #6400c9 !important;
}
#scheme-dark[theme="indigo"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #7816E0 !important;
}
#scheme-dark[theme="indigo"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #7B00FF !important;
}
#scheme-dark[theme="indigo"] .input-control.modern.text[datepicker] .calendar {
  border-color: #7B00FF;
}
#scheme-dark[theme="indigo"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="indigo"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="indigo"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="indigo"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="indigo"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #4b0096 !important;
}
#scheme-light[theme="indigo"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #D2A5FF !important;
}
#scheme-light[theme="indigo"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="indigo"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #6400c9 !important;
}
#scheme-light[theme="indigo"] .input-control.modern.text[datepicker] .calendar {
  border-color: #6400c9;
}
#scheme-light[theme="indigo"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="indigo"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="indigo"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="blue"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #1c5ec7 !important;
}
#scheme-dark[theme="blue"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #387BE0 !important;
}
#scheme-dark[theme="blue"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #2270E5 !important;
}
#scheme-dark[theme="blue"] .input-control.modern.text[datepicker] .calendar {
  border-color: #2270E5;
}
#scheme-dark[theme="blue"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="blue"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="blue"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="blue"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="blue"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #16499a !important;
}
#scheme-light[theme="blue"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #B2E2FF !important;
}
#scheme-light[theme="blue"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="blue"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #1c5ec7 !important;
}
#scheme-light[theme="blue"] .input-control.modern.text[datepicker] .calendar {
  border-color: #1c5ec7;
}
#scheme-light[theme="blue"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="blue"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="blue"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="lightBlue"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #4390df !important;
}
#scheme-dark[theme="lightBlue"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #2976C4 !important;
}
#scheme-dark[theme="lightBlue"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #6faae6 !important;
}
#scheme-dark[theme="lightBlue"] .input-control.modern.text[datepicker] .calendar {
  border-color: #6faae6;
}
#scheme-dark[theme="lightBlue"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="lightBlue"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="lightBlue"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="lightBlue"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="lightBlue"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #4390df !important;
}
#scheme-light[theme="lightBlue"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #75BCFF !important;
}
#scheme-light[theme="lightBlue"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="lightBlue"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #5C8CBC !important;
}
#scheme-light[theme="lightBlue"] .input-control.modern.text[datepicker] .calendar {
  border-color: #5C8CBC;
}
#scheme-light[theme="lightBlue"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="lightBlue"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="lightBlue"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="lightTeal"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #45fffd !important;
}
#scheme-dark[theme="lightTeal"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #29E5E2 !important;
}
#scheme-dark[theme="lightTeal"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #78fffd !important;
}
#scheme-dark[theme="lightTeal"] .input-control.modern.text[datepicker] .calendar {
  border-color: #78fffd;
}
#scheme-dark[theme="lightTeal"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="lightTeal"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="lightTeal"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="lightTeal"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #222 !important;
}
#scheme-light[theme="lightTeal"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #5BEFED !important;
}
#scheme-light[theme="lightTeal"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #3CD8D6 !important;
}
#scheme-light[theme="lightTeal"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="lightTeal"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #64D1CF !important;
}
#scheme-light[theme="lightTeal"] .input-control.modern.text[datepicker] .calendar {
  border-color: #64D1CF;
}
#scheme-light[theme="lightTeal"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="lightTeal"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="lightTeal"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #222 !important;
}
#scheme-dark[theme="lightOlive"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #78aa1c !important;
}
#scheme-dark[theme="lightOlive"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #608E09 !important;
}
#scheme-dark[theme="lightOlive"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #97d623 !important;
}
#scheme-dark[theme="lightOlive"] .input-control.modern.text[datepicker] .calendar {
  border-color: #97d623;
}
#scheme-dark[theme="lightOlive"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="lightOlive"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="lightOlive"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="lightOlive"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="lightOlive"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #78aa1c !important;
}
#scheme-light[theme="lightOlive"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #90C134 !important;
}
#scheme-light[theme="lightOlive"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="lightOlive"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #7EB21E !important;
}
#scheme-light[theme="lightOlive"] .input-control.modern.text[datepicker] .calendar {
  border-color: #7EB21E;
}
#scheme-light[theme="lightOlive"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="lightOlive"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="lightOlive"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="lightOrange"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #ffc194 !important;
}
#scheme-dark[theme="lightOrange"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #E5A170 !important;
}
#scheme-dark[theme="lightOrange"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #ffdec7 !important;
}
#scheme-dark[theme="lightOrange"] .input-control.modern.text[datepicker] .calendar {
  border-color: #ffdec7;
}
#scheme-dark[theme="lightOrange"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="lightOrange"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="lightOrange"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="lightOrange"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #222 !important;
}
#scheme-light[theme="lightOrange"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #ffc194 !important;
}
#scheme-light[theme="lightOrange"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #FFD5B7 !important;
}
#scheme-light[theme="lightOrange"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="lightOrange"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #FFCCAA !important;
}
#scheme-light[theme="lightOrange"] .input-control.modern.text[datepicker] .calendar {
  border-color: #FFCCAA;
}
#scheme-light[theme="lightOrange"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="lightOrange"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="lightOrange"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #222 !important;
}
#scheme-dark[theme="lightPink"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #f472d0 !important;
}
#scheme-dark[theme="lightPink"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #D850B4 !important;
}
#scheme-dark[theme="lightPink"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #f8a1e0 !important;
}
#scheme-dark[theme="lightPink"] .input-control.modern.text[datepicker] .calendar {
  border-color: #f8a1e0;
}
#scheme-dark[theme="lightPink"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="lightPink"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="lightPink"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="lightPink"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="lightPink"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #f472d0 !important;
}
#scheme-light[theme="lightPink"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #FF9EE5 !important;
}
#scheme-light[theme="lightPink"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="lightPink"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #CC84B8 !important;
}
#scheme-light[theme="lightPink"] .input-control.modern.text[datepicker] .calendar {
  border-color: #CC84B8;
}
#scheme-light[theme="lightPink"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="lightPink"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="lightPink"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-dark[theme="grayed"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #727272 !important;
}
#scheme-dark[theme="grayed"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #878787 !important;
}
#scheme-dark[theme="grayed"] .input-control.modern.text[datepicker] .calendar .selected a {
  background-color: #A0A0A0 !important;
}
#scheme-dark[theme="grayed"] .input-control.modern.text[datepicker] .calendar {
  border-color: #A0A0A0;
}
#scheme-dark[theme="grayed"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-dark[theme="grayed"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-dark[theme="grayed"] .input-control.modern.text[datepicker] .calendar a:hover,
#scheme-dark[theme="grayed"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
#scheme-light[theme="grayed"] .input-control.modern.text[datepicker] .calendar .calendar-header {
  background-color: #585858 !important;
}
#scheme-light[theme="grayed"] .input-control.modern.text[datepicker] .calendar a:hover {
  background-color: #a2a2a2 !important;
}
#scheme-light[theme="grayed"] .input-control.modern.text[datepicker] .calendar .selected a,
#scheme-light[theme="grayed"] .input-control.modern.text[datepicker] .calendar .calendar-header a:hover {
  background-color: #727272 !important;
}
#scheme-light[theme="grayed"] .input-control.modern.text[datepicker] .calendar {
  border-color: #727272;
}
#scheme-light[theme="grayed"] .input-control.modern.text[datepicker] .calendar .calendar-header,
#scheme-light[theme="grayed"] .input-control.modern.text[datepicker] .calendar .calendar-header a,
#scheme-light[theme="grayed"] .input-control.modern.text[datepicker] .calendar .selected a {
  color: #fff !important;
}
.tooltip-body {
  position: absolute;
  z-index: 1100;
  display: inline-block;
}
.tooltip-body .tooltip-text {
  white-space: nowrap;
  pointer-events: none;
  padding: 0.5rem;
  border-radius: 5px;
}
.tooltip-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1052;
  background-color: red !important;
}
#maintable_wrapper select,
#maintable_wrapper input {
  border: 0;
  background-color: transparent;
}
#maintable_wrapper select option,
#maintable_wrapper input option {
  color: #000;
}
#maintable_wrapper input {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #222;
}
#maintable_wrapper .link {
  cursor: pointer;
  margin: 0 0.5rem;
}
#maintable_wrapper td.nowrap {
  white-space: nowrap;
}
#maintable_wrapper .dataTables_scrollBody {
  overflow-y: visible;
}
#maintable_wrapper .dataTable {
  margin-bottom: 1rem;
}
#maintable_wrapper .dataTable thead {
  border-bottom-width: 1px;
}
#maintable_wrapper .dataTable tbody .sorting_asc:after,
#maintable_wrapper .dataTable tbody .sorting_desc:after {
  display: none;
}
#maintable_wrapper .dataTable tbody tr.even {
  background-color: #eee;
}
#maintable_wrapper .dataTable.border {
  border-right-width: 2px;
}
#maintable_wrapper .dataTables_info {
  background-color: transparent;
  color: #222;
}
#maintable_wrapper .dataTables_paginate .paginate_button {
  background-color: transparent;
  border: 0;
  color: #222;
  text-shadow: none;
}
#maintable_wrapper .dataTables_paginate .paginate_button.current {
  color: #888;
}
#scheme-dark #maintable_wrapper select,
#scheme-dark #maintable_wrapper input {
  color: #fff;
}
#scheme-dark #maintable_wrapper input {
  border-bottom-color: #fff;
}
#scheme-dark #maintable_wrapper .dataTables_info {
  color: #fff;
}
#scheme-dark #maintable_wrapper .dataTables_paginate .paginate_button {
  color: #fff;
}
#scheme-dark #maintable_wrapper .dataTables_paginate .paginate_button.current {
  color: #888;
}
#scheme-dark #maintable_wrapper .maintable_toolbar {
  display: block;
  float: right;
  margin: .3rem 1rem;
}
#scheme-dark #maintable_wrapper .dataTable thead .sorting_asc,
#scheme-dark #maintable_wrapper .dataTable thead .sorting_desc {
  background-color: #333 !important;
}
#scheme-dark #maintable_wrapper .dataTable thead .sorting_asc:after,
#scheme-dark #maintable_wrapper .dataTable thead .sorting_desc:after {
  color: #fff;
}
#scheme-dark #maintable_wrapper .dataTable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#scheme-dark #maintable_wrapper .dataTable tbody tr.even {
  background-color: #272727;
}
#scheme-dark[theme="dark"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #e3e3e3;
}
#scheme-light[theme="dark"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #1d1d1d;
}
#scheme-dark[theme="brown"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #86493f;
}
#scheme-light[theme="brown"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #63362f;
}
#scheme-dark[theme="crimson"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #970036;
}
#scheme-light[theme="crimson"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #640024;
}
#scheme-dark[theme="violet"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #701cc7;
}
#scheme-light[theme="violet"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #57169a;
}
#scheme-dark[theme="magenta"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #b40054;
}
#scheme-light[theme="magenta"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #81003c;
}
#scheme-dark[theme="cyan"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #228ada;
}
#scheme-light[theme="cyan"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #1b6eae;
}
#scheme-dark[theme="cobalt"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #004e9d;
}
#scheme-light[theme="cobalt"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #00356a;
}
#scheme-dark[theme="teal"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #006983;
}
#scheme-light[theme="teal"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #004050;
}
#scheme-dark[theme="emerald"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #007100;
}
#scheme-light[theme="emerald"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #003e00;
}
#scheme-dark[theme="green"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #128023;
}
#scheme-light[theme="green"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #128023;
}
#scheme-dark[theme="orange"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #e77120;
}
#scheme-light[theme="orange"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #bf5a15;
}
#scheme-dark[theme="red"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #c71c1c;
}
#scheme-light[theme="red"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #9a1616;
}
#scheme-dark[theme="pink"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #c71c74;
}
#scheme-light[theme="pink"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #9a165a;
}
#scheme-dark[theme="indigo"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #6400c9;
}
#scheme-light[theme="indigo"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #4b0096;
}
#scheme-dark[theme="blue"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #1c5ec7;
}
#scheme-light[theme="blue"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #16499a;
}
#scheme-dark[theme="lightBlue"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #4390df;
}
#scheme-light[theme="lightBlue"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #4390df;
}
#scheme-dark[theme="lightTeal"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #45fffd;
}
#scheme-light[theme="lightTeal"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #3CD8D6;
}
#scheme-dark[theme="lightOlive"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #78aa1c;
}
#scheme-light[theme="lightOlive"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #78aa1c;
}
#scheme-dark[theme="lightOrange"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #ffc194;
}
#scheme-light[theme="lightOrange"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #ffc194;
}
#scheme-dark[theme="lightPink"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #f472d0;
}
#scheme-light[theme="lightPink"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #f472d0;
}
#scheme-dark[theme="grayed"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #727272;
}
#scheme-light[theme="grayed"] .table-cont .dataTables_paginate .paginate_button.current {
  background-color: #585858;
}
table.dataTable ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
table.dataTable ul li {
  border-bottom: 1px solid #aaa;
  padding: 0.5em 0;
}
table.dataTable ul li:first-child {
  padding-top: 0;
}
table.dataTable ul li:last-child {
  border-bottom: none;
}
table.dataTable tbody > tr.child {
  display: none;
}
table.dataTable tbody > tr td.control,
table.dataTable tbody > tr th.control {
  position: relative;
  cursor: pointer;
}
table.dataTable tbody > tr td:first-child,
table.dataTable tbody > tr th:first-child {
  position: relative;
  cursor: pointer;
}
table.dataTable tbody > tr td:first-child [expand] {
  display: block;
}
table.dataTable tbody > tr td:first-child [collapse] {
  display: none;
}
table.dataTable tbody > tr.parent td:first-child [expand] {
  display: none;
}
table.dataTable tbody > tr.parent td:first-child [collapse] {
  display: block;
}
table.dataTable tbody > tr.child td:before {
  display: none;
}
table.dataTable.collapsed tbody > tr {
  display: table-row;
}
table.dataTable.collapsed tbody > tr.child {
  padding: 0.5em 1em;
}
table.dataTable.collapsed tbody > tr.child span.dtr-title {
  vertical-align: top;
  display: inline-block;
  min-width: 75px;
  font-weight: bold;
  margin-right: 1rem;
}
table.dataTable.collapsed tbody > tr.child span.dtr-data {
  vertical-align: top;
}
table.dataTable.collapsed tbody > tr.child span.dtr-data ul li:not(:last-child) {
  border-bottom: 0;
  padding: 0.1em 0;
}
table.dataTable.collapsed tbody > tr.child:hover {
  background: transparent !important;
}
#dmenu-backdrop {
  opacity: 1;
}
#dmenu-body {
  display: inline-block;
}
#dmenu-body #dmenu {
  border-collapse: separate;
  text-align: left;
  list-style: none inside none;
  margin: 0;
  padding: 0;
  float: left;
  z-index: 1000;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
#dmenu-body #dmenu li {
  cursor: pointer;
  padding: 0.5rem 1rem;
}
#dmenu-body #dmenu li span {
  margin-right: 0.5rem;
  vertical-align: baseline;
}
#color-settings .button {
  border-width: 0;
}
#color-settings .button.selected {
  border-width: 3px;
  border-style: solid;
}
#color-settings .button:hover {
  border-width: 3px;
  border-style: solid;
}
#color-settings .half-width {
  width: 48%;
}
#scheme-dark #csp #csp-dark {
  background-color: #e3e3e3;
}
#scheme-light #csp #csp-dark {
  background-color: #1d1d1d;
}
#scheme-dark #csp #csp-brown {
  background-color: #86493f;
}
#scheme-light #csp #csp-brown {
  background-color: #63362f;
}
#scheme-dark #csp #csp-crimson {
  background-color: #970036;
}
#scheme-light #csp #csp-crimson {
  background-color: #640024;
}
#scheme-dark #csp #csp-violet {
  background-color: #701cc7;
}
#scheme-light #csp #csp-violet {
  background-color: #57169a;
}
#scheme-dark #csp #csp-magenta {
  background-color: #b40054;
}
#scheme-light #csp #csp-magenta {
  background-color: #81003c;
}
#scheme-dark #csp #csp-cyan {
  background-color: #228ada;
}
#scheme-light #csp #csp-cyan {
  background-color: #1b6eae;
}
#scheme-dark #csp #csp-cobalt {
  background-color: #004e9d;
}
#scheme-light #csp #csp-cobalt {
  background-color: #00356a;
}
#scheme-dark #csp #csp-teal {
  background-color: #006983;
}
#scheme-light #csp #csp-teal {
  background-color: #004050;
}
#scheme-dark #csp #csp-emerald {
  background-color: #007100;
}
#scheme-light #csp #csp-emerald {
  background-color: #003e00;
}
#scheme-dark #csp #csp-green {
  background-color: #128023;
}
#scheme-light #csp #csp-green {
  background-color: #128023;
}
#scheme-dark #csp #csp-orange {
  background-color: #e77120;
}
#scheme-light #csp #csp-orange {
  background-color: #bf5a15;
}
#scheme-dark #csp #csp-red {
  background-color: #c71c1c;
}
#scheme-light #csp #csp-red {
  background-color: #9a1616;
}
#scheme-dark #csp #csp-pink {
  background-color: #c71c74;
}
#scheme-light #csp #csp-pink {
  background-color: #9a165a;
}
#scheme-dark #csp #csp-indigo {
  background-color: #6400c9;
}
#scheme-light #csp #csp-indigo {
  background-color: #4b0096;
}
#scheme-dark #csp #csp-blue {
  background-color: #1c5ec7;
}
#scheme-light #csp #csp-blue {
  background-color: #16499a;
}
#scheme-dark #csp #csp-lightBlue {
  background-color: #4390df;
}
#scheme-light #csp #csp-lightBlue {
  background-color: #4390df;
}
#scheme-dark #csp #csp-lightTeal {
  background-color: #45fffd;
}
#scheme-light #csp #csp-lightTeal {
  background-color: #3CD8D6;
}
#scheme-dark #csp #csp-lightOlive {
  background-color: #78aa1c;
}
#scheme-light #csp #csp-lightOlive {
  background-color: #78aa1c;
}
#scheme-dark #csp #csp-lightOrange {
  background-color: #ffc194;
}
#scheme-light #csp #csp-lightOrange {
  background-color: #ffc194;
}
#scheme-dark #csp #csp-lightPink {
  background-color: #f472d0;
}
#scheme-light #csp #csp-lightPink {
  background-color: #f472d0;
}
#scheme-dark #csp #csp-grayed {
  background-color: #727272;
}
#scheme-light #csp #csp-grayed {
  background-color: #585858;
}
body.color-changing {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
body.color-changing * {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
#settings-panel.charm.right-side {
  width: 29rem;
  right: -29rem;
  max-width: 100%;
}
#settings-panel.charm.right-side [settings-panel] {
  overflow-y: auto;
  margin-top: 0.7rem;
}
#user-infos-control .user-infos .user-name,
#user-infos-control .user-infos .welcome {
  display: inline-block;
  margin: 0.9rem 0.5rem 0 0;
  vertical-align: top;
}
#user-infos-control .user-infos .avatar {
  margin-top: -0.2rem;
  width: 3rem;
  height: 3rem;
  display: inline-block;
}
#user-infos-control .user-infos .avatar .frame {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
}
#user-infos-control .user-infos .avatar .frame .image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#user-infos-control .user-infos .avatar .frame .image .dropdown-toggle {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
#user-infos-control .user-infos .avatar .frame .image .d-menu {
  -webkit-transform: translate(-4rem, 0);
  -moz-transform: translate(-4rem, 0);
  -ms-transform: translate(-4rem, 0);
  -o-transform: translate(-4rem, 0);
  transform: translate(-4rem, 0);
}
#user-infos-control .user-infos .avatar .frame .image .d-menu li a {
  padding: 0 1.3rem 0 0.3rem;
  min-width: 7rem;
}
#user-infos-control .user-infos .avatar .frame .image .d-menu li a span {
  margin: 1rem;
}
#user-infos-control .user-infos .avatar.noavatar .frame .image {
  background-image: url("../images/user.svg");
  background-color: #fff;
  background-size: 90%;
  background-position: 3px 1px;
}
html {
  margin: 0;
  padding: 0;
  height: auto;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
#container {
  width: 100%;
  margin: 0 auto;
}
#container .inline {
  display: inline-block;
}
#container hr {
  margin: 0;
}
#container h2 {
  margin-bottom: 0.9rem;
}
#container header {
  padding: 0.5rem 1rem 2rem 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#container header #user-infos-panel {
  flex-basis: auto;
}
#container header #title-panel {
  padding-top: 1rem;
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 0;
}
#container header #title-panel .logo {
  background: url("../images/logo.svg") no-repeat center center;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 0.5rem 0 0;
  display: inline-block;
}
#container header #title-panel h1 {
  font-size: 2.5rem;
  display: inline-block;
}
@media all and (max-width: 880px) {
  #container header #title-panel {
    display: none;
  }
}
#container header #user-infos-panel {
  padding-top: 1.9rem;
}
#container header #trans-area {
  padding-top: 1.5rem;
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 0;
}
#container header #trans-area .input-control {
  width: 13rem;
  padding-top: 0.1rem;
}
#container #main-content {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: left;
}
#container #main-content .sidebar li a .title,
#container #main-content .sidebar li a .counter {
  margin-top: 0.4rem;
}
#container #main-content #cell-sidebar {
  flex-grow: 0;
  flex-basis: 220px;
  flex-shrink: 0;
  padding: 0.3rem 0;
}
#container #main-content #cell-content {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% - 220px - 2rem);
  padding: 0 1rem 1rem 1rem;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  #container #main-content #cell-sidebar {
    flex-basis: 52px;
  }
  #container #main-content #cell-content {
    flex-basis: calc(100% - 60px);
  }
}
#scheme-dark .sidebar li.bg-theme-over.active {
  background-color: #222 !important;
  color: #fff;
}
#scheme-light .sidebar li.bg-theme-over.active {
  background-color: #fff !important;
  color: #222 !important;
}
#light-theme {
  min-width: 35rem;
  max-width: 100%;
}
[edit-dialog] .row {
  margin: 0;
}
[edit-dialog] .label {
  margin-top: 1.5rem;
  display: block;
}
[edit-dialog] .input-control.modern {
  margin: 0 0 .625rem 0;
  width: 100%;
}
[edit-dialog] .input-control.modern.text {
  height: 2rem;
}
.maintable_toolbar [language-select] {
  width: 15rem;
  margin-right: 1rem;
}
.maintable_toolbar [language-select] .chosen-single {
  height: 1.6rem;
}
.maintable_toolbar [language-select] .chosen-single > * {
  margin-top: 0.1rem;
}
.maintable_toolbar label {
  margin-right: 0.5rem;
}
