.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}
.chosen-container .search-choice .group-name,
.chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
}
.chosen-container .search-choice .group-name:after,
.chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../../images/chosen-sprite.png) -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../../images/chosen-sprite.png) no-repeat 0 2px;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type=text] {
  margin: 1px 0;
  padding: 4px 0px 4px 0px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: #fff url(../../images/chosen-sprite.png) no-repeat 100% -20px;
  background: url(../../images/chosen-sprite.png) no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 640px) {
  .chosen-container .chosen-results {
    max-height: 340px;
  }
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: 700;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto!important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0!important;
  background: transparent!important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eee;
  background-clip: padding-box;
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../../images/chosen-sprite.png) -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: 0;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type=text] {
  color: #222 !important;
}
.chosen-disabled {
  opacity: .5!important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type=text] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: 0;
}
.chosen-rtl .chosen-search input[type=text] {
  padding: 4px 5px 4px 20px;
  background: #fff url(../../images/chosen-sprite.png) no-repeat -30px -20px;
  background: url(../../images/chosen-sprite.png) no-repeat -30px -20px;
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type=text],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type=text],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url(../../images/chosen-sprite.png) !important;
    background-size: 52px 37px!important;
    background-repeat: no-repeat !important;
  }
}
.chosen-container .chosen-single,
.chosen-container .chosen-choices,
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding-left: 2px;
  overflow: visible;
  line-height: 25px;
}
.chosen-container {
  border-width: 1px;
  border-style: solid;
}
.chosen-container .chosen-drop {
  box-sizing: content-box;
  margin-left: -1px;
}
.chosen-container .chosen-drop .chosen-results li {
  background-image: none;
  padding: 9px;
  margin-left: -4px;
}
.chosen-container.loading .chosen-drop {
  height: 40px;
}
.chosen-container.loading .chosen-drop .chosen-results {
  display: none;
}
.chosen-container.loading .chosen-drop .chosen-search {
  display: none;
}
.chosen-container.loading .chosen-drop lang {
  margin: 3px 5px;
  position: relative;
  display: block;
  width: 100%;
}
.chosen-container:not(.chosen-container-active) {
  border-width: 1px;
  border-style: solid;
  border-color: transparent!important;
  border-bottom: 2px #DDDDDD solid !important;
}
#translator .chosen-single {
  height: 1.6rem;
}
#translator .chosen-single > * {
  margin-top: 0.1rem;
}
lang {
  display: inline-block;
}
#notify {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
#notify .charm-closer {
  display: none;
}
#notify .message {
  display: block;
  display: flex;
  justify-content: flex-end;
}
#notify .message .icon {
  height: 2rem;
  flex-basis: auto;
  padding: 0.4rem 1.3rem;
  margin: 0.3rem 0 0.3rem 0.3rem;
  display: inline-block;
}
#notify .message .label {
  margin: 0.7rem 0.6rem;
  align-self: center;
  flex-grow: 1;
  flex-basis: auto;
  display: inline-block;
}
#notify .message .button {
  flex-basis: auto;
  margin: 0;
  height: 2.5rem;
  padding: 0.8rem 1.3rem;
  display: inline-block;
}
#notify .message.error .icon {
  background-color: #9a1616;
  color: #fff;
}
#notify .message.info .icon {
  background-color: #004e9d;
  color: #fff;
}
#notify .message.warning .icon {
  background-color: #e77120;
  color: #fff;
}
[for].error {
  color: red !important;
}
.input-control.modern {
  height: auto;
}
.input-control.modern input,
.input-control.modern select {
  margin-top: -0.1rem;
  height: 2.1rem;
  padding-bottom: 0;
}
.input-control.modern .placeholder {
  font-size: 0.85rem;
  top: 1.5rem;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.input-control.modern .informer {
  top: 1.5rem;
  left: auto;
  right: 0;
  -webkit-transform: translate(-100px, 0);
  -moz-transform: translate(-100px, 0);
  -ms-transform: translate(-100px, 0);
  -o-transform: translate(-100px, 0);
  transform: translate(-100px, 0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.input-control.modern input:focus ~ .informer {
  z-index: 100;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
}
.input-control.modern .unitholder {
  font-size: 0.75rem;
  top: 1.5rem;
  z-index: 1;
  left: 0;
  position: absolute;
  white-space: nowrap;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.input-control.modern [class*=input-state-] {
  top: 1.8rem;
  margin-right: -1rem;
  right: 0;
}
.input-control.modern.iconic .icon {
  top: 1.7rem;
}
.input-control.modern input.focus ~ .unitholder,
.input-control.modern:not(.empty) .unitholder {
  font-size: 0.875rem;
  top: 1.5rem;
  left: 100%;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translate(-100%, 0%);
  -moz-transform: translate(-100%, 0%);
  -ms-transform: translate(-100%, 0%);
  -o-transform: translate(-100%, 0%);
  transform: translate(-100%, 0%);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.input-control.modern.empty input:not(:focus) ~ .unitholder.wplaceholder {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.input-control.modern:not(.empty) .placeholder {
  display: none;
}
.input-control.modern.error .informer {
  right: 13px;
}
.input-control.modern.error input:focus ~ .unitholder {
  left: 97%;
}
.input-control.modern.error .chosen-container:not(.chosen-container-active) {
  border-bottom-color: #ce352c !important;
}
.input-control.modern.error input {
  padding-right: 0.75rem !important;
}
.input-control.modern.error:not(.empty) .unitholder {
  left: 97%;
}
.input-control.modern input[readonly] {
  border-bottom-color: transparent;
}
.input-control.modern.select .chosen-container,
.input-control.modern.select select {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  bottom: .5rem;
  border: 0;
  border-bottom: 2px #DDDDDD solid;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  padding-left: 0;
  width: 100%;
}
.input-control.modern.select .chosen-container {
  height: 1.75rem;
  margin-top: 0.25rem;
  padding-bottom: .5rem;
}
.input-control.modern.select .chosen-container .chosen-drop input {
  position: relative;
  top: 0;
  bottom: 0;
}
.input-control.modern.select .chosen-container ~ .placeholder {
  cursor: pointer;
}
.input-control.modern.select select:not(.empty) ~ .placeholder {
  display: none;
}
.input-control:not(.modern) .placeholder {
  font-size: 0.85rem;
  top: 1.5rem;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.input-control:not(.modern) .placeholder {
  font-size: 1rem;
  color: #888;
  position: absolute;
  top: 0.6rem;
  left: 0.5rem;
  z-index: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.input-control:not(.modern) input:focus ~ .placeholder {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translate(200px, 0);
  -moz-transform: translate(200px, 0);
  -ms-transform: translate(200px, 0);
  -o-transform: translate(200px, 0);
  transform: translate(200px, 0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  -o-appearance: textfield;
  appearance: textfield;
}
input:invalid {
  box-shadow: none;
}
input:-moz-submit-invalid {
  box-shadow: none;
}
input:-moz-ui-invalid {
  box-shadow: none;
}
#waiting-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1052;
  background-color: #222;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
#waiting-panel .preloader-ring {
  -webkit-transform: translate(0, -5rem);
  -moz-transform: translate(0, -5rem);
  -ms-transform: translate(0, -5rem);
  -o-transform: translate(0, -5rem);
  transform: translate(0, -5rem);
  margin-left: auto;
  margin-right: auto;
  top: 50%;
}
#waiting-panel .preloader-ring .wrap {
  width: 5rem;
  height: 5rem;
}
#waiting-panel .preloader-ring .wrap .circle {
  width: 5rem;
  height: 5rem;
}
#waiting-panel .preloader-ring .wrap .circle:after {
  height: 0.6rem;
  width: 0.61rem;
}
.tooltip-body {
  position: absolute;
  z-index: 1100;
  display: inline-block;
}
.tooltip-body .tooltip-text {
  white-space: nowrap;
  pointer-events: none;
  padding: 0.5rem;
  border-radius: 5px;
}
.tooltip-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1052;
  background-color: red !important;
}
html {
  overflow: hidden;
}
#light-theme {
  opacity: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -o-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  width: 100%;
  max-width: 680px;
  position: absolute;
  left: 50%;
  top: 50%;
  /* Change the white to any color ;) */
}
#light-theme h1 {
  margin: 0;
}
#light-theme a {
  text-decoration: none;
}
#light-theme .alert {
  padding-top: 10px;
}
#light-theme .loading {
  cursor: wait;
}
#light-theme .loading .preloader-status {
  display: inline-block;
  right: 5px;
  left: 5px;
  bottom: 8px;
  width: auto;
  position: absolute;
}
#light-theme input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #eeeeee inset;
}
#light-theme .alt a:not(:first-child) .button {
  margin-left: 0.3rem;
}
#light-theme .alt {
  width: 100%;
}
#light-theme .alt .button {
  padding: 0 0.8rem;
}
#light-theme .alt .button span:first-child {
  margin: -0.1rem 0.3rem 0 0;
}
#light-theme .bg-facebook {
  background-color: #3a5795 !important;
}
#light-theme .bg-google {
  background-color: #9f0100 !important;
}
#light-theme .bg-twitter {
  background-color: #55acee !important;
}
.v-signup,
.v-login,
.v-pwdchange,
.v-pwdreset {
  display: none !important;
}
body.login .v-login {
  display: inline-block !important;
}
body.signup .v-signup {
  display: inline-block !important;
}
body.pwdreset .v-pwdreset {
  display: inline-block !important;
}
body.pwdchange .v-pwdchange {
  display: inline-block !important;
}
#light-theme.loaded {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#container {
  max-width: 1440px;
  width: 100%;
}
#container header {
  padding: 0.5rem 1rem 2.5rem 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
#container header #trans-area {
  padding-top: 1.5rem;
  flex-basis: auto;
}
#container header #trans-area .input-control {
  width: 13rem;
  padding-top: 0.1rem;
}
