#scheme-dark {
  background-color: #222;
}
#scheme-dark .bg-darker {
  background: #222 !important;
}
#scheme-dark .bg-darker-over:hover {
  background: #333 !important;
}
#scheme-dark .bg-dark {
  background: #333 !important;
}
#scheme-dark .bg-dark-over:hover {
  background: #444 !important;
}
#scheme-dark .bg-darkgrey {
  background: #555 !important;
}
#scheme-dark .bg-darkgrey-over:hover {
  background: #666 !important;
}
#scheme-dark .bg-lighter {
  background: #fff !important;
}
#scheme-dark .bg-transparent {
  background: transparent !important;
}
#scheme-dark .bg-transparent-over:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}
#scheme-dark .bg-lighter-over:hover {
  background: #eee !important;
}
#scheme-dark .fg-darker {
  color: #111 !important;
}
#scheme-dark .fg-light {
  color: #bbb !important;
}
#scheme-dark .fg-lighter {
  color: #fff !important;
}
#scheme-dark .fl-light path {
  fill: #bbb !important;
}
#scheme-dark .fl-lighter path,
#scheme-dark .fl-lighter text {
  fill: #fff !important;
}
#scheme-dark .bo-light-over:hover {
  border-color: #bbb !important;
}
#scheme-dark .bo-lighter {
  border-color: #fff !important;
}
#scheme-dark .bo-lighter-over:hover {
  border-color: #bbb !important;
}
#scheme-dark .bo-lighter-selected.selected {
  border-color: #fff !important;
}
#scheme-dark .bo-lighter-over:hover {
  border-color: #888 !important;
}
#scheme-dark .bo-lighter-selected:hover {
  border-color: #bbb !important;
}
#scheme-dark .preloader-metro[data-style='sheme'] .circle {
  background-color: #fff;
}
#scheme-dark .op-dark {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
#scheme-light {
  background-color: #fff;
}
#scheme-light .bg-darker {
  background: #fff !important;
}
#scheme-light .bg-darker-over:hover {
  background: #eee !important;
}
#scheme-light .bg-dark {
  background: #eee !important;
}
#scheme-light .bg-dark-over:hover {
  background: #ddd !important;
}
#scheme-light .bg-darkgrey {
  background: #999 !important;
}
#scheme-light .bg-darkgrey-over:hover {
  background: #777 !important;
}
#scheme-light .bg-lighter {
  background: #222 !important;
}
#scheme-light .bg-lighter-over:hover {
  background: #333 !important;
}
#scheme-light .bg-transparent {
  background: transparent !important;
}
#scheme-light .bg-transparent-over:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}
#scheme-light .fg-darker {
  color: #fff !important;
}
#scheme-light .fg-light {
  color: #333 !important;
}
#scheme-light .fg-lighter {
  color: #222 !important;
}
#scheme-light .fl-light path {
  fill: #333 !important;
}
#scheme-light .fl-lighter path {
  fill: #222 !important;
}
#scheme-light .bo-light-over:hover {
  border-color: #333 !important;
}
#scheme-light .bo-lighter {
  border-color: #222 !important;
}
#scheme-light .bo-lighter-selected.selected {
  border-color: #222 !important;
}
#scheme-light .bo-lighter-over:hover {
  border-color: #333 !important;
}
#scheme-light .preloader-metro[data-style='sheme'] .circle {
  background-color: #222;
}
#scheme-light .op-dark {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
#scheme-dark[theme="dark"] .bg-theme,
#scheme-dark[theme="dark"] .bg-theme-selected .selected,
#scheme-dark[theme="dark"] .bg-theme-highlight .highlighted {
  background-color: #e3e3e3 !important;
}
#scheme-dark[theme="dark"] .bg-theme-over:hover {
  background-color: #444 !important;
}
#scheme-dark[theme="dark"] .fg-theme-over:hover {
  color: #888 !important;
}
#scheme-dark[theme="dark"] .fg-theme {
  color: #E8E8E8 !important;
}
#scheme-dark[theme="dark"] .bo-theme {
  border-color: #E8E8E8;
}
#scheme-dark[theme="dark"] .fg-theme-selected .selected,
#scheme-dark[theme="dark"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="dark"] .bg-theme-over.fg-theme-over:hover {
  color: #222 !important;
}
#scheme-light[theme="dark"] .bg-theme,
#scheme-light[theme="dark"] .bg-theme-selected .selected,
#scheme-light[theme="dark"] .bg-theme-highlight .highlighted {
  background-color: #1d1d1d !important;
}
#scheme-light[theme="dark"] .bg-theme-over:hover {
  background-color: #bdbdbd !important;
}
#scheme-light[theme="dark"] .fg-theme-over:hover {
  color: #888 !important;
}
#scheme-light[theme="dark"] .fg-theme {
  color: #373737 !important;
}
#scheme-light[theme="dark"] .bo-theme {
  border-color: #373737;
}
#scheme-light[theme="dark"] .fg-theme-selected .selected,
#scheme-light[theme="dark"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="brown"] .bg-theme,
#scheme-dark[theme="brown"] .bg-theme-selected .selected,
#scheme-dark[theme="brown"] .bg-theme-highlight .highlighted {
  background-color: #86493f !important;
}
#scheme-dark[theme="brown"] .bg-theme-over:hover {
  background-color: #9E645B !important;
}
#scheme-dark[theme="brown"] .fg-theme,
#scheme-dark[theme="brown"] .fg-theme-over:hover {
  color: #995449 !important;
}
#scheme-dark[theme="brown"] .bo-theme {
  border-color: #995449;
}
#scheme-dark[theme="brown"] .fg-theme-selected .selected,
#scheme-dark[theme="brown"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="brown"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="brown"] .bg-theme,
#scheme-light[theme="brown"] .bg-theme-selected .selected,
#scheme-light[theme="brown"] .bg-theme-highlight .highlighted {
  background-color: #63362f !important;
}
#scheme-light[theme="brown"] .bg-theme-over:hover {
  background-color: #FFDDD8 !important;
}
#scheme-light[theme="brown"] .fg-theme,
#scheme-light[theme="brown"] .fg-theme-over:hover {
  color: #86493f !important;
}
#scheme-light[theme="brown"] .bo-theme {
  border-color: #86493f;
}
#scheme-light[theme="brown"] .fg-theme-selected .selected,
#scheme-light[theme="brown"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="crimson"] .bg-theme,
#scheme-dark[theme="crimson"] .bg-theme-selected .selected,
#scheme-dark[theme="crimson"] .bg-theme-highlight .highlighted {
  background-color: #970036 !important;
}
#scheme-dark[theme="crimson"] .bg-theme-over:hover {
  background-color: #AF114B !important;
}
#scheme-dark[theme="crimson"] .fg-theme,
#scheme-dark[theme="crimson"] .fg-theme-over:hover {
  color: #AF0040 !important;
}
#scheme-dark[theme="crimson"] .bo-theme {
  border-color: #AF0040;
}
#scheme-dark[theme="crimson"] .fg-theme-selected .selected,
#scheme-dark[theme="crimson"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="crimson"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="crimson"] .bg-theme,
#scheme-light[theme="crimson"] .bg-theme-selected .selected,
#scheme-light[theme="crimson"] .bg-theme-highlight .highlighted {
  background-color: #640024 !important;
}
#scheme-light[theme="crimson"] .bg-theme-over:hover {
  background-color: #FFD6E7 !important;
}
#scheme-light[theme="crimson"] .fg-theme,
#scheme-light[theme="crimson"] .fg-theme-over:hover {
  color: #970036 !important;
}
#scheme-light[theme="crimson"] .bo-theme {
  border-color: #970036;
}
#scheme-light[theme="crimson"] .fg-theme-selected .selected,
#scheme-light[theme="crimson"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="violet"] .bg-theme,
#scheme-dark[theme="violet"] .bg-theme-selected .selected,
#scheme-dark[theme="violet"] .bg-theme-highlight .highlighted {
  background-color: #701cc7 !important;
}
#scheme-dark[theme="violet"] .bg-theme-over:hover {
  background-color: #8938E0 !important;
}
#scheme-dark[theme="violet"] .fg-theme,
#scheme-dark[theme="violet"] .fg-theme-over:hover {
  color: #8724F2 !important;
}
#scheme-dark[theme="violet"] .bo-theme {
  border-color: #8724F2;
}
#scheme-dark[theme="violet"] .fg-theme-selected .selected,
#scheme-dark[theme="violet"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="violet"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="violet"] .bg-theme,
#scheme-light[theme="violet"] .bg-theme-selected .selected,
#scheme-light[theme="violet"] .bg-theme-highlight .highlighted {
  background-color: #57169a !important;
}
#scheme-light[theme="violet"] .bg-theme-over:hover {
  background-color: #E5D4F9 !important;
}
#scheme-light[theme="violet"] .fg-theme,
#scheme-light[theme="violet"] .fg-theme-over:hover {
  color: #701cc7 !important;
}
#scheme-light[theme="violet"] .bo-theme {
  border-color: #701cc7;
}
#scheme-light[theme="violet"] .fg-theme-selected .selected,
#scheme-light[theme="violet"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="magenta"] .bg-theme,
#scheme-dark[theme="magenta"] .bg-theme-selected .selected,
#scheme-dark[theme="magenta"] .bg-theme-highlight .highlighted {
  background-color: #b40054 !important;
}
#scheme-dark[theme="magenta"] .bg-theme-over:hover {
  background-color: #CE2172 !important;
}
#scheme-dark[theme="magenta"] .fg-theme,
#scheme-dark[theme="magenta"] .fg-theme-over:hover {
  color: #D30062 !important;
}
#scheme-dark[theme="magenta"] .bo-theme {
  border-color: #D30062;
}
#scheme-dark[theme="magenta"] .fg-theme-selected .selected,
#scheme-dark[theme="magenta"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="magenta"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="magenta"] .bg-theme,
#scheme-light[theme="magenta"] .bg-theme-selected .selected,
#scheme-light[theme="magenta"] .bg-theme-highlight .highlighted {
  background-color: #81003c !important;
}
#scheme-light[theme="magenta"] .bg-theme-over:hover {
  background-color: #FFD8EA !important;
}
#scheme-light[theme="magenta"] .fg-theme,
#scheme-light[theme="magenta"] .fg-theme-over:hover {
  color: #b40054 !important;
}
#scheme-light[theme="magenta"] .bo-theme {
  border-color: #b40054;
}
#scheme-light[theme="magenta"] .fg-theme-selected .selected,
#scheme-light[theme="magenta"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="cyan"] .bg-theme,
#scheme-dark[theme="cyan"] .bg-theme-selected .selected,
#scheme-dark[theme="cyan"] .bg-theme-highlight .highlighted {
  background-color: #228ada !important;
}
#scheme-dark[theme="cyan"] .bg-theme-over:hover {
  background-color: #59A8E5 !important;
}
#scheme-dark[theme="cyan"] .fg-theme,
#scheme-dark[theme="cyan"] .fg-theme-over:hover {
  color: #238EE0 !important;
}
#scheme-dark[theme="cyan"] .bo-theme {
  border-color: #238EE0;
}
#scheme-dark[theme="cyan"] .fg-theme-selected .selected,
#scheme-dark[theme="cyan"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="cyan"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="cyan"] .bg-theme,
#scheme-light[theme="cyan"] .bg-theme-selected .selected,
#scheme-light[theme="cyan"] .bg-theme-highlight .highlighted {
  background-color: #1b6eae !important;
}
#scheme-light[theme="cyan"] .bg-theme-over:hover {
  background-color: #D8EFFF !important;
}
#scheme-light[theme="cyan"] .fg-theme,
#scheme-light[theme="cyan"] .fg-theme-over:hover {
  color: #228ada !important;
}
#scheme-light[theme="cyan"] .bo-theme {
  border-color: #228ada;
}
#scheme-light[theme="cyan"] .fg-theme-selected .selected,
#scheme-light[theme="cyan"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="cobalt"] .bg-theme,
#scheme-dark[theme="cobalt"] .bg-theme-selected .selected,
#scheme-dark[theme="cobalt"] .bg-theme-highlight .highlighted {
  background-color: #004e9d !important;
}
#scheme-dark[theme="cobalt"] .bg-theme-over:hover {
  background-color: #1263B5 !important;
}
#scheme-dark[theme="cobalt"] .fg-theme,
#scheme-dark[theme="cobalt"] .fg-theme-over:hover {
  color: #0060C1 !important;
}
#scheme-dark[theme="cobalt"] .bo-theme {
  border-color: #0060C1;
}
#scheme-dark[theme="cobalt"] .fg-theme-selected .selected,
#scheme-dark[theme="cobalt"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="cobalt"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="cobalt"] .bg-theme,
#scheme-light[theme="cobalt"] .bg-theme-selected .selected,
#scheme-light[theme="cobalt"] .bg-theme-highlight .highlighted {
  background-color: #00356a !important;
}
#scheme-light[theme="cobalt"] .bg-theme-over:hover {
  background-color: #BFE0FF !important;
}
#scheme-light[theme="cobalt"] .fg-theme,
#scheme-light[theme="cobalt"] .fg-theme-over:hover {
  color: #004e9d !important;
}
#scheme-light[theme="cobalt"] .bo-theme {
  border-color: #004e9d;
}
#scheme-light[theme="cobalt"] .fg-theme-selected .selected,
#scheme-light[theme="cobalt"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="teal"] .bg-theme,
#scheme-dark[theme="teal"] .bg-theme-selected .selected,
#scheme-dark[theme="teal"] .bg-theme-highlight .highlighted {
  background-color: #006983 !important;
}
#scheme-dark[theme="teal"] .bg-theme-over:hover {
  background-color: #0F819B !important;
}
#scheme-dark[theme="teal"] .fg-theme,
#scheme-dark[theme="teal"] .fg-theme-over:hover {
  color: #007893 !important;
}
#scheme-dark[theme="teal"] .bo-theme {
  border-color: #007893;
}
#scheme-dark[theme="teal"] .fg-theme-selected .selected,
#scheme-dark[theme="teal"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="teal"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="teal"] .bg-theme,
#scheme-light[theme="teal"] .bg-theme-selected .selected,
#scheme-light[theme="teal"] .bg-theme-highlight .highlighted {
  background-color: #004050 !important;
}
#scheme-light[theme="teal"] .bg-theme-over:hover {
  background-color: #CCF4FF !important;
}
#scheme-light[theme="teal"] .fg-theme,
#scheme-light[theme="teal"] .fg-theme-over:hover {
  color: #006983 !important;
}
#scheme-light[theme="teal"] .bo-theme {
  border-color: #006983;
}
#scheme-light[theme="teal"] .fg-theme-selected .selected,
#scheme-light[theme="teal"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="emerald"] .bg-theme,
#scheme-dark[theme="emerald"] .bg-theme-selected .selected,
#scheme-dark[theme="emerald"] .bg-theme-highlight .highlighted {
  background-color: #007100 !important;
}
#scheme-dark[theme="emerald"] .bg-theme-over:hover {
  background-color: #0D890D !important;
}
#scheme-dark[theme="emerald"] .fg-theme,
#scheme-dark[theme="emerald"] .fg-theme-over:hover {
  color: #008400 !important;
}
#scheme-dark[theme="emerald"] .bo-theme {
  border-color: #008400;
}
#scheme-dark[theme="emerald"] .fg-theme-selected .selected,
#scheme-dark[theme="emerald"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="emerald"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="emerald"] .bg-theme,
#scheme-light[theme="emerald"] .bg-theme-selected .selected,
#scheme-light[theme="emerald"] .bg-theme-highlight .highlighted {
  background-color: #003e00 !important;
}
#scheme-light[theme="emerald"] .bg-theme-over:hover {
  background-color: #8ECC8E !important;
}
#scheme-light[theme="emerald"] .fg-theme,
#scheme-light[theme="emerald"] .fg-theme-over:hover {
  color: #007100 !important;
}
#scheme-light[theme="emerald"] .bo-theme {
  border-color: #007100;
}
#scheme-light[theme="emerald"] .fg-theme-selected .selected,
#scheme-light[theme="emerald"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="green"] .bg-theme,
#scheme-dark[theme="green"] .bg-theme-selected .selected,
#scheme-dark[theme="green"] .bg-theme-highlight .highlighted {
  background-color: #128023 !important;
}
#scheme-dark[theme="green"] .bg-theme-over:hover {
  background-color: #085608 !important;
}
#scheme-dark[theme="green"] .fg-theme,
#scheme-dark[theme="green"] .fg-theme-over:hover {
  color: #1ABC32 !important;
}
#scheme-dark[theme="green"] .bo-theme {
  border-color: #1ABC32;
}
#scheme-dark[theme="green"] .fg-theme-selected .selected,
#scheme-dark[theme="green"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="green"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="green"] .bg-theme,
#scheme-light[theme="green"] .bg-theme-selected .selected,
#scheme-light[theme="green"] .bg-theme-highlight .highlighted {
  background-color: #128023 !important;
}
#scheme-light[theme="green"] .bg-theme-over:hover {
  background-color: #8ECC8E !important;
}
#scheme-light[theme="green"] .fg-theme,
#scheme-light[theme="green"] .fg-theme-over:hover {
  color: #18ad2f !important;
}
#scheme-light[theme="green"] .bo-theme {
  border-color: #18ad2f;
}
#scheme-light[theme="green"] .fg-theme-selected .selected,
#scheme-light[theme="green"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="orange"] .bg-theme,
#scheme-dark[theme="orange"] .bg-theme-selected .selected,
#scheme-dark[theme="orange"] .bg-theme-highlight .highlighted {
  background-color: #e77120 !important;
}
#scheme-dark[theme="orange"] .bg-theme-over:hover {
  background-color: #CC5608 !important;
}
#scheme-dark[theme="orange"] .fg-theme,
#scheme-dark[theme="orange"] .fg-theme-over:hover {
  color: #F97822 !important;
}
#scheme-dark[theme="orange"] .bo-theme {
  border-color: #F97822;
}
#scheme-dark[theme="orange"] .fg-theme-selected .selected,
#scheme-dark[theme="orange"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="orange"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="orange"] .bg-theme,
#scheme-light[theme="orange"] .bg-theme-selected .selected,
#scheme-light[theme="orange"] .bg-theme-highlight .highlighted {
  background-color: #bf5a15 !important;
}
#scheme-light[theme="orange"] .bg-theme-over:hover {
  background-color: #FFD1B2 !important;
}
#scheme-light[theme="orange"] .fg-theme,
#scheme-light[theme="orange"] .fg-theme-over:hover {
  color: #e77120 !important;
}
#scheme-light[theme="orange"] .bo-theme {
  border-color: #e77120;
}
#scheme-light[theme="orange"] .fg-theme-selected .selected,
#scheme-light[theme="orange"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="red"] .bg-theme,
#scheme-dark[theme="red"] .bg-theme-selected .selected,
#scheme-dark[theme="red"] .bg-theme-highlight .highlighted {
  background-color: #c71c1c !important;
}
#scheme-dark[theme="red"] .bg-theme-over:hover {
  background-color: #AD0808 !important;
}
#scheme-dark[theme="red"] .fg-theme,
#scheme-dark[theme="red"] .fg-theme-over:hover {
  color: #D62020 !important;
}
#scheme-dark[theme="red"] .bo-theme {
  border-color: #D62020;
}
#scheme-dark[theme="red"] .fg-theme-selected .selected,
#scheme-dark[theme="red"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="red"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="red"] .bg-theme,
#scheme-light[theme="red"] .bg-theme-selected .selected,
#scheme-light[theme="red"] .bg-theme-highlight .highlighted {
  background-color: #9a1616 !important;
}
#scheme-light[theme="red"] .bg-theme-over:hover {
  background-color: #FFAAAA !important;
}
#scheme-light[theme="red"] .fg-theme,
#scheme-light[theme="red"] .fg-theme-over:hover {
  color: #c71c1c !important;
}
#scheme-light[theme="red"] .bo-theme {
  border-color: #c71c1c;
}
#scheme-light[theme="red"] .fg-theme-selected .selected,
#scheme-light[theme="red"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="pink"] .bg-theme,
#scheme-dark[theme="pink"] .bg-theme-selected .selected,
#scheme-dark[theme="pink"] .bg-theme-highlight .highlighted {
  background-color: #c71c74 !important;
}
#scheme-dark[theme="pink"] .bg-theme-over:hover {
  background-color: #AD085D !important;
}
#scheme-dark[theme="pink"] .fg-theme,
#scheme-dark[theme="pink"] .fg-theme-over:hover {
  color: #DD2185 !important;
}
#scheme-dark[theme="pink"] .bo-theme {
  border-color: #DD2185;
}
#scheme-dark[theme="pink"] .fg-theme-selected .selected,
#scheme-dark[theme="pink"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="pink"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="pink"] .bg-theme,
#scheme-light[theme="pink"] .bg-theme-selected .selected,
#scheme-light[theme="pink"] .bg-theme-highlight .highlighted {
  background-color: #9a165a !important;
}
#scheme-light[theme="pink"] .bg-theme-over:hover {
  background-color: #FFB2DA !important;
}
#scheme-light[theme="pink"] .fg-theme,
#scheme-light[theme="pink"] .fg-theme-over:hover {
  color: #c71c74 !important;
}
#scheme-light[theme="pink"] .bo-theme {
  border-color: #c71c74;
}
#scheme-light[theme="pink"] .fg-theme-selected .selected,
#scheme-light[theme="pink"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="indigo"] .bg-theme,
#scheme-dark[theme="indigo"] .bg-theme-selected .selected,
#scheme-dark[theme="indigo"] .bg-theme-highlight .highlighted {
  background-color: #6400c9 !important;
}
#scheme-dark[theme="indigo"] .bg-theme-over:hover {
  background-color: #7816E0 !important;
}
#scheme-dark[theme="indigo"] .fg-theme,
#scheme-dark[theme="indigo"] .fg-theme-over:hover {
  color: #7B00FF !important;
}
#scheme-dark[theme="indigo"] .bo-theme {
  border-color: #7B00FF;
}
#scheme-dark[theme="indigo"] .fg-theme-selected .selected,
#scheme-dark[theme="indigo"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="indigo"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="indigo"] .bg-theme,
#scheme-light[theme="indigo"] .bg-theme-selected .selected,
#scheme-light[theme="indigo"] .bg-theme-highlight .highlighted {
  background-color: #4b0096 !important;
}
#scheme-light[theme="indigo"] .bg-theme-over:hover {
  background-color: #D2A5FF !important;
}
#scheme-light[theme="indigo"] .fg-theme,
#scheme-light[theme="indigo"] .fg-theme-over:hover {
  color: #6400c9 !important;
}
#scheme-light[theme="indigo"] .bo-theme {
  border-color: #6400c9;
}
#scheme-light[theme="indigo"] .fg-theme-selected .selected,
#scheme-light[theme="indigo"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="blue"] .bg-theme,
#scheme-dark[theme="blue"] .bg-theme-selected .selected,
#scheme-dark[theme="blue"] .bg-theme-highlight .highlighted {
  background-color: #1c5ec7 !important;
}
#scheme-dark[theme="blue"] .bg-theme-over:hover {
  background-color: #387BE0 !important;
}
#scheme-dark[theme="blue"] .fg-theme,
#scheme-dark[theme="blue"] .fg-theme-over:hover {
  color: #2270E5 !important;
}
#scheme-dark[theme="blue"] .bo-theme {
  border-color: #2270E5;
}
#scheme-dark[theme="blue"] .fg-theme-selected .selected,
#scheme-dark[theme="blue"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="blue"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="blue"] .bg-theme,
#scheme-light[theme="blue"] .bg-theme-selected .selected,
#scheme-light[theme="blue"] .bg-theme-highlight .highlighted {
  background-color: #16499a !important;
}
#scheme-light[theme="blue"] .bg-theme-over:hover {
  background-color: #B2E2FF !important;
}
#scheme-light[theme="blue"] .fg-theme,
#scheme-light[theme="blue"] .fg-theme-over:hover {
  color: #1c5ec7 !important;
}
#scheme-light[theme="blue"] .bo-theme {
  border-color: #1c5ec7;
}
#scheme-light[theme="blue"] .fg-theme-selected .selected,
#scheme-light[theme="blue"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="lightBlue"] .bg-theme,
#scheme-dark[theme="lightBlue"] .bg-theme-selected .selected,
#scheme-dark[theme="lightBlue"] .bg-theme-highlight .highlighted {
  background-color: #4390df !important;
}
#scheme-dark[theme="lightBlue"] .bg-theme-over:hover {
  background-color: #2976C4 !important;
}
#scheme-dark[theme="lightBlue"] .fg-theme,
#scheme-dark[theme="lightBlue"] .fg-theme-over:hover {
  color: #6faae6 !important;
}
#scheme-dark[theme="lightBlue"] .bo-theme {
  border-color: #6faae6;
}
#scheme-dark[theme="lightBlue"] .fg-theme-selected .selected,
#scheme-dark[theme="lightBlue"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="lightBlue"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="lightBlue"] .bg-theme,
#scheme-light[theme="lightBlue"] .bg-theme-selected .selected,
#scheme-light[theme="lightBlue"] .bg-theme-highlight .highlighted {
  background-color: #4390df !important;
}
#scheme-light[theme="lightBlue"] .bg-theme-over:hover {
  background-color: #75BCFF !important;
}
#scheme-light[theme="lightBlue"] .fg-theme,
#scheme-light[theme="lightBlue"] .fg-theme-over:hover {
  color: #5C8CBC !important;
}
#scheme-light[theme="lightBlue"] .bo-theme {
  border-color: #5C8CBC;
}
#scheme-light[theme="lightBlue"] .fg-theme-selected .selected,
#scheme-light[theme="lightBlue"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="lightTeal"] .bg-theme,
#scheme-dark[theme="lightTeal"] .bg-theme-selected .selected,
#scheme-dark[theme="lightTeal"] .bg-theme-highlight .highlighted {
  background-color: #45fffd !important;
}
#scheme-dark[theme="lightTeal"] .bg-theme-over:hover {
  background-color: #29E5E2 !important;
}
#scheme-dark[theme="lightTeal"] .fg-theme,
#scheme-dark[theme="lightTeal"] .fg-theme-over:hover {
  color: #78fffd !important;
}
#scheme-dark[theme="lightTeal"] .bo-theme {
  border-color: #78fffd;
}
#scheme-dark[theme="lightTeal"] .fg-theme-selected .selected,
#scheme-dark[theme="lightTeal"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="lightTeal"] .bg-theme-over.fg-theme-over:hover {
  color: #222 !important;
}
#scheme-light[theme="lightTeal"] .bg-theme,
#scheme-light[theme="lightTeal"] .bg-theme-selected .selected,
#scheme-light[theme="lightTeal"] .bg-theme-highlight .highlighted {
  background-color: #5BEFED !important;
}
#scheme-light[theme="lightTeal"] .bg-theme-over:hover {
  background-color: #3CD8D6 !important;
}
#scheme-light[theme="lightTeal"] .fg-theme,
#scheme-light[theme="lightTeal"] .fg-theme-over:hover {
  color: #64D1CF !important;
}
#scheme-light[theme="lightTeal"] .bo-theme {
  border-color: #64D1CF;
}
#scheme-light[theme="lightTeal"] .fg-theme-selected .selected,
#scheme-light[theme="lightTeal"] .fg-theme-highlight .highlighted {
  color: #222 !important;
}
#scheme-dark[theme="lightOlive"] .bg-theme,
#scheme-dark[theme="lightOlive"] .bg-theme-selected .selected,
#scheme-dark[theme="lightOlive"] .bg-theme-highlight .highlighted {
  background-color: #78aa1c !important;
}
#scheme-dark[theme="lightOlive"] .bg-theme-over:hover {
  background-color: #608E09 !important;
}
#scheme-dark[theme="lightOlive"] .fg-theme,
#scheme-dark[theme="lightOlive"] .fg-theme-over:hover {
  color: #97d623 !important;
}
#scheme-dark[theme="lightOlive"] .bo-theme {
  border-color: #97d623;
}
#scheme-dark[theme="lightOlive"] .fg-theme-selected .selected,
#scheme-dark[theme="lightOlive"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="lightOlive"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="lightOlive"] .bg-theme,
#scheme-light[theme="lightOlive"] .bg-theme-selected .selected,
#scheme-light[theme="lightOlive"] .bg-theme-highlight .highlighted {
  background-color: #78aa1c !important;
}
#scheme-light[theme="lightOlive"] .bg-theme-over:hover {
  background-color: #90C134 !important;
}
#scheme-light[theme="lightOlive"] .fg-theme,
#scheme-light[theme="lightOlive"] .fg-theme-over:hover {
  color: #7EB21E !important;
}
#scheme-light[theme="lightOlive"] .bo-theme {
  border-color: #7EB21E;
}
#scheme-light[theme="lightOlive"] .fg-theme-selected .selected,
#scheme-light[theme="lightOlive"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="lightOrange"] .bg-theme,
#scheme-dark[theme="lightOrange"] .bg-theme-selected .selected,
#scheme-dark[theme="lightOrange"] .bg-theme-highlight .highlighted {
  background-color: #ffc194 !important;
}
#scheme-dark[theme="lightOrange"] .bg-theme-over:hover {
  background-color: #E5A170 !important;
}
#scheme-dark[theme="lightOrange"] .fg-theme,
#scheme-dark[theme="lightOrange"] .fg-theme-over:hover {
  color: #ffdec7 !important;
}
#scheme-dark[theme="lightOrange"] .bo-theme {
  border-color: #ffdec7;
}
#scheme-dark[theme="lightOrange"] .fg-theme-selected .selected,
#scheme-dark[theme="lightOrange"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="lightOrange"] .bg-theme-over.fg-theme-over:hover {
  color: #222 !important;
}
#scheme-light[theme="lightOrange"] .bg-theme,
#scheme-light[theme="lightOrange"] .bg-theme-selected .selected,
#scheme-light[theme="lightOrange"] .bg-theme-highlight .highlighted {
  background-color: #ffc194 !important;
}
#scheme-light[theme="lightOrange"] .bg-theme-over:hover {
  background-color: #FFD5B7 !important;
}
#scheme-light[theme="lightOrange"] .fg-theme,
#scheme-light[theme="lightOrange"] .fg-theme-over:hover {
  color: #FFCCAA !important;
}
#scheme-light[theme="lightOrange"] .bo-theme {
  border-color: #FFCCAA;
}
#scheme-light[theme="lightOrange"] .fg-theme-selected .selected,
#scheme-light[theme="lightOrange"] .fg-theme-highlight .highlighted {
  color: #222 !important;
}
#scheme-dark[theme="lightPink"] .bg-theme,
#scheme-dark[theme="lightPink"] .bg-theme-selected .selected,
#scheme-dark[theme="lightPink"] .bg-theme-highlight .highlighted {
  background-color: #f472d0 !important;
}
#scheme-dark[theme="lightPink"] .bg-theme-over:hover {
  background-color: #D850B4 !important;
}
#scheme-dark[theme="lightPink"] .fg-theme,
#scheme-dark[theme="lightPink"] .fg-theme-over:hover {
  color: #f8a1e0 !important;
}
#scheme-dark[theme="lightPink"] .bo-theme {
  border-color: #f8a1e0;
}
#scheme-dark[theme="lightPink"] .fg-theme-selected .selected,
#scheme-dark[theme="lightPink"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="lightPink"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="lightPink"] .bg-theme,
#scheme-light[theme="lightPink"] .bg-theme-selected .selected,
#scheme-light[theme="lightPink"] .bg-theme-highlight .highlighted {
  background-color: #f472d0 !important;
}
#scheme-light[theme="lightPink"] .bg-theme-over:hover {
  background-color: #FF9EE5 !important;
}
#scheme-light[theme="lightPink"] .fg-theme,
#scheme-light[theme="lightPink"] .fg-theme-over:hover {
  color: #CC84B8 !important;
}
#scheme-light[theme="lightPink"] .bo-theme {
  border-color: #CC84B8;
}
#scheme-light[theme="lightPink"] .fg-theme-selected .selected,
#scheme-light[theme="lightPink"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme="grayed"] .bg-theme,
#scheme-dark[theme="grayed"] .bg-theme-selected .selected,
#scheme-dark[theme="grayed"] .bg-theme-highlight .highlighted {
  background-color: #727272 !important;
}
#scheme-dark[theme="grayed"] .bg-theme-over:hover {
  background-color: #878787 !important;
}
#scheme-dark[theme="grayed"] .fg-theme,
#scheme-dark[theme="grayed"] .fg-theme-over:hover {
  color: #A0A0A0 !important;
}
#scheme-dark[theme="grayed"] .bo-theme {
  border-color: #A0A0A0;
}
#scheme-dark[theme="grayed"] .fg-theme-selected .selected,
#scheme-dark[theme="grayed"] .fg-theme-highlight .highlighted,
#scheme-dark[theme="grayed"] .bg-theme-over.fg-theme-over:hover {
  color: #fff !important;
}
#scheme-light[theme="grayed"] .bg-theme,
#scheme-light[theme="grayed"] .bg-theme-selected .selected,
#scheme-light[theme="grayed"] .bg-theme-highlight .highlighted {
  background-color: #585858 !important;
}
#scheme-light[theme="grayed"] .bg-theme-over:hover {
  background-color: #a2a2a2 !important;
}
#scheme-light[theme="grayed"] .fg-theme,
#scheme-light[theme="grayed"] .fg-theme-over:hover {
  color: #727272 !important;
}
#scheme-light[theme="grayed"] .bo-theme {
  border-color: #727272;
}
#scheme-light[theme="grayed"] .fg-theme-selected .selected,
#scheme-light[theme="grayed"] .fg-theme-highlight .highlighted {
  color: #fff !important;
}
#scheme-dark[theme] .bg-dark-disabled[disabled],
#scheme-dark[theme] .bg-dark-disabled[disabled]:hover {
  background: #272727 !important;
  cursor: default !important;
}
#scheme-dark[theme] .fg-light-disabled[disabled],
#scheme-dark[theme] .fg-light-disabled[disabled]:hover {
  color: #666 !important;
  cursor: default !important;
}
#scheme-light[theme] .bg-dark-disabled[disabled],
#scheme-light[theme] .bg-dark-disabled[disabled]:hover {
  background: #f3f3f3 !important;
  cursor: default !important;
}
#scheme-light[theme] .fg-light-disabled[disabled],
#scheme-light[theme] .fg-light-disabled[disabled]:hover {
  color: #bbb !important;
  cursor: default !important;
}
.backdrop {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 400;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
button[disabled] {
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
}
button:not(:focus) {
  border-color: transparent !important;
}
.button > [class*=mif-] {
  vertical-align: text-top;
}
button [lang] {
  margin: 0.1rem 0 0 0.3rem;
}
button.square-button {
  width: 40px;
  height: 40px;
}
.dialog {
  z-index: 1100;
}
.sidebar {
  background-color: transparent;
}
.sidebar li:hover {
  background-color: transparent;
}
