.content[scheme="dark"],
.content[scheme="dark"] .bg-darker {
  background: #222 !important;
}
.content[scheme="dark"] .bg-darker-over:hover {
  background: #333 !important;
}
.content[scheme="light"],
.content[scheme="light"] .bg-darker {
  background: #fff !important;
}
.content[scheme="light"] .bg-darker-over:hover {
  background: #eee !important;
}
.content[scheme="dark"] .bg-dark {
  background: #333 !important;
}
.content[scheme="light"] .bg-dark {
  background: #eee !important;
}
.content[scheme="dark"] .bg-dark-over:hover {
  background: #444 !important;
}
.content[scheme="light"] .bg-dark-over:hover {
  background: #ddd !important;
}
.content[scheme="dark"] .bg-dark-disabled[disabled] {
  background: #272727 !important;
}
.content[scheme="light"] .bg-dark-disabled[disabled] {
  background: #f3f3f3 !important;
}
.content[scheme="dark"] .bg-darkgrey {
  background: #555 !important;
}
.content[scheme="dark"] .bg-darkgrey-over:hover {
  background: #666 !important;
}
.content[scheme="light"] .bg-darkgrey {
  background: #999 !important;
}
.content[scheme="light"] .bg-darkgrey-over:hover {
  background: #777 !important;
}
.content[scheme="dark"] .bg-lighter {
  background: #fff !important;
}
.content[scheme="light"] .bg-lighter {
  background: #222 !important;
}
.content[scheme="dark"] .bg-lighter-over:hover {
  background: #eee !important;
}
.content[scheme="light"] .bg-lighter-over:hover {
  background: #333 !important;
}
.content[scheme="dark"] .bg-transparent-over:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}
.content[scheme="light"] .bg-transparent-over:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}
.content[scheme="dark"] .fg-darker {
  color: #111 !important;
}
.content[scheme="light"] .fg-darker {
  color: #fff !important;
}
.content[scheme="dark"] .fg-light {
  color: #bbb !important;
}
.content[scheme="light"] .fg-light {
  color: #333 !important;
}
.content[scheme="dark"] .fg-light-disabled[disabled] {
  color: #666 !important;
}
.content[scheme="light"] .fg-light-disabled[disabled] {
  color: #bbb !important;
}
.content[scheme="dark"] .fg-lighter {
  color: #fff !important;
}
.content[scheme="light"] .fg-lighter {
  color: #222 !important;
}
.content[scheme="dark"] .bo-light-over:hover {
  border-color: #bbb !important;
}
.content[scheme="light"] .bo-light-over:hover {
  border-color: #333 !important;
}
.content[scheme="dark"] .bo-lighter-over:hover {
  border-color: #fff !important;
}
.content[scheme="light"] .bo-lighter-over:hover {
  border-color: #222 !important;
}
.content[scheme="dark"] .bo-lighter-selected.selected {
  border-color: #fff !important;
}
.content[scheme="light"] .bo-lighter-selected.selected {
  border-color: #222 !important;
}
.content[scheme="dark"] .bo-lighter-selected:hover {
  border-color: #bbb !important;
}
.content[scheme="light"] .bo-lighter-selected:hover {
  border-color: #333 !important;
}
.content[scheme="dark"] .preloader-metro .circle {
  background-color: #fff;
}
.content[scheme="light"] .preloader-metro .circle {
  background-color: #222;
}
.content[scheme="dark"][theme="dark"] .bg-theme {
  background-color: #e3e3e3;
}
.content[scheme="light"][theme="dark"] .bg-theme {
  background-color: #1d1d1d;
}
.content[scheme="dark"][theme="brown"] .bg-theme {
  background-color: #86493f;
}
.content[scheme="light"][theme="brown"] .bg-theme {
  background-color: #63362f;
}
.content[scheme="dark"][theme="crimson"] .bg-theme {
  background-color: #970036;
}
.content[scheme="light"][theme="crimson"] .bg-theme {
  background-color: #640024;
}
.content[scheme="dark"][theme="violet"] .bg-theme {
  background-color: #701cc7;
}
.content[scheme="light"][theme="violet"] .bg-theme {
  background-color: #57169a;
}
.content[scheme="dark"][theme="magenta"] .bg-theme {
  background-color: #b40054;
}
.content[scheme="light"][theme="magenta"] .bg-theme {
  background-color: #81003c;
}
.content[scheme="dark"][theme="cyan"] .bg-theme {
  background-color: #228ada;
}
.content[scheme="light"][theme="cyan"] .bg-theme {
  background-color: #1b6eae;
}
.content[scheme="dark"][theme="cobalt"] .bg-theme {
  background-color: #004e9d;
}
.content[scheme="light"][theme="cobalt"] .bg-theme {
  background-color: #00356a;
}
.content[scheme="dark"][theme="teal"] .bg-theme {
  background-color: #006983;
}
.content[scheme="light"][theme="teal"] .bg-theme {
  background-color: #004050;
}
.content[scheme="dark"][theme="emerald"] .bg-theme {
  background-color: #007100;
}
.content[scheme="light"][theme="emerald"] .bg-theme {
  background-color: #003e00;
}
.content[scheme="dark"][theme="green"] .bg-theme {
  background-color: #128023;
}
.content[scheme="light"][theme="green"] .bg-theme {
  background-color: #128023;
}
.content[scheme="dark"][theme="orange"] .bg-theme {
  background-color: #e77120;
}
.content[scheme="light"][theme="orange"] .bg-theme {
  background-color: #bf5a15;
}
.content[scheme="dark"][theme="red"] .bg-theme {
  background-color: #c71c1c;
}
.content[scheme="light"][theme="red"] .bg-theme {
  background-color: #9a1616;
}
.content[scheme="dark"][theme="pink"] .bg-theme {
  background-color: #c71c74;
}
.content[scheme="light"][theme="pink"] .bg-theme {
  background-color: #9a165a;
}
.content[scheme="dark"][theme="indigo"] .bg-theme {
  background-color: #6400c9;
}
.content[scheme="light"][theme="indigo"] .bg-theme {
  background-color: #4b0096;
}
.content[scheme="dark"][theme="blue"] .bg-theme {
  background-color: #1c5ec7;
}
.content[scheme="light"][theme="blue"] .bg-theme {
  background-color: #16499a;
}
.content[scheme="dark"][theme="lightBlue"] .bg-theme {
  background-color: #4390df;
}
.content[scheme="light"][theme="lightBlue"] .bg-theme {
  background-color: #4390df;
}
.content[scheme="dark"][theme="lightTeal"] .bg-theme {
  background-color: #45fffd;
}
.content[scheme="light"][theme="lightTeal"] .bg-theme {
  background-color: #3CD8D6;
}
.content[scheme="dark"][theme="lightOlive"] .bg-theme {
  background-color: #78aa1c;
}
.content[scheme="light"][theme="lightOlive"] .bg-theme {
  background-color: #78aa1c;
}
.content[scheme="dark"][theme="lightOrange"] .bg-theme {
  background-color: #ffc194;
}
.content[scheme="light"][theme="lightOrange"] .bg-theme {
  background-color: #ffc194;
}
.content[scheme="dark"][theme="lightPink"] .bg-theme {
  background-color: #f472d0;
}
.content[scheme="light"][theme="lightPink"] .bg-theme {
  background-color: #f472d0;
}
.content[scheme="dark"][theme="grayed"] .bg-theme {
  background-color: #727272;
}
.content[scheme="light"][theme="grayed"] .bg-theme {
  background-color: #585858;
}
.content[scheme="dark"] .bg-theme-dark {
  background-color: #e3e3e3;
}
.content[scheme="light"] .bg-theme-dark {
  background-color: #1d1d1d;
}
.content[scheme="dark"] .bg-theme-brown {
  background-color: #86493f;
}
.content[scheme="light"] .bg-theme-brown {
  background-color: #63362f;
}
.content[scheme="dark"] .bg-theme-crimson {
  background-color: #970036;
}
.content[scheme="light"] .bg-theme-crimson {
  background-color: #640024;
}
.content[scheme="dark"] .bg-theme-violet {
  background-color: #701cc7;
}
.content[scheme="light"] .bg-theme-violet {
  background-color: #57169a;
}
.content[scheme="dark"] .bg-theme-magenta {
  background-color: #b40054;
}
.content[scheme="light"] .bg-theme-magenta {
  background-color: #81003c;
}
.content[scheme="dark"] .bg-theme-cyan {
  background-color: #228ada;
}
.content[scheme="light"] .bg-theme-cyan {
  background-color: #1b6eae;
}
.content[scheme="dark"] .bg-theme-cobalt {
  background-color: #004e9d;
}
.content[scheme="light"] .bg-theme-cobalt {
  background-color: #00356a;
}
.content[scheme="dark"] .bg-theme-teal {
  background-color: #006983;
}
.content[scheme="light"] .bg-theme-teal {
  background-color: #004050;
}
.content[scheme="dark"] .bg-theme-emerald {
  background-color: #007100;
}
.content[scheme="light"] .bg-theme-emerald {
  background-color: #003e00;
}
.content[scheme="dark"] .bg-theme-green {
  background-color: #128023;
}
.content[scheme="light"] .bg-theme-green {
  background-color: #128023;
}
.content[scheme="dark"] .bg-theme-orange {
  background-color: #e77120;
}
.content[scheme="light"] .bg-theme-orange {
  background-color: #bf5a15;
}
.content[scheme="dark"] .bg-theme-red {
  background-color: #c71c1c;
}
.content[scheme="light"] .bg-theme-red {
  background-color: #9a1616;
}
.content[scheme="dark"] .bg-theme-pink {
  background-color: #c71c74;
}
.content[scheme="light"] .bg-theme-pink {
  background-color: #9a165a;
}
.content[scheme="dark"] .bg-theme-indigo {
  background-color: #6400c9;
}
.content[scheme="light"] .bg-theme-indigo {
  background-color: #4b0096;
}
.content[scheme="dark"] .bg-theme-blue {
  background-color: #1c5ec7;
}
.content[scheme="light"] .bg-theme-blue {
  background-color: #16499a;
}
.content[scheme="dark"] .bg-theme-lightBlue {
  background-color: #4390df;
}
.content[scheme="light"] .bg-theme-lightBlue {
  background-color: #4390df;
}
.content[scheme="dark"] .bg-theme-lightTeal {
  background-color: #45fffd;
}
.content[scheme="light"] .bg-theme-lightTeal {
  background-color: #3CD8D6;
}
.content[scheme="dark"] .bg-theme-lightOlive {
  background-color: #78aa1c;
}
.content[scheme="light"] .bg-theme-lightOlive {
  background-color: #78aa1c;
}
.content[scheme="dark"] .bg-theme-lightOrange {
  background-color: #ffc194;
}
.content[scheme="light"] .bg-theme-lightOrange {
  background-color: #ffc194;
}
.content[scheme="dark"] .bg-theme-lightPink {
  background-color: #f472d0;
}
.content[scheme="light"] .bg-theme-lightPink {
  background-color: #f472d0;
}
.content[scheme="dark"] .bg-theme-grayed {
  background-color: #727272;
}
.content[scheme="light"] .bg-theme-grayed {
  background-color: #585858;
}
.content[theme="dark"][scheme="dark"] .fg-theme {
  color: #E8E8E8;
}
.content[theme="dark"][scheme="light"] .fg-theme {
  color: #373737;
}
.content[theme="brown"][scheme="dark"] .fg-theme {
  color: #995449;
}
.content[theme="brown"][scheme="light"] .fg-theme {
  color: #86493f;
}
.content[scheme="dark"][theme="crimson"] .fg-theme {
  color: #AF0040;
}
.content[scheme="light"][theme="crimson"] .fg-theme {
  color: #970036;
}
.content[scheme="dark"][theme="violet"] .fg-theme {
  color: #8724F2;
}
.content[scheme="light"][theme="violet"] .fg-theme {
  color: #701cc7;
}
.content[scheme="dark"][theme="magenta"] .fg-theme {
  color: #D30062;
}
.content[scheme="light"][theme="magenta"] .fg-theme {
  color: #b40054;
}
.content[scheme="dark"][theme="cyan"] .fg-theme {
  color: #238EE0;
}
.content[scheme="light"][theme="cyan"] .fg-theme {
  color: #228ada;
}
.content[scheme="dark"][theme="cobalt"] .fg-theme {
  color: #0060C1;
}
.content[scheme="light"][theme="cobalt"] .fg-theme {
  color: #004e9d;
}
.content[scheme="dark"][theme="teal"] .fg-theme {
  color: #007893;
}
.content[scheme="light"][theme="teal"] .fg-theme {
  color: #006983;
}
.content[scheme="dark"][theme="emerald"] .fg-theme {
  color: #008400;
}
.content[scheme="light"][theme="emerald"] .fg-theme {
  color: #007100;
}
.content[scheme="dark"][theme="green"] .fg-theme {
  color: #1ABC32;
}
.content[scheme="light"][theme="green"] .fg-theme {
  color: #18ad2f;
}
.content[scheme="dark"][theme="orange"] .fg-theme {
  color: #F97822;
}
.content[scheme="light"][theme="orange"] .fg-theme {
  color: #e77120;
}
.content[scheme="dark"][theme="red"] .fg-theme {
  color: #D62020;
}
.content[scheme="light"][theme="red"] .fg-theme {
  color: #c71c1c;
}
.content[scheme="dark"][theme="pink"] .fg-theme {
  color: #DD2185;
}
.content[scheme="light"][theme="pink"] .fg-theme {
  color: #c71c74;
}
.content[scheme="dark"][theme="indigo"] .fg-theme {
  color: #7B00FF;
}
.content[scheme="light"][theme="indigo"] .fg-theme {
  color: #6400c9;
}
.content[scheme="dark"][theme="blue"] .fg-theme {
  color: #2270E5;
}
.content[scheme="light"][theme="blue"] .fg-theme {
  color: #1c5ec7;
}
.content[scheme="dark"][theme="lightBlue"] .fg-theme {
  color: #6faae6;
}
.content[scheme="light"][theme="lightBlue"] .fg-theme {
  color: #5C8CBC;
}
.content[scheme="dark"][theme="lightTeal"] .fg-theme {
  color: #78fffd;
}
.content[scheme="light"][theme="lightTeal"] .fg-theme {
  color: #64D1CF;
}
.content[scheme="dark"][theme="lightOlive"] .fg-theme {
  color: #97d623;
}
.content[scheme="light"][theme="lightOlive"] .fg-theme {
  color: #7EB21E;
}
.content[scheme="dark"][theme="lightOrange"] .fg-theme {
  color: #ffdec7;
}
.content[scheme="light"][theme="lightOrange"] .fg-theme {
  color: #FFCCAA;
}
.content[scheme="dark"][theme="lightPink"] .fg-theme {
  color: #f8a1e0;
}
.content[scheme="light"][theme="lightPink"] .fg-theme {
  color: #CC84B8;
}
.content[scheme="dark"][theme="grayed"] .fg-theme {
  color: #A0A0A0;
}
.content[scheme="light"][theme="grayed"] .fg-theme {
  color: #727272;
}
.content[theme="dark"][scheme="dark"] .fg-theme.selected {
  color: #222;
}
.content[theme="dark"][scheme="light"] .fg-theme.selected {
  color: #fff;
}
.content[theme="brown"][scheme="dark"] .fg-theme.selected {
  color: #fff;
}
.content[theme="brown"][scheme="light"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="dark"][theme="crimson"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="light"][theme="crimson"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="dark"][theme="violet"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="light"][theme="violet"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="dark"][theme="magenta"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="light"][theme="magenta"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="dark"][theme="cyan"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="light"][theme="cyan"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="dark"][theme="cobalt"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="light"][theme="cobalt"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="dark"][theme="teal"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="light"][theme="teal"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="dark"][theme="emerald"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="light"][theme="emerald"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="dark"][theme="green"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="light"][theme="green"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="dark"][theme="orange"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="light"][theme="orange"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="dark"][theme="red"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="light"][theme="red"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="dark"][theme="pink"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="light"][theme="pink"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="dark"][theme="indigo"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="light"][theme="indigo"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="dark"][theme="blue"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="light"][theme="blue"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="dark"][theme="lightBlue"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="light"][theme="lightBlue"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="dark"][theme="lightTeal"] .fg-theme.selected {
  color: #222;
}
.content[scheme="light"][theme="lightTeal"] .fg-theme.selected {
  color: #222;
}
.content[scheme="dark"][theme="lightOlive"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="light"][theme="lightOlive"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="dark"][theme="lightOrange"] .fg-theme.selected {
  color: #222;
}
.content[scheme="light"][theme="lightOrange"] .fg-theme.selected {
  color: #222;
}
.content[scheme="dark"][theme="lightPink"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="light"][theme="lightPink"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="dark"][theme="grayed"] .fg-theme.selected {
  color: #fff;
}
.content[scheme="light"][theme="grayed"] .fg-theme.selected {
  color: #fff;
}
#notify {
  background-color: #333333;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
#notify .charm-closer {
  display: none;
}
#notify .message {
  display: block;
  height: 35px;
}
#notify .message .icon {
  float: left;
  padding: 5px 10px;
  margin: 5px 0 5px 5px;
}
#notify .message .icon.error {
  background-color: #9a1616;
}
#notify .message .icon.info {
  background-color: #004e9d;
}
#notify .message .icon.warning {
  background-color: #e77120;
}
#notify .message .label {
  margin: 9px 10px 0 10px;
  display: inline-block;
}
#notify .message .button {
  float: right;
  margin: 0;
  height: 35px;
  padding: 9px;
}
#notify .hidden {
  display: none;
}
.charm.right-side {
  width: 29rem;
  right: -29rem;
}
#charmSettings .button {
  margin: 5px;
}
.color-settings .button {
  border-width: 0;
}
.color-settings .button.selected {
  border-width: 3px;
  border-style: solid;
}
.color-settings .button:hover {
  border-width: 3px;
  border-style: solid;
}
.color-settings .half-width {
  width: 48%;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.container {
  max-width: 1280px;
  width: 100%;
}
.window-caption {
  opacity: 0;
  overflow: none;
  border: 0;
}
.window-caption .btn-close {
  top: 0.15rem;
}
