.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}
.chosen-container .search-choice .group-name,
.chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
}
.chosen-container .search-choice .group-name:after,
.chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../../images/chosen-sprite.png) -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../../images/chosen-sprite.png) no-repeat 0 2px;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type=text] {
  margin: 1px 0;
  padding: 4px 0px 4px 0px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: #fff url(../../images/chosen-sprite.png) no-repeat 100% -20px;
  background: url(../../images/chosen-sprite.png) no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 640px) {
  .chosen-container .chosen-results {
    max-height: 340px;
  }
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: 700;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto!important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0!important;
  background: transparent!important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eee;
  background-clip: padding-box;
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../../images/chosen-sprite.png) -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: 0;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type=text] {
  color: #222 !important;
}
.chosen-disabled {
  opacity: .5!important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type=text] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: 0;
}
.chosen-rtl .chosen-search input[type=text] {
  padding: 4px 5px 4px 20px;
  background: #fff url(../../images/chosen-sprite.png) no-repeat -30px -20px;
  background: url(../../images/chosen-sprite.png) no-repeat -30px -20px;
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type=text],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type=text],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url(../../images/chosen-sprite.png) !important;
    background-size: 52px 37px!important;
    background-repeat: no-repeat !important;
  }
}
.chosen-container .chosen-single,
.chosen-container .chosen-choices,
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding-left: 2px;
  overflow: visible;
  line-height: 25px;
}
.chosen-container {
  border-width: 1px;
  border-style: solid;
}
.chosen-container .chosen-drop {
  box-sizing: content-box;
  margin-left: -1px;
}
.chosen-container .chosen-drop .chosen-results li {
  background-image: none;
  padding: 9px;
  margin-left: -4px;
}
.chosen-container.loading .chosen-drop {
  height: 40px;
}
.chosen-container.loading .chosen-drop .chosen-results {
  display: none;
}
.chosen-container.loading .chosen-drop .chosen-search {
  display: none;
}
.chosen-container.loading .chosen-drop lang {
  margin: 3px 5px;
  position: relative;
  display: block;
  width: 100%;
}
.chosen-container:not(.chosen-container-active) {
  border-width: 1px;
  border-style: solid;
  border-color: transparent!important;
  border-bottom: 2px #DDDDDD solid !important;
}
#translator .chosen-single {
  height: 1.6rem;
}
#translator .chosen-single > * {
  margin-top: 0.1rem;
}
lang {
  display: inline-block;
}
#notify {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
#notify .charm-closer {
  display: none;
}
#notify .message {
  display: block;
  display: flex;
  justify-content: flex-end;
}
#notify .message .icon {
  height: 2rem;
  flex-basis: auto;
  padding: 0.4rem 1.3rem;
  margin: 0.3rem 0 0.3rem 0.3rem;
  display: inline-block;
}
#notify .message .label {
  margin: 0.7rem 0.6rem;
  align-self: center;
  flex-grow: 1;
  flex-basis: auto;
  display: inline-block;
}
#notify .message .button {
  flex-basis: auto;
  margin: 0;
  height: 2.5rem;
  padding: 0.8rem 1.3rem;
  display: inline-block;
}
#notify .message.error .icon {
  background-color: #9a1616;
  color: #fff;
}
#notify .message.info .icon {
  background-color: #004e9d;
  color: #fff;
}
#notify .message.warning .icon {
  background-color: #e77120;
  color: #fff;
}
[for].error {
  color: red !important;
}
.input-control.modern {
  height: auto;
}
.input-control.modern input,
.input-control.modern select {
  margin-top: -0.1rem;
  height: 2.1rem;
  padding-bottom: 0;
}
.input-control.modern .placeholder {
  font-size: 0.85rem;
  top: 1.5rem;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.input-control.modern .informer {
  top: 1.5rem;
  left: auto;
  right: 0;
  -webkit-transform: translate(-100px, 0);
  -moz-transform: translate(-100px, 0);
  -ms-transform: translate(-100px, 0);
  -o-transform: translate(-100px, 0);
  transform: translate(-100px, 0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.input-control.modern input:focus ~ .informer {
  z-index: 100;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
}
.input-control.modern .unitholder {
  font-size: 0.75rem;
  top: 1.5rem;
  z-index: 1;
  left: 0;
  position: absolute;
  white-space: nowrap;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.input-control.modern [class*=input-state-] {
  top: 1.8rem;
  margin-right: -1rem;
  right: 0;
}
.input-control.modern.iconic .icon {
  top: 1.7rem;
}
.input-control.modern input.focus ~ .unitholder,
.input-control.modern:not(.empty) .unitholder {
  font-size: 0.875rem;
  top: 1.5rem;
  left: 100%;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translate(-100%, 0%);
  -moz-transform: translate(-100%, 0%);
  -ms-transform: translate(-100%, 0%);
  -o-transform: translate(-100%, 0%);
  transform: translate(-100%, 0%);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.input-control.modern.empty input:not(:focus) ~ .unitholder.wplaceholder {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.input-control.modern:not(.empty) .placeholder {
  display: none;
}
.input-control.modern.error .informer {
  right: 13px;
}
.input-control.modern.error input:focus ~ .unitholder {
  left: 97%;
}
.input-control.modern.error .chosen-container:not(.chosen-container-active) {
  border-bottom-color: #ce352c !important;
}
.input-control.modern.error input {
  padding-right: 0.75rem !important;
}
.input-control.modern.error:not(.empty) .unitholder {
  left: 97%;
}
.input-control.modern input[readonly] {
  border-bottom-color: transparent;
}
.input-control.modern.select .chosen-container,
.input-control.modern.select select {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  bottom: .5rem;
  border: 0;
  border-bottom: 2px #DDDDDD solid;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  padding-left: 0;
  width: 100%;
}
.input-control.modern.select .chosen-container {
  height: 1.75rem;
  margin-top: 0.25rem;
  padding-bottom: .5rem;
}
.input-control.modern.select .chosen-container .chosen-drop input {
  position: relative;
  top: 0;
  bottom: 0;
}
.input-control.modern.select .chosen-container ~ .placeholder {
  cursor: pointer;
}
.input-control.modern.select select:not(.empty) ~ .placeholder {
  display: none;
}
.input-control:not(.modern) .placeholder {
  font-size: 0.85rem;
  top: 1.5rem;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.input-control:not(.modern) .placeholder {
  font-size: 1rem;
  color: #888;
  position: absolute;
  top: 0.6rem;
  left: 0.5rem;
  z-index: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.input-control:not(.modern) input:focus ~ .placeholder {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translate(200px, 0);
  -moz-transform: translate(200px, 0);
  -ms-transform: translate(200px, 0);
  -o-transform: translate(200px, 0);
  transform: translate(200px, 0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  -o-appearance: textfield;
  appearance: textfield;
}
input:invalid {
  box-shadow: none;
}
input:-moz-submit-invalid {
  box-shadow: none;
}
input:-moz-ui-invalid {
  box-shadow: none;
}
.checkbox .mif-checkmark {
  border-width: 1px;
  border-style: solid;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.3rem;
  vertical-align: top;
  margin-top: 1px;
  margin-right: 0.3rem;
}
.checkbox .mif-checkmark:before {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.checkbox input:not([checked]) ~ .mif-checkmark:before {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
#waiting-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1052;
  background-color: #222;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
#waiting-panel .preloader-ring {
  -webkit-transform: translate(0, -5rem);
  -moz-transform: translate(0, -5rem);
  -ms-transform: translate(0, -5rem);
  -o-transform: translate(0, -5rem);
  transform: translate(0, -5rem);
  margin-left: auto;
  margin-right: auto;
  top: 50%;
}
#waiting-panel .preloader-ring .wrap {
  width: 5rem;
  height: 5rem;
}
#waiting-panel .preloader-ring .wrap .circle {
  width: 5rem;
  height: 5rem;
}
#waiting-panel .preloader-ring .wrap .circle:after {
  height: 0.6rem;
  width: 0.61rem;
}
.input-control.modern textarea {
  border: 0;
  outline: none;
  font-size: 1rem;
  padding-bottom: .5rem;
  padding-left: 0;
  border-bottom: 2px #DDDDDD solid;
  background-color: transparent;
  top: 1rem;
  min-height: 1.75rem;
  margin-bottom: 1rem;
}
.input-control textarea {
  width: 100%;
  height: 37px;
  overflow: hidden;
}
.tooltip-body {
  position: absolute;
  z-index: 1100;
  display: inline-block;
}
.tooltip-body .tooltip-text {
  white-space: nowrap;
  pointer-events: none;
  padding: 0.5rem;
  border-radius: 5px;
}
.tooltip-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1052;
  background-color: red !important;
}
#doc-selector {
  background-color: #ffffff;
  color: #1d1d1d;
  position: fixed;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  width: 800px;
  height: 600px;
  z-index: 401;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#doc-selector #content {
  height: 100%;
  padding: 0;
}
#doc-selector #content h5,
#doc-selector #content #docs,
#doc-selector #content #no-doc {
  display: block;
  margin: 0.5rem 1rem 1rem 1rem;
}
#doc-selector #content #scroll {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  bottom: 4rem;
  left: 0;
  top: 80px;
  right: 0;
}
#doc-selector #content #scroll #docs .row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: left;
  margin-bottom: 0.5rem;
}
#doc-selector #content #scroll #docs .row #icon,
#doc-selector #content #scroll #docs .row .radio,
#doc-selector #content #scroll #docs .row .checkbox,
#doc-selector #content #scroll #docs .row button {
  flex-basis: auto;
  flex-shrink: 0;
}
#doc-selector #content #scroll #docs .row #icon:before {
  text-align: center;
}
#doc-selector #content #scroll #docs .row .label {
  margin-left: 0.5rem;
  flex-grow: 1;
  flex-basis: auto;
  word-break: break-word;
}
#doc-selector #content #scroll #docs .row button {
  margin-top: -0.5rem;
}
#doc-selector #content #scroll #docs .row .radio {
  margin-top: -0.1rem;
  margin-right: 0.4rem;
}
#doc-selector #content #scroll #docs .row .radio .check {
  vertical-align: top;
}
#doc-selector #content #scroll #docs .row .checkbox {
  margin-top: -0.4rem;
  margin-right: 0.4rem;
}
#doc-selector #content #light-theme {
  margin: 1rem 1rem 0.5rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#doc-selector #content #light-theme #ok {
  padding: 0 2rem;
}
#doc-selector.radio #content .checkbox,
#doc-selector.radio #content .selector {
  display: none;
}
#doc-selector.viewer #content .checkbox,
#doc-selector.viewer #content .radio,
#doc-selector.viewer #content #light-theme {
  display: none;
}
#doc-selector.viewer #content #scroll {
  bottom: 0;
}
#doc-selector.selector .radio,
#doc-selector.selector #file-controls {
  display: none;
}
#color-settings .button {
  border-width: 0;
}
#color-settings .button.selected {
  border-width: 3px;
  border-style: solid;
}
#color-settings .button:hover {
  border-width: 3px;
  border-style: solid;
}
#color-settings .half-width {
  width: 48%;
}
#scheme-dark #csp #csp-dark {
  background-color: #e3e3e3;
}
#scheme-light #csp #csp-dark {
  background-color: #1d1d1d;
}
#scheme-dark #csp #csp-brown {
  background-color: #86493f;
}
#scheme-light #csp #csp-brown {
  background-color: #63362f;
}
#scheme-dark #csp #csp-crimson {
  background-color: #970036;
}
#scheme-light #csp #csp-crimson {
  background-color: #640024;
}
#scheme-dark #csp #csp-violet {
  background-color: #701cc7;
}
#scheme-light #csp #csp-violet {
  background-color: #57169a;
}
#scheme-dark #csp #csp-magenta {
  background-color: #b40054;
}
#scheme-light #csp #csp-magenta {
  background-color: #81003c;
}
#scheme-dark #csp #csp-cyan {
  background-color: #228ada;
}
#scheme-light #csp #csp-cyan {
  background-color: #1b6eae;
}
#scheme-dark #csp #csp-cobalt {
  background-color: #004e9d;
}
#scheme-light #csp #csp-cobalt {
  background-color: #00356a;
}
#scheme-dark #csp #csp-teal {
  background-color: #006983;
}
#scheme-light #csp #csp-teal {
  background-color: #004050;
}
#scheme-dark #csp #csp-emerald {
  background-color: #007100;
}
#scheme-light #csp #csp-emerald {
  background-color: #003e00;
}
#scheme-dark #csp #csp-green {
  background-color: #128023;
}
#scheme-light #csp #csp-green {
  background-color: #128023;
}
#scheme-dark #csp #csp-orange {
  background-color: #e77120;
}
#scheme-light #csp #csp-orange {
  background-color: #bf5a15;
}
#scheme-dark #csp #csp-red {
  background-color: #c71c1c;
}
#scheme-light #csp #csp-red {
  background-color: #9a1616;
}
#scheme-dark #csp #csp-pink {
  background-color: #c71c74;
}
#scheme-light #csp #csp-pink {
  background-color: #9a165a;
}
#scheme-dark #csp #csp-indigo {
  background-color: #6400c9;
}
#scheme-light #csp #csp-indigo {
  background-color: #4b0096;
}
#scheme-dark #csp #csp-blue {
  background-color: #1c5ec7;
}
#scheme-light #csp #csp-blue {
  background-color: #16499a;
}
#scheme-dark #csp #csp-lightBlue {
  background-color: #4390df;
}
#scheme-light #csp #csp-lightBlue {
  background-color: #4390df;
}
#scheme-dark #csp #csp-lightTeal {
  background-color: #45fffd;
}
#scheme-light #csp #csp-lightTeal {
  background-color: #3CD8D6;
}
#scheme-dark #csp #csp-lightOlive {
  background-color: #78aa1c;
}
#scheme-light #csp #csp-lightOlive {
  background-color: #78aa1c;
}
#scheme-dark #csp #csp-lightOrange {
  background-color: #ffc194;
}
#scheme-light #csp #csp-lightOrange {
  background-color: #ffc194;
}
#scheme-dark #csp #csp-lightPink {
  background-color: #f472d0;
}
#scheme-light #csp #csp-lightPink {
  background-color: #f472d0;
}
#scheme-dark #csp #csp-grayed {
  background-color: #727272;
}
#scheme-light #csp #csp-grayed {
  background-color: #585858;
}
body.color-changing {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
body.color-changing * {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
#settings-panel.charm.right-side {
  width: 29rem;
  right: -29rem;
  max-width: 100%;
}
#settings-panel.charm.right-side [settings-panel] {
  overflow-y: auto;
  margin-top: 0.7rem;
}
#user-infos-control .user-infos .user-name,
#user-infos-control .user-infos .welcome {
  display: inline-block;
  margin: 0.9rem 0.5rem 0 0;
  vertical-align: top;
}
#user-infos-control .user-infos .avatar {
  margin-top: -0.2rem;
  width: 3rem;
  height: 3rem;
  display: inline-block;
}
#user-infos-control .user-infos .avatar .frame {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
}
#user-infos-control .user-infos .avatar .frame .image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#user-infos-control .user-infos .avatar .frame .image .dropdown-toggle {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
#user-infos-control .user-infos .avatar .frame .image .d-menu {
  -webkit-transform: translate(-4rem, 0);
  -moz-transform: translate(-4rem, 0);
  -ms-transform: translate(-4rem, 0);
  -o-transform: translate(-4rem, 0);
  transform: translate(-4rem, 0);
}
#user-infos-control .user-infos .avatar .frame .image .d-menu li a {
  padding: 0 1.3rem 0 0.3rem;
  min-width: 7rem;
}
#user-infos-control .user-infos .avatar .frame .image .d-menu li a span {
  margin: 1rem;
}
#user-infos-control .user-infos .avatar.noavatar .frame .image {
  background-image: url("../images/user.svg");
  background-color: #fff;
  background-size: 90%;
  background-position: 3px 1px;
}
@media screen {
  #scheme-dark .modern-highcharts .highcharts-container .highcharts-background {
    fill: #232323 !important;
  }
  #scheme-dark .modern-highcharts .highcharts-container text {
    fill: #e3e3e3 !important;
  }
  #scheme-dark .modern-highcharts .highcharts-container .highcharts-tooltip text {
    fill: #1d1d1d !important;
  }
  #scheme-dark .modern-highcharts .highcharts-container .highcharts-button rect {
    fill: #333 !important;
    stroke: #888 !important;
  }
  #scheme-dark .modern-highcharts .highcharts-container svg > text:last-child {
    fill: #333 !important;
  }
  #scheme-light .modern-highcharts .highcharts-container svg > text:last-child {
    fill: #ddd !important;
  }
  #scheme-light .modern-highcharts .highcharts-container .highcharts-background {
    fill: #fff  !important;
  }
  #scheme-light .modern-highcharts .highcharts-container text {
    fill: #1d1d1d !important;
  }
  #scheme-light .modern-highcharts .highcharts-container .highcharts-tooltip text {
    fill: #1d1d1d !important;
  }
  #scheme-light .modern-highcharts .highcharts-container .highcharts-button rect {
    fill: #f8f8f8 !important;
    stroke: #CCC !important;
  }
  #scheme-light .modern-highcharts .highcharts-container svg > text:last-child {
    fill: #ddd !important;
  }
  #scheme-dark[theme="dark"] .highcharts-background {
    stroke: #e3e3e3;
  }
  #scheme-light[theme="dark"] .highcharts-background {
    stroke: #1d1d1d;
  }
  #scheme-dark[theme="brown"] .highcharts-background {
    stroke: #86493f;
  }
  #scheme-light[theme="brown"] .highcharts-background {
    stroke: #63362f;
  }
  #scheme-dark[theme="crimson"] .highcharts-background {
    stroke: #970036;
  }
  #scheme-light[theme="crimson"] .highcharts-background {
    stroke: #640024;
  }
  #scheme-dark[theme="violet"] .highcharts-background {
    stroke: #701cc7;
  }
  #scheme-light[theme="violet"] .highcharts-background {
    stroke: #57169a;
  }
  #scheme-dark[theme="magenta"] .highcharts-background {
    stroke: #b40054;
  }
  #scheme-light[theme="magenta"] .highcharts-background {
    stroke: #81003c;
  }
  #scheme-dark[theme="cyan"] .highcharts-background {
    stroke: #228ada;
  }
  #scheme-light[theme="cyan"] .highcharts-background {
    stroke: #1b6eae;
  }
  #scheme-dark[theme="cobalt"] .highcharts-background {
    stroke: #004e9d;
  }
  #scheme-light[theme="cobalt"] .highcharts-background {
    stroke: #00356a;
  }
  #scheme-dark[theme="teal"] .highcharts-background {
    stroke: #006983;
  }
  #scheme-light[theme="teal"] .highcharts-background {
    stroke: #004050;
  }
  #scheme-dark[theme="emerald"] .highcharts-background {
    stroke: #007100;
  }
  #scheme-light[theme="emerald"] .highcharts-background {
    stroke: #003e00;
  }
  #scheme-dark[theme="green"] .highcharts-background {
    stroke: #128023;
  }
  #scheme-light[theme="green"] .highcharts-background {
    stroke: #128023;
  }
  #scheme-dark[theme="orange"] .highcharts-background {
    stroke: #e77120;
  }
  #scheme-light[theme="orange"] .highcharts-background {
    stroke: #bf5a15;
  }
  #scheme-dark[theme="red"] .highcharts-background {
    stroke: #c71c1c;
  }
  #scheme-light[theme="red"] .highcharts-background {
    stroke: #9a1616;
  }
  #scheme-dark[theme="pink"] .highcharts-background {
    stroke: #c71c74;
  }
  #scheme-light[theme="pink"] .highcharts-background {
    stroke: #9a165a;
  }
  #scheme-dark[theme="indigo"] .highcharts-background {
    stroke: #6400c9;
  }
  #scheme-light[theme="indigo"] .highcharts-background {
    stroke: #4b0096;
  }
  #scheme-dark[theme="blue"] .highcharts-background {
    stroke: #1c5ec7;
  }
  #scheme-light[theme="blue"] .highcharts-background {
    stroke: #16499a;
  }
  #scheme-dark[theme="lightBlue"] .highcharts-background {
    stroke: #4390df;
  }
  #scheme-light[theme="lightBlue"] .highcharts-background {
    stroke: #4390df;
  }
  #scheme-dark[theme="lightTeal"] .highcharts-background {
    stroke: #45fffd;
  }
  #scheme-light[theme="lightTeal"] .highcharts-background {
    stroke: #3CD8D6;
  }
  #scheme-dark[theme="lightOlive"] .highcharts-background {
    stroke: #78aa1c;
  }
  #scheme-light[theme="lightOlive"] .highcharts-background {
    stroke: #78aa1c;
  }
  #scheme-dark[theme="lightOrange"] .highcharts-background {
    stroke: #ffc194;
  }
  #scheme-light[theme="lightOrange"] .highcharts-background {
    stroke: #ffc194;
  }
  #scheme-dark[theme="lightPink"] .highcharts-background {
    stroke: #f472d0;
  }
  #scheme-light[theme="lightPink"] .highcharts-background {
    stroke: #f472d0;
  }
  #scheme-dark[theme="grayed"] .highcharts-background {
    stroke: #727272;
  }
  #scheme-light[theme="grayed"] .highcharts-background {
    stroke: #585858;
  }
}
#anode-transfert-chart {
  width: 100%;
}
#anode-transfert-chart #chart-cont {
  width: 100%;
}
body.dragdrop .highcharts-tooltip {
  display: none;
}
#chart-menu-backdrop {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  background-color: transparent !important;
}
#chart-menu-body {
  display: inline-block;
}
#chart-menu-body #chart-menu {
  display: block;
  border-collapse: separate;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  list-style: none inside none;
  margin: 0;
  padding: 0;
  float: left;
  z-index: 1000;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
#chart-menu-body #chart-menu li {
  padding: 0 1rem 0 1rem;
}
#chart-menu-body #chart-menu .values {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
#chart-menu-body #chart-menu .values .value {
  margin: 0 2rem 0 0.5rem;
  font-weight: 700;
}
#chart-menu-body #chart-menu .menu-item:before {
  content: none;
}
#chartInfos.grid {
  font-size: 90%;
}
#chartInfos.grid div.row {
  margin-top: 0;
}
#chartInfos.grid div.row .cell {
  min-height: 2rem;
  padding: 0 0.5rem;
}
#chartInfos.grid div.row .cell .infoVal {
  margin: 0 0.5rem;
}
@media print {
  @page {
    size: landscape;
  }
}
html {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  height: auto;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto 1rem auto;
}
#container .inline {
  display: inline-block;
}
#container hr {
  margin: 0;
}
#container h2 {
  margin-bottom: 0.9rem;
}
#container header {
  padding: 0.5rem 1rem 2.5rem 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#container header #user-infos-panel {
  flex-basis: auto;
}
#container header #title-panel {
  padding-top: 1rem;
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 0;
}
#container header #title-panel .logo {
  background: url("../images/logo.svg") no-repeat center center;
  -webkit-print-color-adjust: exact;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 0.5rem 0 0;
  display: inline-block;
}
#container header #title-panel h1 {
  font-size: 2.5rem;
  display: inline-block;
}
@media screen and (max-width: 880px) {
  #container header #title-panel {
    display: none;
  }
}
#container header #user-infos-panel {
  padding-top: 1.9rem;
}
#container header #trans-area {
  padding-top: 1.5rem;
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 0;
}
#container header #trans-area .input-control {
  width: 13rem;
  padding-top: 0.1rem;
}
#container .step-list > li {
  page-break-inside: avoid;
}
#container .grid .row > .cell {
  min-height: 2.5rem;
}
#container .grid .row > .cell .label {
  margin: 0.9rem 0 0 0.6rem;
  display: block;
}
#container .grid .row > .cell .input-control {
  width: auto;
  display: block;
  margin: -0.5rem 0.5rem 0 0.6rem;
}
#container .grid .row > .cell .input-control.checkbox {
  margin: 0.4rem 0 0 0.6rem;
}
#container .grid .row > .cell button {
  margin: 0.1rem 0 0 0;
}
#container .grid .row {
  margin: 1rem 1rem 0 0;
}
#container .grid.repeater {
  /*        #filename .input-control {
            margin-right: 90px;
            
            @media all and (min-width: 641px) {
                input {
                    text-align: right;
                }
            }
        }
        
        .fileicon {
            float: left;
            margin-top: 0.4rem;
            font-size: 2rem;
        }

        #description .input-control {
            margin-left: 2.6rem;
        }
*/
}
#container .grid.repeater .controls {
  float: right;
}
#container .grid #units {
  margin: 0 1rem 0 0.5rem;
}
#container .grid .row.transitioning {
  height: 44px;
  margin-top: 1rem;
  overflow: hidden;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}
#container .grid .row.hidden.transitioning {
  margin-top: 0;
  height: 0;
  overflow: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
#container .grid .row.hidden:not(.transitioning) {
  display: none;
}
#container #name {
  margin-left: 0.5rem;
}
#container #unit-selector .label {
  display: inline-block;
  margin-right: 1rem;
}
#container #file-selector {
  position: relative;
  vertical-align: top;
  float: right;
}
#container .anode-transfert-chart {
  margin-bottom: 2rem;
}
[saved] {
  display: inline-block;
}
[unsaved] {
  display: none;
}
body.unsaved [saved] {
  display: none;
}
body.unsaved [unsaved] {
  display: inline-block;
  color: #c71c1c;
  border-color: #c71c1c;
}
body.unsaved [unsaved]:hover {
  border-color: #c71c1c !important;
}
@media screen and (max-width: 640px) {
  #container .grid .row .cell .input-control {
    margin-top: -1.5rem;
  }
  #container .grid .row #filename #file-controls {
    margin-top: -1rem;
  }
  #container .grid .row #description .icon {
    margin-top: -0.6rem;
  }
}
@media screen and (min-width: 1401px) {
  html {
    font-size: 110%;
  }
  #container .grid .row > .cell:not(:first-child) .label {
    margin-left: 2rem;
  }
}
@media all and (max-width: 1000px) {
  #container .ratingsheader h2 {
    margin-bottom: 2.9rem;
  }
  #container .ratingsheader .unittab {
    left: 0;
    right: auto;
  }
}
