.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}
.chosen-container .search-choice .group-name,
.chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
}
.chosen-container .search-choice .group-name:after,
.chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../../images/chosen-sprite.png) -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../../images/chosen-sprite.png) no-repeat 0 2px;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type=text] {
  margin: 1px 0;
  padding: 4px 0px 4px 0px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: #fff url(../../images/chosen-sprite.png) no-repeat 100% -20px;
  background: url(../../images/chosen-sprite.png) no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 640px) {
  .chosen-container .chosen-results {
    max-height: 340px;
  }
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: 700;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto!important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0!important;
  background: transparent!important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eee;
  background-clip: padding-box;
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../../images/chosen-sprite.png) -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: 0;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type=text] {
  color: #222 !important;
}
.chosen-disabled {
  opacity: .5!important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type=text] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: 0;
}
.chosen-rtl .chosen-search input[type=text] {
  padding: 4px 5px 4px 20px;
  background: #fff url(../../images/chosen-sprite.png) no-repeat -30px -20px;
  background: url(../../images/chosen-sprite.png) no-repeat -30px -20px;
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type=text],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type=text],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url(../../images/chosen-sprite.png) !important;
    background-size: 52px 37px!important;
    background-repeat: no-repeat !important;
  }
}
.chosen-container .chosen-single,
.chosen-container .chosen-choices,
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding-left: 2px;
  overflow: visible;
  line-height: 25px;
}
.chosen-container {
  border-width: 1px;
  border-style: solid;
}
.chosen-container .chosen-drop {
  box-sizing: content-box;
  margin-left: -1px;
}
.chosen-container .chosen-drop .chosen-results li {
  background-image: none;
  padding: 9px;
  margin-left: -4px;
}
.chosen-container.loading .chosen-drop {
  height: 40px;
}
.chosen-container.loading .chosen-drop .chosen-results {
  display: none;
}
.chosen-container.loading .chosen-drop .chosen-search {
  display: none;
}
.chosen-container.loading .chosen-drop lang {
  margin: 3px 5px;
  position: relative;
  display: block;
  width: 100%;
}
.chosen-container:not(.chosen-container-active) {
  border-width: 1px;
  border-style: solid;
  border-color: transparent!important;
  border-bottom: 2px #DDDDDD solid !important;
}
#translator .chosen-single {
  height: 1.6rem;
}
#translator .chosen-single > * {
  margin-top: 0.1rem;
}
lang {
  display: inline-block;
}
#notify {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
#notify .charm-closer {
  display: none;
}
#notify .message {
  display: block;
  display: flex;
  justify-content: flex-end;
}
#notify .message .icon {
  height: 2rem;
  flex-basis: auto;
  padding: 0.4rem 1.3rem;
  margin: 0.3rem 0 0.3rem 0.3rem;
  display: inline-block;
}
#notify .message .label {
  margin: 0.7rem 0.6rem;
  align-self: center;
  flex-grow: 1;
  flex-basis: auto;
  display: inline-block;
}
#notify .message .button {
  flex-basis: auto;
  margin: 0;
  height: 2.5rem;
  padding: 0.8rem 1.3rem;
  display: inline-block;
}
#notify .message.error .icon {
  background-color: #9a1616;
  color: #fff;
}
#notify .message.info .icon {
  background-color: #004e9d;
  color: #fff;
}
#notify .message.warning .icon {
  background-color: #e77120;
  color: #fff;
}
[for].error {
  color: red !important;
}
#waiting-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1052;
  background-color: #222;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
#waiting-panel .preloader-ring {
  -webkit-transform: translate(0, -5rem);
  -moz-transform: translate(0, -5rem);
  -ms-transform: translate(0, -5rem);
  -o-transform: translate(0, -5rem);
  transform: translate(0, -5rem);
  margin-left: auto;
  margin-right: auto;
  top: 50%;
}
#waiting-panel .preloader-ring .wrap {
  width: 5rem;
  height: 5rem;
}
#waiting-panel .preloader-ring .wrap .circle {
  width: 5rem;
  height: 5rem;
}
#waiting-panel .preloader-ring .wrap .circle:after {
  height: 0.6rem;
  width: 0.61rem;
}
.tooltip-body {
  position: absolute;
  z-index: 1100;
  display: inline-block;
}
.tooltip-body .tooltip-text {
  white-space: nowrap;
  pointer-events: none;
  padding: 0.5rem;
  border-radius: 5px;
}
.tooltip-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1052;
  background-color: red !important;
}
.accordion2 > .frame {
  padding: 0.5rem 0;
  margin-bottom: 0;
}
.accordion2 > .frame.active {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.accordion2 > .frame:first-child {
  padding-top: 0;
}
.accordion2 > .frame > .heading {
  display: block;
  padding: 4px 16px 8px 20px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  z-index: 2;
  user-select: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.accordion2 > .frame > .heading .mif-chevron-right {
  margin-top: -0.2rem;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.accordion2 > .frame.active > .heading {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.accordion2 > .frame.active > .heading .mif-chevron-right {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.accordion2 > .frame.active > .content {
  display: block;
}
.accordion2 > .frame > .content {
  padding: .625rem;
  display: none;
  z-index: 1;
}
#color-settings .button {
  border-width: 0;
}
#color-settings .button.selected {
  border-width: 3px;
  border-style: solid;
}
#color-settings .button:hover {
  border-width: 3px;
  border-style: solid;
}
#color-settings .half-width {
  width: 48%;
}
#scheme-dark #csp #csp-dark {
  background-color: #e3e3e3;
}
#scheme-light #csp #csp-dark {
  background-color: #1d1d1d;
}
#scheme-dark #csp #csp-brown {
  background-color: #86493f;
}
#scheme-light #csp #csp-brown {
  background-color: #63362f;
}
#scheme-dark #csp #csp-crimson {
  background-color: #970036;
}
#scheme-light #csp #csp-crimson {
  background-color: #640024;
}
#scheme-dark #csp #csp-violet {
  background-color: #701cc7;
}
#scheme-light #csp #csp-violet {
  background-color: #57169a;
}
#scheme-dark #csp #csp-magenta {
  background-color: #b40054;
}
#scheme-light #csp #csp-magenta {
  background-color: #81003c;
}
#scheme-dark #csp #csp-cyan {
  background-color: #228ada;
}
#scheme-light #csp #csp-cyan {
  background-color: #1b6eae;
}
#scheme-dark #csp #csp-cobalt {
  background-color: #004e9d;
}
#scheme-light #csp #csp-cobalt {
  background-color: #00356a;
}
#scheme-dark #csp #csp-teal {
  background-color: #006983;
}
#scheme-light #csp #csp-teal {
  background-color: #004050;
}
#scheme-dark #csp #csp-emerald {
  background-color: #007100;
}
#scheme-light #csp #csp-emerald {
  background-color: #003e00;
}
#scheme-dark #csp #csp-green {
  background-color: #128023;
}
#scheme-light #csp #csp-green {
  background-color: #128023;
}
#scheme-dark #csp #csp-orange {
  background-color: #e77120;
}
#scheme-light #csp #csp-orange {
  background-color: #bf5a15;
}
#scheme-dark #csp #csp-red {
  background-color: #c71c1c;
}
#scheme-light #csp #csp-red {
  background-color: #9a1616;
}
#scheme-dark #csp #csp-pink {
  background-color: #c71c74;
}
#scheme-light #csp #csp-pink {
  background-color: #9a165a;
}
#scheme-dark #csp #csp-indigo {
  background-color: #6400c9;
}
#scheme-light #csp #csp-indigo {
  background-color: #4b0096;
}
#scheme-dark #csp #csp-blue {
  background-color: #1c5ec7;
}
#scheme-light #csp #csp-blue {
  background-color: #16499a;
}
#scheme-dark #csp #csp-lightBlue {
  background-color: #4390df;
}
#scheme-light #csp #csp-lightBlue {
  background-color: #4390df;
}
#scheme-dark #csp #csp-lightTeal {
  background-color: #45fffd;
}
#scheme-light #csp #csp-lightTeal {
  background-color: #3CD8D6;
}
#scheme-dark #csp #csp-lightOlive {
  background-color: #78aa1c;
}
#scheme-light #csp #csp-lightOlive {
  background-color: #78aa1c;
}
#scheme-dark #csp #csp-lightOrange {
  background-color: #ffc194;
}
#scheme-light #csp #csp-lightOrange {
  background-color: #ffc194;
}
#scheme-dark #csp #csp-lightPink {
  background-color: #f472d0;
}
#scheme-light #csp #csp-lightPink {
  background-color: #f472d0;
}
#scheme-dark #csp #csp-grayed {
  background-color: #727272;
}
#scheme-light #csp #csp-grayed {
  background-color: #585858;
}
body.color-changing {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
body.color-changing * {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
#settings-panel.charm.right-side {
  width: 29rem;
  right: -29rem;
  max-width: 100%;
}
#settings-panel.charm.right-side [settings-panel] {
  overflow-y: auto;
  margin-top: 0.7rem;
}
#user-infos-control .user-infos .user-name,
#user-infos-control .user-infos .welcome {
  display: inline-block;
  margin: 0.9rem 0.5rem 0 0;
  vertical-align: top;
}
#user-infos-control .user-infos .avatar {
  margin-top: -0.2rem;
  width: 3rem;
  height: 3rem;
  display: inline-block;
}
#user-infos-control .user-infos .avatar .frame {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
}
#user-infos-control .user-infos .avatar .frame .image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#user-infos-control .user-infos .avatar .frame .image .dropdown-toggle {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
#user-infos-control .user-infos .avatar .frame .image .d-menu {
  -webkit-transform: translate(-4rem, 0);
  -moz-transform: translate(-4rem, 0);
  -ms-transform: translate(-4rem, 0);
  -o-transform: translate(-4rem, 0);
  transform: translate(-4rem, 0);
}
#user-infos-control .user-infos .avatar .frame .image .d-menu li a {
  padding: 0 1.3rem 0 0.3rem;
  min-width: 7rem;
}
#user-infos-control .user-infos .avatar .frame .image .d-menu li a span {
  margin: 1rem;
}
#user-infos-control .user-infos .avatar.noavatar .frame .image {
  background-image: url("../images/user.svg");
  background-color: #fff;
  background-size: 90%;
  background-position: 3px 1px;
}
#file-viewer {
  background-color: #ffffff;
  color: #1d1d1d;
  position: fixed;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  width: 1024px;
  height: 768px;
  z-index: 501;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#file-viewer #content {
  height: 100%;
  padding: 0;
}
#file-viewer #content #image {
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 1rem;
  display: block;
  top: 4rem;
}
#file-viewer #content #image img {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
}
#file-viewer #content #chart {
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 1rem;
  display: block;
  top: 3rem;
}
#file-viewer #content #download {
  position: absolute;
  z-index: 10;
  right: 6px;
  top: 1px;
}
#file-viewer #content #usage {
  position: absolute;
  z-index: 10;
  right: 46px;
  top: 1px;
}
#file-viewer #content #spicemodel {
  position: absolute;
  z-index: 10;
  right: 86px;
  top: 1px;
  padding-top: 0.3rem;
}
#file-viewer #content #create {
  position: absolute;
  z-index: 10;
  right: 0.5rem;
  top: -1.5rem;
}
#file-viewer #content #anode-transfert-chart {
  height: 100%;
}
#file-viewer-backdrop {
  z-index: 500;
}
#file-viewer-dmenu-backdrop {
  z-index: 600;
  background-color: transparent;
}
#file-viewer-dmenu-backdrop li a {
  display: block !important;
  width: 100%;
  height: 100%;
}
@media screen {
  #scheme-dark .modern-highcharts .highcharts-container .highcharts-background {
    fill: #232323 !important;
  }
  #scheme-dark .modern-highcharts .highcharts-container text {
    fill: #e3e3e3 !important;
  }
  #scheme-dark .modern-highcharts .highcharts-container .highcharts-tooltip text {
    fill: #1d1d1d !important;
  }
  #scheme-dark .modern-highcharts .highcharts-container .highcharts-button rect {
    fill: #333 !important;
    stroke: #888 !important;
  }
  #scheme-dark .modern-highcharts .highcharts-container svg > text:last-child {
    fill: #333 !important;
  }
  #scheme-light .modern-highcharts .highcharts-container svg > text:last-child {
    fill: #ddd !important;
  }
  #scheme-light .modern-highcharts .highcharts-container .highcharts-background {
    fill: #fff  !important;
  }
  #scheme-light .modern-highcharts .highcharts-container text {
    fill: #1d1d1d !important;
  }
  #scheme-light .modern-highcharts .highcharts-container .highcharts-tooltip text {
    fill: #1d1d1d !important;
  }
  #scheme-light .modern-highcharts .highcharts-container .highcharts-button rect {
    fill: #f8f8f8 !important;
    stroke: #CCC !important;
  }
  #scheme-light .modern-highcharts .highcharts-container svg > text:last-child {
    fill: #ddd !important;
  }
  #scheme-dark[theme="dark"] .highcharts-background {
    stroke: #e3e3e3;
  }
  #scheme-light[theme="dark"] .highcharts-background {
    stroke: #1d1d1d;
  }
  #scheme-dark[theme="brown"] .highcharts-background {
    stroke: #86493f;
  }
  #scheme-light[theme="brown"] .highcharts-background {
    stroke: #63362f;
  }
  #scheme-dark[theme="crimson"] .highcharts-background {
    stroke: #970036;
  }
  #scheme-light[theme="crimson"] .highcharts-background {
    stroke: #640024;
  }
  #scheme-dark[theme="violet"] .highcharts-background {
    stroke: #701cc7;
  }
  #scheme-light[theme="violet"] .highcharts-background {
    stroke: #57169a;
  }
  #scheme-dark[theme="magenta"] .highcharts-background {
    stroke: #b40054;
  }
  #scheme-light[theme="magenta"] .highcharts-background {
    stroke: #81003c;
  }
  #scheme-dark[theme="cyan"] .highcharts-background {
    stroke: #228ada;
  }
  #scheme-light[theme="cyan"] .highcharts-background {
    stroke: #1b6eae;
  }
  #scheme-dark[theme="cobalt"] .highcharts-background {
    stroke: #004e9d;
  }
  #scheme-light[theme="cobalt"] .highcharts-background {
    stroke: #00356a;
  }
  #scheme-dark[theme="teal"] .highcharts-background {
    stroke: #006983;
  }
  #scheme-light[theme="teal"] .highcharts-background {
    stroke: #004050;
  }
  #scheme-dark[theme="emerald"] .highcharts-background {
    stroke: #007100;
  }
  #scheme-light[theme="emerald"] .highcharts-background {
    stroke: #003e00;
  }
  #scheme-dark[theme="green"] .highcharts-background {
    stroke: #128023;
  }
  #scheme-light[theme="green"] .highcharts-background {
    stroke: #128023;
  }
  #scheme-dark[theme="orange"] .highcharts-background {
    stroke: #e77120;
  }
  #scheme-light[theme="orange"] .highcharts-background {
    stroke: #bf5a15;
  }
  #scheme-dark[theme="red"] .highcharts-background {
    stroke: #c71c1c;
  }
  #scheme-light[theme="red"] .highcharts-background {
    stroke: #9a1616;
  }
  #scheme-dark[theme="pink"] .highcharts-background {
    stroke: #c71c74;
  }
  #scheme-light[theme="pink"] .highcharts-background {
    stroke: #9a165a;
  }
  #scheme-dark[theme="indigo"] .highcharts-background {
    stroke: #6400c9;
  }
  #scheme-light[theme="indigo"] .highcharts-background {
    stroke: #4b0096;
  }
  #scheme-dark[theme="blue"] .highcharts-background {
    stroke: #1c5ec7;
  }
  #scheme-light[theme="blue"] .highcharts-background {
    stroke: #16499a;
  }
  #scheme-dark[theme="lightBlue"] .highcharts-background {
    stroke: #4390df;
  }
  #scheme-light[theme="lightBlue"] .highcharts-background {
    stroke: #4390df;
  }
  #scheme-dark[theme="lightTeal"] .highcharts-background {
    stroke: #45fffd;
  }
  #scheme-light[theme="lightTeal"] .highcharts-background {
    stroke: #3CD8D6;
  }
  #scheme-dark[theme="lightOlive"] .highcharts-background {
    stroke: #78aa1c;
  }
  #scheme-light[theme="lightOlive"] .highcharts-background {
    stroke: #78aa1c;
  }
  #scheme-dark[theme="lightOrange"] .highcharts-background {
    stroke: #ffc194;
  }
  #scheme-light[theme="lightOrange"] .highcharts-background {
    stroke: #ffc194;
  }
  #scheme-dark[theme="lightPink"] .highcharts-background {
    stroke: #f472d0;
  }
  #scheme-light[theme="lightPink"] .highcharts-background {
    stroke: #f472d0;
  }
  #scheme-dark[theme="grayed"] .highcharts-background {
    stroke: #727272;
  }
  #scheme-light[theme="grayed"] .highcharts-background {
    stroke: #585858;
  }
}
#anode-transfert-chart {
  width: 100%;
}
#anode-transfert-chart #chart-cont {
  width: 100%;
}
body.dragdrop .highcharts-tooltip {
  display: none;
}
#chart-menu-backdrop {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  background-color: transparent !important;
}
#chart-menu-body {
  display: inline-block;
}
#chart-menu-body #chart-menu {
  display: block;
  border-collapse: separate;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  list-style: none inside none;
  margin: 0;
  padding: 0;
  float: left;
  z-index: 1000;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
#chart-menu-body #chart-menu li {
  padding: 0 1rem 0 1rem;
}
#chart-menu-body #chart-menu .values {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
#chart-menu-body #chart-menu .values .value {
  margin: 0 2rem 0 0.5rem;
  font-weight: 700;
}
#chart-menu-body #chart-menu .menu-item:before {
  content: none;
}
#chartInfos.grid {
  font-size: 90%;
}
#chartInfos.grid div.row {
  margin-top: 0;
}
#chartInfos.grid div.row .cell {
  min-height: 2rem;
  padding: 0 0.5rem;
}
#chartInfos.grid div.row .cell .infoVal {
  margin: 0 0.5rem;
}
html {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}
#container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
#container .inline {
  display: inline-block;
}
#container hr {
  margin: 0;
}
#container h2 {
  margin-bottom: 0.9rem;
}
#container header {
  padding: 0.5rem 1rem 1rem 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#container header #user-infos-panel {
  flex-basis: auto;
}
#container header #title-panel {
  padding-top: 1rem;
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 0;
}
#container header #title-panel .logo {
  background: url("../images/logo.svg") no-repeat center center;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 0.5rem 0 0;
  display: inline-block;
}
#container header #title-panel h1 {
  font-size: 2.5rem;
  display: inline-block;
}
@media all and (max-width: 880px) {
  #container header #title-panel {
    display: none;
  }
}
#container header #user-infos-panel {
  padding-top: 1.9rem;
}
#container header #trans-area {
  padding-top: 1.5rem;
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 0;
}
#container header #trans-area .input-control {
  width: 13rem;
  padding-top: 0.1rem;
}
#container #main-content {
  margin: 2rem;
}
#container #main-content .ml1 {
  margin-left: 1rem;
}
#container #main-content .noinf,
#container #main-content .nodoc,
#container #main-content .nousageex {
  opacity: 0.6;
  margin-bottom: 1.5rem;
}
#container #main-content .align-center {
  width: 100%;
  display: block;
}
#container #main-content .section-hdr {
  border-bottom: solid 1px transparent;
  margin-bottom: 1.5rem;
}
#container #main-content #title {
  margin-bottom: 1rem;
}
#container #main-content #type {
  margin-left: 1rem;
}
#container #main-content #user-name {
  margin-left: 0.5rem;
}
#container #main-content #genparams .row,
#container #main-content #c-max .row,
#container #main-content #c-docs .row,
#container #main-content #c-usages .row {
  margin: 0 0 1rem 0;
}
#container #main-content #genparams .vrow,
#container #main-content #c-max .vrow,
#container #main-content #c-docs .vrow,
#container #main-content #c-usages .vrow {
  padding: 0 3rem;
}
#container #main-content #genparams .caption,
#container #main-content #c-max .caption,
#container #main-content #c-docs .caption,
#container #main-content #c-usages .caption {
  display: inline-block;
  width: 60%;
}
#container #main-content #genparams .unit,
#container #main-content #c-max .unit,
#container #main-content #c-docs .unit,
#container #main-content #c-usages .unit {
  width: 4rem;
  float: right;
  text-align: right;
}
#container #main-content #genparams .value,
#container #main-content #c-max .value,
#container #main-content #c-docs .value,
#container #main-content #c-usages .value {
  width: 5rem;
  float: right;
  text-align: right;
}
#container #main-content #genparams .u2,
#container #main-content #c-max .u2,
#container #main-content #c-docs .u2,
#container #main-content #c-usages .u2 {
  float: right;
}
#container #main-content #genparams #file-controls,
#container #main-content #c-max #file-controls,
#container #main-content #c-docs #file-controls,
#container #main-content #c-usages #file-controls {
  float: right;
}
#container #main-content #genparams .note,
#container #main-content #c-max .note,
#container #main-content #c-docs .note,
#container #main-content #c-usages .note {
  margin-top: 2rem;
}
@media all and (max-width: 1024px) {
  #container #main-content #genparams .caption,
  #container #main-content #c-max .caption,
  #container #main-content #c-docs .caption,
  #container #main-content #c-usages .caption {
    width: 40%;
  }
  #container #main-content #genparams .unit,
  #container #main-content #c-max .unit,
  #container #main-content #c-docs .unit,
  #container #main-content #c-usages .unit {
    width: 3rem;
  }
  #container #main-content #genparams .value,
  #container #main-content #c-max .value,
  #container #main-content #c-docs .value,
  #container #main-content #c-usages .value {
    width: 4rem;
  }
}
@media all and (max-width: 640px) {
  #container #main-content #genparams .caption,
  #container #main-content #c-max .caption,
  #container #main-content #c-docs .caption,
  #container #main-content #c-usages .caption {
    width: 60%;
  }
  #container #main-content #genparams .unit,
  #container #main-content #c-max .unit,
  #container #main-content #c-docs .unit,
  #container #main-content #c-usages .unit {
    width: 4rem;
  }
  #container #main-content #genparams .value,
  #container #main-content #c-max .value,
  #container #main-content #c-docs .value,
  #container #main-content #c-usages .value {
    width: 5rem;
  }
  #container #main-content #genparams .row,
  #container #main-content #c-max .row,
  #container #main-content #c-docs .row,
  #container #main-content #c-usages .row {
    margin: 0;
  }
  #container #main-content #genparams .vrow,
  #container #main-content #c-max .vrow,
  #container #main-content #c-docs .vrow,
  #container #main-content #c-usages .vrow {
    margin: 0 0 2.12765% 0;
    padding: 0;
  }
}
#container #main-content #c-max h5 {
  border-bottom: solid 1px transparent;
  width: 80%;
  margin: 0 auto 1rem auto;
  padding: 0.5rem 0;
}
#container #main-content #c-usages .c-chart,
#container #main-content #c-usages .i-chart {
  padding: 0 3rem;
}
#container #main-content #c-usages .c-chart .row,
#container #main-content #c-usages .i-chart .row {
  margin: 0;
}
@media all and (max-width: 640px) {
  #container #main-content #c-usages .c-chart,
  #container #main-content #c-usages .i-chart {
    padding: 0;
  }
}
#container #main-content #c-docs .row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: left;
  margin-bottom: 0.5rem;
  /*padding: 0 3rem;          
                width: 100%;
                max-width: 1200px;
                margin: 0 auto;
                
                #file-controls {
                    float: right;
                }      
                
                #icon {
                    vertical-align: text-top;
                }
                
                .label {
                    max-width: 85%;
                    display: inline-block;
                    margin-top: 0.8rem;
                    word-break: break-word;
                }*/
}
#container #main-content #c-docs .row #icon,
#container #main-content #c-docs .row button {
  flex-basis: auto;
  flex-shrink: 0;
}
#container #main-content #c-docs .row #icon:before {
  text-align: center;
}
#container #main-content #c-docs .row .label {
  margin-left: 0.5rem;
  flex-grow: 1;
  flex-basis: auto;
  word-break: break-word;
}
#container #main-content #c-docs .row button {
  margin-top: -0.5rem;
}
#container #main-content .base {
  margin-top: 2rem;
}
#container #main-content #c-socket span,
#container #main-content #c-pinout span {
  margin-bottom: 1rem;
}
#container #main-content #c-socket #socket,
#container #main-content #c-pinout #socket,
#container #main-content #c-socket #connection,
#container #main-content #c-pinout #connection {
  margin: 0 auto;
  display: block;
  position: relative;
  opacity: 1;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
#container #main-content #c-socket #socket.empty,
#container #main-content #c-pinout #socket.empty,
#container #main-content #c-socket #connection.empty,
#container #main-content #c-pinout #connection.empty {
  opacity: 0;
}
#container #main-content #c-socket #socket,
#container #main-content #c-pinout #socket {
  width: 9rem;
  height: 9rem;
  margin-top: 2.5rem;
}
#container #main-content #c-socket #connection,
#container #main-content #c-pinout #connection {
  width: 14rem;
  height: 14rem;
}
#container #main-content .accordion > .frame > .content,
#container #main-content .accordion > .frame > .heading {
  background-color: transparent;
  border: 0;
}
