<div id="anodechartmenu" style="display:none;" translate="acm1">
    <div id="chart-menu" class="bo-theme bg-grayLighter fg-grayDarker">
        <ul class="simple-list dark-bullet">
            <li class="values">
                <span>va:</span>
                <span id="va" class="value"></span>
                <span>ia:</span>
                <span id="ia" class="value"></span>
            </li>
            <li class="menu-item">
                <button class="bg-theme-over button" data-click="apply"><span class="mif-anchor"></span>
                    <lang id="apply">Apply as working point</lang>
                </button>
            </li>
        </ul>
    </div>
</div>