<div id="chartInfos" class="grid" translate="aci1">
    <div class="row cells4">
        <span class="cell">
                <span class="infoLabel" lang uid="vg10zero">Grid Voltage at zero</span>:<span class="infoVal" id="vg1zero"></span>
        </span>
        <span class="cell">
                <span class="infoLabel" lang uid="vapp">Output Voltage (pp)</span>:<span class="infoVal" id="vapp"></span>
        </span>
        <span class="cell">
                <span class="infoLabel" lang uid="pmax">Max power</span>:<span class="infoVal" id="pmax"></span>
        </span>
        <span class="cell">
                <span class="infoLabel" lang uid="transzero">Transconductance at zero</span>:<span class="infoVal" id="trans"></span>
        </span>
    </div>
    <div class="row cells10">
        <span class="cell">
                <span class="infoLabel">H2</span>:<span class="infoVal" id="h2"></span>
        </span>
        <span class="cell">
                <span class="infoLabel">H3</span>:<span class="infoVal" id="h3"></span>
        </span>
        <span class="cell">
                <span class="infoLabel">H4</span>:<span class="infoVal" id="h4"></span>
        </span>
        <span class="cell">
                <span class="infoLabel">Htot</span>:<span class="infoVal" id="htot"></span>
        </span>
        <span class="cell">
                <span class="infoLabel" lang uid="gain">Gain</span>:<span class="infoVal" id="gain"></span>
        </span>
        <span class="cell colspan3">
                <span class="infoLabel" lang uid="rizero">Internal resistance at zero</span>:<span class="infoVal" id="ri"></span>
        </span>
    </div>
</div>