<div id="light-theme" translate="btran1" locale="en" class="padding20 dialog" data-role="dialog" data-close-button="true" data-overlay="true" data-overlay-click-close="true"
data-overlay-color="op-dark">
    <h2 class="fg-light-theme" lang id="bt1">Popose a best translation</h2>
    <hr class="thin bg-theme" />
    <p lang id="bt2">
        Enter your proposition
    </p>
    <p lang id="bt3">
        The text will be changed after the approval from an administrator.
    </p>
    <div class="input-control text full-size">
        <input type="text" maxlength="256" placeholder="Name...">
    </div>
    <br>
    <br>
    <div class="form-actions fg-theme-selected bg-theme-selected">
        <button type="button" validate class="button bg-theme-over selected no-border" lang uid="ok">Ok</button>
        <button type="button" cancel class="button link" lang uid="cancel">Cancel</button>
    </div>
</div>