<div id="csp" translate="csp1" locale="en">
    <h3 class="text-light" lang uid="colors">Colors</h3>
    <hr class="thin" />
    <br />
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-dark" data-theme="dark"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-brown" data-theme="brown"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-crimson" data-theme="crimson"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-violet" data-theme="violet"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-magenta" data-theme="magenta"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-cyan" data-theme="cyan"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-cobalt" data-theme="cobalt"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-teal" data-theme="teal"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-emerald" data-theme="emerald"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-green" data-theme="green"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-orange" data-theme="orange"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-red" data-theme="red"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-pink" data-theme="pink"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-indigo" data-theme="indigo"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-blue" data-theme="blue"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-lightBlue" data-theme="lightBlue"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-lightTeal" data-theme="lightTeal"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-lightOlive" data-theme="lightOlive"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-lightOrange" data-theme="lightOrange"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-lightPink" data-theme="lightPink"></div>
    <div class="button square-button bo-lighter-selected bo-light-over" id="csp-grayed" data-theme="grayed"></div>
    <br />
    <br />
    <h3 class="text-light" lang uid="theme">Theme</h3>
    <hr class="thin" />
    <br />
    <label data-scheme="dark" class="input-control half-width radio">
        <input name='theme' value="dark" type="radio">
        <span class="check"></span>
        <span class="caption" lang uid="dark">Dark</span>
    </label>
    <label data-scheme="light" class="input-control half-width radio">
        <input name='theme' value="light" type="radio">
        <span class="check"></span>
        <span class="caption" lang uid="light">Light</span>
    </label>
</div>