<div id="doc-selector" translate="docvw1" locale="en" class="window">
    <div id="docTemplate" style="display:none;">
        <div class="row">
            <label class="input-control checkbox small-check">
                <input type="checkbox">
                <span class="mif-checkmark bo-lighter bo-lighter-over bg-scheme fg-scheme"></span>
            </label>
            <label class="input-control radio small-check">
                <input type="radio" name='radio'>
                <span class="check"></span>
            </label>
            <span id="icon" class="" uid="usageex" tooltip="Usage exemple"></span>
            <span class="label"></span>
            <button data-click="" class="square-button bg-transparent bg-theme-over fg-theme-over fg-lighter no-border" uid="display" tooltip="Display"><span id="action"></span></button>
        </div>
    </div>
    <div id="content" class="window-content">
        <div class="window-caption fg-theme-selected bg-theme bg-theme-selected">
            <span class="window-caption-icon selected"><span class="mif-attachment"></span></span>
            <span class="window-caption-title selected"><lang uid="docs">Documents</lang><span id="tname"></span></span>
            <span class="btn-close bg-theme-over selected"></span>
        </div>
        <h5 id="title" class="align-center"></h5>
        <span id="no-doc" class="align-center" lang uid="nodoc" style="display: none;">No documents attached to this tube.</span>
        <span id="scroll">
            <span id="docs" class="grid">
            </span>
        </span>
        <div id="light-theme">
            <button id="ok" class="button bg-light-theme no-border" lang uid="ok">Ok</button>
            <button id="cancel" class="button link" cancel lang uid="cancel">Cancel</button>
        </div>
    </div>
</div>