<div id="file-viewer" translate="filevw1" locale="en" class="window">
    <div id="downloadmenu" style="display:none;">
        <ul id="dmenu" class="bg-grayDark fg-white">
            <li class="bg-theme-over" data-click="csv">
                <span class="fa-csv"></span>csv 
            </li>
            <li class="bg-theme-over" data-click="xls">
                <span class="fa-xls"></span>xls 
            </li>
            <li class="bg-theme-over" data-click="json">
                <a href="" class="fg-white" id="download-json"><span class="fa-json"></span>json</a>
            </li>
            <li class="bg-theme-over" data-click="raw">
                <a href="" class="fg-white" id="download-json-raw"><span class="fa-json"></span>json raw (300pts per lines)</a>
            </li>            
        </ul>
    </div>
    <div id="content" class="window-content">
        <div class="window-caption fg-theme-selected bg-theme bg-theme-selected">
            <span class="window-caption-icon selected"><span class="mif-eye"></span></span>
            <span class="window-caption-title selected" lang uid="views">Views</span>
            <span class="btn-close bg-theme-over selected"></span>
        </div>
        <span id="image">
            <a href="" id="create" tooltip="Create a new graph for this image">
                <button class="square-button bg-transparent bg-theme-over fg-theme-over fg-lighter no-border"><span class="mif-magic-wand"></span></button>
            </a>
            <img/>
        </span>
        <span id="chart">
            <!--<button id="spicemodel" class="square-button bg-transparent bg-theme-over fg-theme-over fg-lighter no-border" tooltip="Spice Model"><span class="fa-spice"></span></button>-->
            <a href="" id="usage" tooltip="Create a new usage example with this graph">
                <button class="square-button bg-transparent bg-theme-over fg-theme-over fg-lighter no-border"><span class="mif-apps"></span></button>
            </a>
            <button id="download" class="square-button bg-transparent bg-theme-over fg-theme-over fg-lighter no-border" tooltip="Download"><span class="mif-download"></span></button>
            <!--<a href="" id="download" download="data.json" uid="download" tooltip="Download">
                <button class="square-button bg-transparent bg-theme-over fg-theme-over fg-lighter no-border"><span class="mif-download"></span></button>
            </a>-->
        </span>
    </div>
</div>