<div search-criteria translate>
    <div id="field-selector" class="input-control modern select">
        <select name="field" style="display: none"></select>
        <span class="input-preloader fg-grayDark" style="display:none;">
                            <lang uid="loading">Loading</lang>
                            <div data-role="preloader" data-type="metro" data-style="dark"></div>
                        </span>
        <span class="placeholder" lang uid="selectfield">Select a field</span>
    </div>

    <div id="field-lookup" class="input-control modern select">
        <select name="lookup" style="display: none"></select>
        <span class="input-preloader fg-grayDark" style="display:none;">
                            <lang uid="loading">Loading</lang>
                            <div data-role="preloader" data-type="metro" data-style="dark"></div>
                        </span>
        <span class="placeholder" lang uid="selectvalue">Select a value</span>
    </div>

    <div id="field-value" class="input-control modern text" data-role="input">
        <input class="fg-lighter" name="textvalue" type="text">
        <span class="placeholder" lang uid="value">Value</span>
    </div>

    <div id ="field-min" class="input-control modern numeric" data-role="input">
        <input class="fg-lighter" class="fg-lighter" type="number" lang="en" name="min">
        <span class="placeholder fg-light" uid="from">From</span>
        <span class="input-state-error mif-warning"></span>
    </div>

    <div id="field-max" class="input-control modern numeric" data-role="input">
        <input class="fg-lighter" class="fg-lighter" type="number" lang="en" name="max">
        <span class="placeholder fg-light" uid="to">To</span>
        <span class="input-state-error mif-warning"></span>
    </div>

    <label id="whole-word" class="input-control modern checkbox">
        <input name='wholeword' type="checkbox">
        <span class="mif-checkmark bo-lighter bo-lighter-over bg-scheme fg-scheme"></span>
        <lang uid="wholeword">Whole word</lang>
    </label>

    <button id="remove-field" class="square-button bg-transparent bg-theme-over fg-lighter no-border' uid=" removecriteria
    " tooltip="Remove this criteria "><span class="mif-cross "></button>
</div>