<div translate="set1" locale="en" class="settings-panel">
	<button class="square-button bg-transparent bg-theme-over fg-lighter no-border place-right small-button" settings-panel><span class="mif-cross"></span></button>
	<h2 class="fg-theme" lang uid="settings">Settings</h2>
	<hr class="thin" />
	<br />
	<div id="color-settings-panel">
	</div>
</div>
