<div class="bo-theme no-break-inside" translate>
    <div class="tube-icon inline">
    </div>
    <div class="grid datas">
        <div class="row cells inline">
            <span class="cell">
                <h2 id="title" class="fg-theme inline" data-bind="name"></h2>
                <h4 id="type" class="type inline" data-bind="type"></h4>
            </span>
        </div>
        <div class="row cells5 inline">
            <span class="cell">
                <lang uid="filament">Filaments</lang>
                <span data-show="dh" class="icon-pull fg-theme-over"></span>:
            </span>
            <span class="cell">
                <span data-bind="vh1"></span>
                <span class="ml1" data-bind="ih1"></span>
            </span>
            <span class="cell" tooltip-control="baseTooltip" tooltip-backdrop backdrop-opacity="0.7">
                <span lang uid="base">Base</span>
                <span id="baseview" class="mif-eye"></span>:
            </span>
            <span class="cell colspan2" data-bind="base"></span>
        </div>
        <div class="row cells5 inline">
            <span class="cell"><lang data-show="a" uid="anode-">Anode:</lang></span>
            <span class="cell"><span data-show="a" data-bind="vamax"></span><span data-show="a" class="ml1" data-bind="pamax"></span></span>
            <span class="cell" tooltip-control="pinoutTooltip" tooltip-backdrop backdrop-opacity="0.7">
                <span lang uid="pinout">Pinout</span>
                <span id="pinoutview" class="mif-eye"></span>:
            </span>
            <span class="cell colspan2" data-bind="pinout"></span>
        </div>
        <div class="row cells5 inline">
            <span class="cell" data-show="g2" lang uid="grid2-">Grid 2 :</span>
            <span class="cell" data-show="g2"><span data-bind="vg2max"></span><span class="ml1" data-bind="pg2max"></span></span>
            <span class="cell" data-show="units" lang uid="unit-">Unit:</span>
            <span id="units" data-show="units" class="cell colspan2">
                <button class="square-button mini-button bg-transparent bg-theme-over fg-lighter bo-lighter" id="unit1" tooltip="Unit 1" data-click="unit" u-index="0">1</button>
                <button class="square-button mini-button bg-transparent bg-theme-over fg-lighter no-border" id="unit2" tooltip="Unit 2" data-click="unit" u-index="1">2</button>
                <button class="square-button mini-button bg-transparent bg-theme-over fg-lighter no-border" id="unit3" tooltip="Unit 3" data-click="unit" u-index="2">3</button>
                <button class="square-button mini-button bg-transparent bg-theme-over fg-lighter no-border" id="unit4" tooltip="Unit 4" data-click="unit" u-index="3">4</button>
            </span>
        </div>
        <div id="rdocs" class="screen row cells5 inline">
            <div id="cdocs" class="cell colspan5">
                <div class="view fg-theme-over" data-click="view" id="view" tooltip="View this tube"><span class="icon mif-enlarge2"></span></div>
                <div class="docs" data-click="docs" uid="docs" tooltip="Documents"><span class="icon mif-attachment"></span><span class="dcount" data-bind="docsCount"></span></div>
                <div class="menu" data-click="menu" uid="more" tooltip="More"><span class="icon mif-more-horiz"></span></div>
            </div>
        </div>
        <div id="user" class="row cells5 inline">
            <span class="cell colspan5 fg-theme"><lang uid="versionof">Version of</lang>:<span id="user-name"></span></span>
        </div>
    </div>
</div>