<div id="tube-chart" translate="tc1" locale="en">
    <translations style="display:none">
        <lang id="c-tt">Transfer fonction</lang>
        <lang id="c-av">Anode Voltage (V)</lang>
        <lang id="c-ac">Anode Current (mA)</lang>
        <lang id="c-wp">Work Point</lang>        
    </translations>
    <div id="chart-cont">
        <div id="color" class="bg-darker fg-theme" style="display:none;">
        </div>
    </div>
</div>