<div translate="uic1" locale="en" id="user-infos-control">
    <span class="user-infos fg-lighter">
        <span class="welcome" lang uid="welcome">Welcome</span>
        <span class="user-name">user</span>
        <span class="avatar frame">
            <div class="frame">
                <div class="image">
                    <a href="" class="dropdown-toggle"></a>
                    <ul class="d-menu bg-grayDark" data-role="dropdown">
                        <li class="bg-theme-over">
                            <a href="/logout" class="fg-white">
                                <span class="mif-switch"></span>
                                <lang uid="logout">Logout</lang>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </span>
    </span>
    <button class="button bg-transparent bg-theme-over fg-lighter no-border login">
        <span class="mif-upload"></span>
        <span lang uid="login">login</span>
    </button>
</div>