﻿// Just for colors references, do not use for performance reasons and risk of duplicates id's
#scheme-dark #bg-dark{
    background-color: #e3e3e3;
}
#scheme-light #bg-dark{
    background-color: #1d1d1d;
}
#scheme-dark #bg-brown{
    background-color: #86493f;
}
#scheme-light #bg-brown{
    background-color: #63362f;
}
#scheme-dark #bg-crimson{
    background-color: #970036;
}
#scheme-light #bg-crimson{
    background-color: #640024;
}
#scheme-dark #bg-violet{
    background-color: #701cc7;
}
#scheme-light #bg-violet{
    background-color: #57169a;
}
#scheme-dark #bg-magenta{
    background-color: #b40054;
}
#scheme-light #bg-magenta{
    background-color: #81003c;
}
#scheme-dark #bg-cyan{
    background-color: #228ada;
}
#scheme-light #bg-cyan{
    background-color: #1b6eae;
}
#scheme-dark #bg-cobalt{
    background-color: #004e9d;
}
#scheme-light #bg-cobalt{
    background-color: #00356a;
}
#scheme-dark #bg-teal{
    background-color: #006983;
}
#scheme-light #bg-teal{
    background-color: #004050;
}
#scheme-dark #bg-emerald{
    background-color: #007100;
}
#scheme-light #bg-emerald{
    background-color: #003e00;
}
#scheme-dark #bg-green{
    background-color: #128023;
}
#scheme-light #bg-green{
    background-color: #128023;
}
#scheme-dark #bg-orange{
    background-color: #e77120;
}
#scheme-light #bg-orange{
    background-color: #bf5a15;
}
#scheme-dark #bg-red{
    background-color: #c71c1c;
}
#scheme-light #bg-red{
    background-color: #9a1616;
}
#scheme-dark #bg-pink{
    background-color: #c71c74;
}
#scheme-light #bg-pink{
    background-color: #9a165a;
}
#scheme-dark #bg-indigo{
    background-color: #6400c9;
}
#scheme-light #bg-indigo{
    background-color: #4b0096;
}
#scheme-dark #bg-blue{
    background-color: #1c5ec7;
}
#scheme-light #bg-blue{
    background-color: #16499a;
}
#scheme-dark #bg-lightBlue{
    background-color: #4390df;
}
#scheme-light #bg-lightBlue{
    background-color: #4390df;
}
#scheme-dark #bg-lightTeal{
    background-color: #45fffd;
}
#scheme-light #bg-lightTeal{
    background-color: #3CD8D6;
}
#scheme-dark #bg-lightOlive{
    background-color: #78aa1c;
}
#scheme-light #bg-lightOlive{
    background-color: #78aa1c;
}
#scheme-dark #bg-lightOrange{
    background-color: #ffc194;
}
#scheme-light #bg-lightOrange{
    background-color: #ffc194;
}
#scheme-dark #bg-lightPink{
    background-color: #f472d0;
}
#scheme-light #bg-lightPink{
    background-color: #f472d0;
}
#scheme-dark #bg-grayed{
    background-color: #727272;
}
#scheme-light #bg-grayed{
    background-color: #585858;
}
