// Just for colors references, do not use for performance reasons and risk of duplicates id's
#bg-0 {
	background: #222222 !important;
}

#bg-1 {
	background: #000000 !important;
} 
 
#bg-2 {
	background: #a4c400 !important;
}
		
#bg-3 {
	background: #60a917 !important;
}
 
#bg-4 {
	background: #008a00 !important;
}

#bg-5 {
	background: #00aba9 !important;
} 
 
#bg-6 {
	background: #1ba1e2 !important;
}

#bg-7 {
	background: #0050ef !important;
}

#bg-8 {
	background: #6a00ff !important;
}

#bg-9 {
	background: #aa00ff !important;
}

#bg-10 {
	background: #dc4fad !important;
}

#bg-11 {
	background: #d80073 !important;
}

#bg-12 {
	background: #a20025 !important;
}

#bg-13 {
	background: #ce352c !important;
}

#bg-14 {
	background: #fa6800 !important;
}

#bg-15 {
	background: #f0a30a !important;
}

#bg-16 {
	background: #e3c800 !important;
}

#bg-17 {
	background: #825a2c !important;
}

#bg-18 {
	background: #6d8764 !important;
}

#bg-19 {
	background: #647687 !important;
}

#bg-20 {
	background: #76608a !important;
}

#bg-21 {
	background: #87794e !important;
}

#bg-22 {
	background: #555555 !important;
}

#bg-23 {
	background: #333333 !important;
}

#bg-24 {
	background: #222222 !important;
}

#bg-25 {
	background: #63362f !important;
}

#bg-26 {
	background: #640024 !important;
}

#bg-27 {
	background: #81003c !important;
}

#bg-28 {
	background: #4b0096 !important;
}

#bg-29 {
	background: #1b6eae !important;
}

#bg-30 {
	background: #00356a !important;
}

#bg-31 {
	background: #004050 !important;
}

#bg-32 {
	background: #003e00 !important;
}

#bg-33 {
	background: #128023 !important;
}

#bg-34 {
	background: #bf5a15 !important;
}

#bg-35 {
	background: #9a1616 !important;
}

#bg-36 {
	background: #9a165a !important;
}

#bg-37 {
	background: #57169a !important;
}

#bg-38 {
	background: #16499a !important;
}

#bg-39 {
	background: #333333 !important;
}
