.accordion2 {
	& > .frame {
		padding: 0.5rem 0;
        margin-bottom: 0;
                
        &.active {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }
        
		&:first-child {
			padding-top: 0;
		}

		& > .heading {
			display: block;
			padding: 4px 16px 8px 20px;
			cursor: pointer;
			font-size: 1rem;
			text-transform: uppercase;
			position: relative;
			overflow: hidden;
			z-index: 2;
			user-select: none;
			.transition(.3s);

			.mif-chevron-right {
                margin-top: -0.2rem;
				.rotate(0);
				.transition(.3s);
			}
		}

		&.active > .heading {
			.transition(.3s);

			.mif-chevron-right {
				.transition(.3s);
				.rotate(45deg);
			}
		}

		&.active > .content {
			display: block;
		}

		& > .content {
			padding: .625rem;
			display: none;
			z-index: 1;
		}
	}
}