.checkbox {
	.mif-checkmark {
		border-width: 1px;
		border-style: solid;
		width: 1.5rem;
		height: 1.5rem;
		padding: 0.3rem;
		vertical-align: top;
		margin-top: 1px;
		margin-right: 0.3rem;
	}	
	
	.mif-checkmark:before {	
	    .transition(all 0.2s linear);
	}
		
	input:not([checked]) ~ .mif-checkmark:before{	
		.opacity(0);
	}
}

