#color-settings {
	.button {
		border-width: 0;			
	}
	
	.button.selected {
		border-width: 3px;
		border-style: solid;
	} 
	
	.button:hover {
		border-width: 3px;
		border-style: solid;
	} 
	
	.half-width {
		width: 48%;
	}
}

#scheme-dark #csp #csp-dark{
    background-color: #e3e3e3;
}
#scheme-light #csp #csp-dark{
    background-color: #1d1d1d;
}
#scheme-dark #csp #csp-brown{
    background-color: #86493f;
}
#scheme-light #csp #csp-brown{
    background-color: #63362f;
}
#scheme-dark #csp #csp-crimson{
    background-color: #970036;
}
#scheme-light #csp #csp-crimson{
    background-color: #640024;
}
#scheme-dark #csp #csp-violet{
    background-color: #701cc7;
}
#scheme-light #csp #csp-violet{
    background-color: #57169a;
}
#scheme-dark #csp #csp-magenta{
    background-color: #b40054;
}
#scheme-light #csp #csp-magenta{
    background-color: #81003c;
}
#scheme-dark #csp #csp-cyan{
    background-color: #228ada;
}
#scheme-light #csp #csp-cyan{
    background-color: #1b6eae;
}
#scheme-dark #csp #csp-cobalt{
    background-color: #004e9d;
}
#scheme-light #csp #csp-cobalt{
    background-color: #00356a;
}
#scheme-dark #csp #csp-teal{
    background-color: #006983;
}
#scheme-light #csp #csp-teal{
    background-color: #004050;
}
#scheme-dark #csp #csp-emerald{
    background-color: #007100;
}
#scheme-light #csp #csp-emerald{
    background-color: #003e00;
}
#scheme-dark #csp #csp-green{
    background-color: #128023;
}
#scheme-light #csp #csp-green{
    background-color: #128023;
}
#scheme-dark #csp #csp-orange{
    background-color: #e77120;
}
#scheme-light #csp #csp-orange{
    background-color: #bf5a15;
}
#scheme-dark #csp #csp-red{
    background-color: #c71c1c;
}
#scheme-light #csp #csp-red{
    background-color: #9a1616;
}
#scheme-dark #csp #csp-pink{
    background-color: #c71c74;
}
#scheme-light #csp #csp-pink{
    background-color: #9a165a;
}
#scheme-dark #csp #csp-indigo{
    background-color: #6400c9;
}
#scheme-light #csp #csp-indigo{
    background-color: #4b0096;
}
#scheme-dark #csp #csp-blue{
    background-color: #1c5ec7;
}
#scheme-light #csp #csp-blue{
    background-color: #16499a;
}
#scheme-dark #csp #csp-lightBlue{
    background-color: #4390df;
}
#scheme-light #csp #csp-lightBlue{
    background-color: #4390df;
}
#scheme-dark #csp #csp-lightTeal{
    background-color: #45fffd;
}
#scheme-light #csp #csp-lightTeal{
    background-color: #3CD8D6;
}
#scheme-dark #csp #csp-lightOlive{
    background-color: #78aa1c;
}
#scheme-light #csp #csp-lightOlive{
    background-color: #78aa1c;
}
#scheme-dark #csp #csp-lightOrange{
    background-color: #ffc194;
}
#scheme-light #csp #csp-lightOrange{
    background-color: #ffc194;
}
#scheme-dark #csp #csp-lightPink{
    background-color: #f472d0;
}
#scheme-light #csp #csp-lightPink{
    background-color: #f472d0;
}
#scheme-dark #csp #csp-grayed{
    background-color: #727272;
}
#scheme-light #csp #csp-grayed{
    background-color: #585858;
}

body.color-changing {
	.transition(all linear 0.5s);     
	* {
    	.transition(all linear 0.5s); 
	}
}