.input-control.modern.text[datepicker] {
    input[readonly] {
        border-bottom-color: #DDDDDD;
    }

    .button,
    .button:hover {
        .translate(0.9rem, 0.7rem);
        box-shadow: none;
        border: 0;
    }

    .calendar-dropdown {
        .translate(0rem, 1rem);
    }

    .calendar-dropdown {
        box-shadow: none;
    }

    .calendar .day,
    .calendar .month,
    .calendar .year {
        border: 0;
    }

    .calendar {
        border-width: 1px;
        border-style: solid;
        background-color: #ffffff;
    }

    .calendar a {
        color: #222;
    }

    .calendar .today a {
        background-color: #888;
        //background-color: #60a917;
        color: #ffffff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }

    .calendar .other-day {
        color: #999999;
        background-color: #eeeeee;
        border: 1px #bcd9e2 solid;
    }

    .calendar .exclude {
        background-color: #ce352c;
    }

    .calendar .exclude a {
        background-color: #ce352c;
        color: #ffffff;
    }

    .calendar .stored {
        background-color: #f472d0;
    }

    .calendar .stored a {
        cursor: pointer;
        background-color: #f472d0;
        color: #ffffff;
    }
}

#scheme-dark[theme="dark"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #e3e3e3 !important;
        }

        .calendar a:hover {
            background-color: #444 !important;
        }

        .calendar .selected a {
            background-color: #888 !important;
        }

        .calendar {
            border-color: #E8E8E8;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #222 !important;
        }
    }
}

#scheme-light[theme="dark"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #1d1d1d !important;
        }

        .calendar a:hover {
            background-color: #bdbdbd !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #888 !important;
        }

        .calendar {
            border-color: #373737;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="brown"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #86493f !important;
        }

        .calendar a:hover {
            background-color: #9E645B !important;
        }

        .calendar .selected a {
            background-color: #995449 !important;
        }

        .calendar {
            border-color: #995449;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="brown"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #63362f !important;
        }

        .calendar a:hover {
            background-color: #FFDDD8 !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #86493f !important;
        }

        .calendar {
            border-color: #86493f;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="crimson"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #970036 !important;
        }

        .calendar a:hover {
            background-color: #AF114B !important;
        }

        .calendar .selected a {
            background-color: #AF0040 !important;
        }

        .calendar {
            border-color: #AF0040;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="crimson"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #640024 !important;
        }

        .calendar a:hover {
            background-color: #FFD6E7 !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #970036 !important;
        }

        .calendar {
            border-color: #970036;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="violet"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #701cc7 !important;
        }

        .calendar a:hover {
            background-color: #8938E0 !important;
        }

        .calendar .selected a {
            background-color: #8724F2 !important;
        }

        .calendar {
            border-color: #8724F2;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="violet"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #57169a !important;
        }

        .calendar a:hover {
            background-color: #E5D4F9 !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #701cc7 !important;
        }

        .calendar {
            border-color: #701cc7;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="magenta"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #b40054 !important;
        }

        .calendar a:hover {
            background-color: #CE2172 !important;
        }

        .calendar .selected a {
            background-color: #D30062 !important;
        }

        .calendar {
            border-color: #D30062;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="magenta"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #81003c !important;
        }

        .calendar a:hover {
            background-color: #FFD8EA !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #b40054 !important;
        }

        .calendar {
            border-color: #b40054;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="cyan"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #228ada !important;
        }

        .calendar a:hover {
            background-color: #59A8E5 !important;
        }

        .calendar .selected a {
            background-color: #238EE0 !important;
        }

        .calendar {
            border-color: #238EE0;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="cyan"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #1b6eae !important;
        }

        .calendar a:hover {
            background-color: #D8EFFF !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #228ada !important;
        }

        .calendar {
            border-color: #228ada;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="cobalt"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #004e9d !important;
        }

        .calendar a:hover {
            background-color: #1263B5 !important;
        }

        .calendar .selected a {
            background-color: #0060C1 !important;
        }

        .calendar {
            border-color: #0060C1;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="cobalt"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #00356a !important;
        }

        .calendar a:hover {
            background-color: #BFE0FF !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #004e9d !important;
        }

        .calendar {
            border-color: #004e9d;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="teal"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #006983 !important;
        }

        .calendar a:hover {
            background-color: #0F819B !important;
        }

        .calendar .selected a {
            background-color: #007893 !important;
        }

        .calendar {
            border-color: #007893;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="teal"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #004050 !important;
        }

        .calendar a:hover {
            background-color: #CCF4FF !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #006983 !important;
        }

        .calendar {
            border-color: #006983;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="emerald"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #007100 !important;
        }

        .calendar a:hover {
            background-color: #0D890D !important;
        }

        .calendar .selected a {
            background-color: #008400 !important;
        }

        .calendar {
            border-color: #008400;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="emerald"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #003e00 !important;
        }

        .calendar a:hover {
            background-color: #8ECC8E !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #007100 !important;
        }

        .calendar {
            border-color: #007100;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="green"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #128023 !important;
        }

        .calendar a:hover {
            background-color: #085608 !important;
        }

        .calendar .selected a {
            background-color: #1ABC32 !important;
        }

        .calendar {
            border-color: #1ABC32;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="green"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #128023 !important;
        }

        .calendar a:hover {
            background-color: #8ECC8E !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #18ad2f !important;
        }

        .calendar {
            border-color: #18ad2f;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="orange"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #e77120 !important;
        }

        .calendar a:hover {
            background-color: #CC5608 !important;
        }

        .calendar .selected a {
            background-color: #F97822 !important;
        }

        .calendar {
            border-color: #F97822;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="orange"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #bf5a15 !important;
        }

        .calendar a:hover {
            background-color: #FFD1B2 !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #e77120 !important;
        }

        .calendar {
            border-color: #e77120;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="red"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #c71c1c !important;
        }

        .calendar a:hover {
            background-color: #AD0808 !important;
        }

        .calendar .selected a {
            background-color: #D62020 !important;
        }

        .calendar {
            border-color: #D62020;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="red"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #9a1616 !important;
        }

        .calendar a:hover {
            background-color: #FFAAAA !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #c71c1c !important;
        }

        .calendar {
            border-color: #c71c1c;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="pink"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #c71c74 !important;
        }

        .calendar a:hover {
            background-color: #AD085D !important;
        }

        .calendar .selected a {
            background-color: #DD2185 !important;
        }

        .calendar {
            border-color: #DD2185;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="pink"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #9a165a !important;
        }

        .calendar a:hover {
            background-color: #FFB2DA !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #c71c74 !important;
        }

        .calendar {
            border-color: #c71c74;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="indigo"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #6400c9 !important;
        }

        .calendar a:hover {
            background-color: #7816E0 !important;
        }

        .calendar .selected a {
            background-color: #7B00FF !important;
        }

        .calendar {
            border-color: #7B00FF;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="indigo"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #4b0096 !important;
        }

        .calendar a:hover {
            background-color: #D2A5FF !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #6400c9 !important;
        }

        .calendar {
            border-color: #6400c9;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="blue"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #1c5ec7 !important;
        }

        .calendar a:hover {
            background-color: #387BE0 !important;
        }

        .calendar .selected a {
            background-color: #2270E5 !important;
        }

        .calendar {
            border-color: #2270E5;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="blue"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #16499a !important;
        }

        .calendar a:hover {
            background-color: #B2E2FF !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #1c5ec7 !important;
        }

        .calendar {
            border-color: #1c5ec7;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="lightBlue"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #4390df !important;
        }

        .calendar a:hover {
            background-color: #2976C4 !important;
        }

        .calendar .selected a {
            background-color: #6faae6 !important;
        }

        .calendar {
            border-color: #6faae6;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="lightBlue"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #4390df !important;
        }

        .calendar a:hover {
            background-color: #75BCFF !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #5C8CBC !important;
        }

        .calendar {
            border-color: #5C8CBC;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="lightTeal"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #45fffd !important;
        }

        .calendar a:hover {
            background-color: #29E5E2 !important;
        }

        .calendar .selected a {
            background-color: #78fffd !important;
        }

        .calendar {
            border-color: #78fffd;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #222 !important;
        }
    }
}

#scheme-light[theme="lightTeal"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #5BEFED !important;
        }

        .calendar a:hover {
            background-color: #3CD8D6 !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #64D1CF !important;
        }

        .calendar {
            border-color: #64D1CF;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #222 !important;
        }
    }
}

#scheme-dark[theme="lightOlive"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #78aa1c !important;
        }

        .calendar a:hover {
            background-color: #608E09 !important;
        }

        .calendar .selected a {
            background-color: #97d623 !important;
        }

        .calendar {
            border-color: #97d623;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="lightOlive"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #78aa1c !important;
        }

        .calendar a:hover {
            background-color: #90C134 !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #7EB21E !important;
        }

        .calendar {
            border-color: #7EB21E;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="lightOrange"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #ffc194 !important;
        }

        .calendar a:hover {
            background-color: #E5A170 !important;
        }

        .calendar .selected a {
            background-color: #ffdec7 !important;
        }

        .calendar {
            border-color: #ffdec7;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #222 !important;
        }
    }
}

#scheme-light[theme="lightOrange"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #ffc194 !important;
        }

        .calendar a:hover {
            background-color: #FFD5B7 !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #FFCCAA !important;
        }

        .calendar {
            border-color: #FFCCAA;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #222 !important;
        }
    }
}

#scheme-dark[theme="lightPink"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #f472d0 !important;
        }

        .calendar a:hover {
            background-color: #D850B4 !important;
        }

        .calendar .selected a {
            background-color: #f8a1e0 !important;
        }

        .calendar {
            border-color: #f8a1e0;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="lightPink"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #f472d0 !important;
        }

        .calendar a:hover {
            background-color: #FF9EE5 !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #CC84B8 !important;
        }

        .calendar {
            border-color: #CC84B8;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-dark[theme="grayed"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #727272 !important;
        }

        .calendar a:hover {
            background-color: #878787 !important;
        }

        .calendar .selected a {
            background-color: #A0A0A0 !important;
        }

        .calendar {
            border-color: #A0A0A0;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar a:hover, .calendar .selected a {
            color: #fff !important;
        }
    }
}

#scheme-light[theme="grayed"] {
    .input-control.modern.text[datepicker] {
        .calendar .calendar-header {
            background-color: #585858 !important;
        }

        .calendar a:hover {
            background-color: #a2a2a2 !important;
        }

        .calendar .selected a, .calendar .calendar-header a:hover {
            background-color: #727272 !important;
        }

        .calendar {
            border-color: #727272;
        }

        .calendar .calendar-header, .calendar .calendar-header a, .calendar .selected a {
            color: #fff !important;
        }
    }
}
