@media screen {
    #scheme-dark{
        .modern-highcharts {
            .highcharts-container {
                .highcharts-background{
                    fill: #232323 !important;	
                }
                
                text {
                    fill: #e3e3e3 !important;
                }
                
                .highcharts-tooltip {
                    text {
                        fill: #1d1d1d !important;
                    }      
                }
                
                .highcharts-button {
                    rect {
                        fill: #333 !important;
                        stroke: #888 !important;
                    }
                }
                
                // Highchart.com label (pas sympa, je sais)
                svg>text:last-child {
                    fill: #333 !important;
                }
            }	
        }
    }
    
    #scheme-light{
        .modern-highcharts {
            .highcharts-container {
                svg>text:last-child {
                    fill: #ddd !important;
                }

                .highcharts-background{
                    fill: #fff  !important;	
                }
                
                text {
                    fill: #1d1d1d !important;
                }
                
                .highcharts-tooltip {
                    text {
                        fill: #1d1d1d !important;
                    }      
                }
                
                .highcharts-button {
                    rect {
                        fill: #f8f8f8 !important;
                        stroke: #CCC !important;
                    }
                }

                // Highchart.com label (pas sympa, je sais)
                svg>text:last-child {
                    fill: #ddd !important;
                }
            }	
        }
    }
    
    #scheme-dark[theme="dark"] .highcharts-background {
    stroke: #e3e3e3;
    }
    #scheme-light[theme="dark"] .highcharts-background {
    stroke: #1d1d1d;
    }
    #scheme-dark[theme="brown"] .highcharts-background {
    stroke: #86493f;
    }
    #scheme-light[theme="brown"] .highcharts-background {
    stroke: #63362f;
    }
    #scheme-dark[theme="crimson"] .highcharts-background {
    stroke: #970036;
    }
    #scheme-light[theme="crimson"] .highcharts-background {
    stroke: #640024;
    }
    #scheme-dark[theme="violet"] .highcharts-background {
    stroke: #701cc7;
    }
    #scheme-light[theme="violet"] .highcharts-background {
    stroke: #57169a;
    }
    #scheme-dark[theme="magenta"] .highcharts-background {
    stroke: #b40054;
    }
    #scheme-light[theme="magenta"] .highcharts-background {
    stroke: #81003c;
    }
    #scheme-dark[theme="cyan"] .highcharts-background {
    stroke: #228ada;
    }
    #scheme-light[theme="cyan"] .highcharts-background {
    stroke: #1b6eae;
    }
    #scheme-dark[theme="cobalt"] .highcharts-background {
    stroke: #004e9d;
    }
    #scheme-light[theme="cobalt"] .highcharts-background {
    stroke: #00356a;
    }
    #scheme-dark[theme="teal"] .highcharts-background {
    stroke: #006983;
    }
    #scheme-light[theme="teal"] .highcharts-background {
    stroke: #004050;
    }
    #scheme-dark[theme="emerald"] .highcharts-background {
    stroke: #007100;
    }
    #scheme-light[theme="emerald"] .highcharts-background {
    stroke: #003e00;
    }
    #scheme-dark[theme="green"] .highcharts-background {
    stroke: #128023;
    }
    #scheme-light[theme="green"] .highcharts-background {
    stroke: #128023;
    }
    #scheme-dark[theme="orange"] .highcharts-background {
    stroke: #e77120;
    }
    #scheme-light[theme="orange"] .highcharts-background {
    stroke: #bf5a15;
    }
    #scheme-dark[theme="red"] .highcharts-background {
    stroke: #c71c1c;
    }
    #scheme-light[theme="red"] .highcharts-background {
    stroke: #9a1616;
    }
    #scheme-dark[theme="pink"] .highcharts-background {
    stroke: #c71c74;
    }
    #scheme-light[theme="pink"] .highcharts-background {
    stroke: #9a165a;
    }
    #scheme-dark[theme="indigo"] .highcharts-background {
    stroke: #6400c9;
    }
    #scheme-light[theme="indigo"] .highcharts-background {
    stroke: #4b0096;
    }
    #scheme-dark[theme="blue"] .highcharts-background {
    stroke: #1c5ec7;
    }
    #scheme-light[theme="blue"] .highcharts-background {
    stroke: #16499a;
    }
    #scheme-dark[theme="lightBlue"] .highcharts-background {
    stroke: #4390df;
    }
    #scheme-light[theme="lightBlue"] .highcharts-background {
    stroke: #4390df;
    }
    #scheme-dark[theme="lightTeal"] .highcharts-background {
    stroke: #45fffd;
    }
    #scheme-light[theme="lightTeal"] .highcharts-background {
    stroke: #3CD8D6;
    }
    #scheme-dark[theme="lightOlive"] .highcharts-background {
    stroke: #78aa1c;
    }
    #scheme-light[theme="lightOlive"] .highcharts-background {
    stroke: #78aa1c;
    }
    #scheme-dark[theme="lightOrange"] .highcharts-background {
    stroke: #ffc194;
    }
    #scheme-light[theme="lightOrange"] .highcharts-background {
    stroke: #ffc194;
    }
    #scheme-dark[theme="lightPink"] .highcharts-background { 
    stroke: #f472d0;
    }
    #scheme-light[theme="lightPink"] .highcharts-background { 
    stroke: #f472d0;
    }
    #scheme-dark[theme="grayed"] .highcharts-background {
    stroke: #727272;
    }
    #scheme-light[theme="grayed"] .highcharts-background {
    stroke: #585858;
    }
}