.input-control.modern {
    height: auto;
    
    input,
    select {
        // Replace margin-top and height on the input-control, because numeric input are truncated
        margin-top: -0.1rem;
        height: 2.1rem;
        padding-bottom: 0;
    }
    
    .placeholder {
        font-size: 0.85rem;
        top: 1.5rem;
        .opacity(0.8);
    }

    .informer {
        top: 1.5rem;
        left: auto;
        right: 0;
        .translate(-100px);
        .transition(all 0.3s linear);
    }
    
    input:focus ~ .informer {
        z-index: 100;
        .opacity(0.5);
        .translate(0px);
    }

    .unitholder {
        font-size: 0.75rem;
        top: 1.5rem;        
        z-index: 1;
        left: 0;
        position: absolute;
        white-space: nowrap;
        .opacity(0.5);
    }

	[class*=input-state-] {
		top: 1.8rem;
        margin-right: -1rem;
        right: 0;        
	}    
}

.input-control.modern.iconic .icon {
    top: 1.7rem;   
}

.input-control.modern input.focus ~ .unitholder,
.input-control.modern:not(.empty) .unitholder {
    font-size: 0.875rem;
    top: 1.5rem;
    left: 100%;
    .opacity(1);
    .translate(-100%,0%);
    .transition(all 0.3s linear);
}

.input-control.modern.empty input:not(:focus) ~ .unitholder.wplaceholder {
    .opacity(0);
}

.input-control.modern:not(.empty) { 
    .placeholder{
        display: none;
    }
}

.input-control.modern.error {
    .informer {
        right: 13px;
    }
    
    input:focus ~ .unitholder {
        left: 97%;
    }
    
    .chosen-container:not(.chosen-container-active) {
        border-bottom-color: #ce352c !important;
    }
}

.input-control.modern.error input {
    padding-right: 0.75rem !important;
}

.input-control.modern.error:not(.empty) .unitholder {
    left: 97%;    
}

.input-control.modern input[readonly] {
    border-bottom-color: transparent;
}

.input-control.modern.select{
    .chosen-container,
    select {
        position: absolute;
        top: 1rem;
        left: 0;
        right: 0;
        bottom: .5rem;
        border: 0;
        border-bottom: 2px #DDDDDD solid;
        background-color: transparent;
        outline: none;
        font-size: 1rem;
        padding-left: 0;
        width: 100%;
    }     
        
    .chosen-container {
        height: 1.75rem;    
        margin-top: 0.25rem;
        padding-bottom: .5rem;

        .chosen-drop {
            input {
                position: relative;
                top: 0;
                bottom: 0;
            }
        }
    }

    .chosen-container ~ .placeholder {
        cursor: pointer;
    }

    select:not(.empty)  ~ .placeholder {
        display: none;
    }
}

.input-control:not(.modern) {
    .placeholder {
        font-size: 0.85rem;
        top: 1.5rem;
        .opacity(0.8);
    }

    .placeholder {
        font-size: 1rem;
        color: #888;
        position: absolute;
        top: 0.6rem;
        left: 0.5rem;
        z-index: 1;
        .opacity(1);
        .transition(all 0.3s linear);
    }    

    input:focus ~ .placeholder {
        .opacity(0);
        .translate(200px);
        .transition(all 0.3s linear);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    .appearance(textfield);
}

input:invalid {
  box-shadow: none;
}

input:-moz-submit-invalid {
  box-shadow: none;
}

input:-moz-ui-invalid {
  box-shadow:none;
}
