#dmenu-backdrop {
    opacity: 1;
}

#dmenu-body {
    display: inline-block;
    
    #dmenu {
        border-collapse: separate;
        text-align: left;
        list-style: none inside none;
        margin: 0;
        padding: 0;    
        float: left;
        z-index: 1000;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);

        li {
            cursor: pointer;
            padding: 0.5rem 1rem; 
            span {
                margin-right: 0.5rem;
                vertical-align: baseline;
            }
        }
    }
}