#notify {
	max-width: 1000px;
    width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	
	.charm-closer {
		display: none;			
	}
	 
	.message {
		display: block;
        display: flex;
        justify-content: flex-end;

		.icon {
            height: 2rem;
            flex-basis: auto;
            padding: 0.4rem 1.3rem;
			margin: 0.3rem 0 0.3rem 0.3rem;
            display: inline-block;
		}

		.label {
			margin: 0.7rem 0.6rem;
            align-self: center;
            flex-grow: 1;
            flex-basis: auto;
            display: inline-block;
  		}
		
		.button {
            flex-basis: auto;
   			margin: 0;
			height: 2.5rem;
			padding: 0.8rem 1.3rem;
            display: inline-block;
		} 		
	}
	
	.message.error .icon{
		background-color: #9a1616; 		
		color: #fff;	
	}
		
	.message.info .icon {
		background-color: #004e9d; 
		color: #fff;		
	}
		
	.message.warning .icon {
		background-color: #e77120;
		color: #fff; 			
	}
}

[for].error {
	color: red !important;
}

