.input-control.modern textarea {
    border: 0;
    outline: none;
    font-size: 1rem;
    padding-bottom: .5rem;
    padding-left: 0;
    border-bottom: 2px #DDDDDD solid;
    background-color: transparent;
    top: 1rem;
    min-height: 1.75rem;
    margin-bottom: 1rem;
}

.input-control textarea {
    width: 100%;
    height: 37px;
    overflow: hidden;
}
