﻿.tooltip-body {
    position: absolute; 
    z-index: 1100;
    display: inline-block;
} 

.tooltip-body .tooltip-text {
    white-space: nowrap;
    pointer-events: none;
    padding: 0.5rem;
    border-radius: 5px;
}

.tooltip-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1052;
    background-color: red !important;
}