#waiting-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1052;
    background-color: #222;
    .opacity(0.7);
    
    .preloader-ring {
        .translate(0, -5rem); 
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        
        .wrap {
            width: 5rem;
            height: 5rem;

            .circle {
                width: 5rem;
                height: 5rem;
            }
            .circle:after {                    
                height: 0.6rem;
                width: 0.61rem;
            }
        }
    }        
}   