@import (once) "utils/mixin.less";
@import (once) "widgets/chosen.less";
@import (once) "widgets/translator.less";
@import (once) "widgets/messager.less";
@import (once) "widgets/wait-panel";
@import (once) "widgets/input-control.less";
@import (once) "widgets/text-area.less";
@import (once) "widgets/date-control.less";
@import (once) "widgets/tooltip.less";
@import (once) "widgets/datatable.less";
@import (once) "widgets/datatable-responsive";
@import (once) "widgets/menu";
@import (once) "tct/settings-panel.less";
@import (once) "tct/user-infos";

html {
    margin: 0;
    padding: 0;
    height: auto;
}
 
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#container {
    width: 100%;
    margin: 0 auto;
    
    .inline {
        display: inline-block;
    }        
    
    hr {
        margin: 0;
    }
    
    h2 {
        margin-bottom: 0.9rem;
    }

    header {
        padding: 0.5rem 1rem 2rem 1rem;
        width: 100%;        
        display: flex;       
        flex-wrap: wrap;  
        align-items: center;
                
        #user-infos-panel {
            flex-basis: auto;
        }                             
        
        #title-panel {
            padding-top: 1rem;
            flex-grow: 1;
            flex-basis: auto;
            flex-shrink: 0;
            .logo {
                background: url("../images/logo.svg") no-repeat center center;                
                width: 3rem;
                height: 3rem;
                margin: 0.5rem 0.5rem 0 0;
                display: inline-block;
            }
            h1 {        
                font-size: 2.5rem;        
                display: inline-block;
            }
        }
        
        @media all and (max-width: 880px) {
            #title-panel {
                display: none;
            }
        }    
    
        #user-infos-panel {
            padding-top: 1.9rem;
        }
        
        #trans-area {
            padding-top: 1.5rem;
            flex-grow: 1;
            flex-basis: auto;
            flex-shrink: 0;
            .input-control {
                width: 13rem;
                padding-top: 0.1rem;
            }
        }             
    }
     
    #main-content {    
        width: 100%;        
        display: flex;       
        flex-wrap: nowrap;  
        align-items: left;
        
        .sidebar li a .title, .sidebar li a .counter {
            margin-top: 0.4rem;
        }
        
        #cell-sidebar {
            flex-grow: 0;
            flex-basis: 220px;
            flex-shrink: 0;
            padding: 0.3rem 0;
        }        
        
        #cell-content {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: calc(~"100% - 220px - 2rem");
            padding: 0 1rem 1rem 1rem;  
            overflow: hidden;          
        }        
        
        @media screen and (max-width: 800px){
            #cell-sidebar {
                flex-basis: 52px;
            }
            #cell-content {
                flex-basis: calc(~"100% - 60px");
            }
        }       
    }
}

#scheme-dark {
    .sidebar li.bg-theme-over.active {
        background-color: #222 !important;
        color: #fff;
    }
}

#scheme-light {
    .sidebar li.bg-theme-over.active {
        background-color: #fff !important;
        color: #222 !important;
    }
}

#light-theme {
    min-width: 35rem;
    max-width: 100%;
}

[edit-dialog] {
    .row {
        margin: 0;
    }
    
    .label {
        margin-top: 1.5rem;
        display: block;        
    }
    
    .input-control.modern{
        margin: 0 0 .625rem 0;
        width: 100%;
    }
    
    .input-control.modern.text{
        height: 2rem;
    }
}

.maintable_toolbar {
    [language-select]{
        width: 15rem;
        margin-right: 1rem;
        .chosen-single {
            height: 1.6rem;
        }
        .chosen-single>* {
            margin-top: 0.1rem;
        }
    }    

    label{
        margin-right: 0.5rem;    
    }            
}

