@import (once) "utils/mixin.less";
@import (once) "widgets/chosen.less";
@import (once) "widgets/translator.less";
@import (once) "widgets/messager.less";
@import (once) "widgets/input-control.less";
@import (once) "widgets/checkbox.less";
@import (once) "widgets/wait-panel";
@import (once) "widgets/text-area.less";
@import (once) "widgets/tooltip.less";
@import (once) "tct/doc-selector";
@import (once) "tct/file-viewer.less";
@import (once) "tct/settings-panel.less";
@import (once) "tct/user-infos";
@import (once) "tct/anode-transfert-chart";

@media print {
    @page {
        size: landscape;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#container {
    position: relative; // For stepper in absolute
    margin: 0 auto;
    min-height: 100%;
    max-width: 1440px;
    
    .inline {
        display: inline-block;
    }        
    
    hr {
        margin: 0;
    }
    
    h2 {
        margin-bottom: 0.9rem;
    }

    header {
        padding: 0.5rem 1rem 2.5rem 1rem;
        width: 100%;        
        display: flex;       
        flex-wrap: wrap;  
        align-items: center;
                
        #user-infos-panel {
            flex-basis: auto;
        }                             
        
        #title-panel {
            padding-top: 1rem;
            flex-grow: 1;
            flex-basis: auto;
            flex-shrink: 0;
            .logo {
                background: url("../images/logo.svg") no-repeat center center;                
                -webkit-print-color-adjust:exact;
                width: 3rem;
                height: 3rem;
                margin: 0.5rem 0.5rem 0 0;
                display: inline-block;
            }
            h1 {        
                font-size: 2.5rem;        
                display: inline-block;
            }
        }
        
        @media screen and (max-width: 880px) {
            #title-panel {
                display: none;
            }
        }    
    
        #user-infos-panel {
            padding-top: 1.9rem;
        }
        
        #trans-area {
            padding-top: 1.5rem;
            flex-grow: 1;
            flex-basis: auto;
            flex-shrink: 0;
            .input-control {
                width: 13rem;
                padding-top: 0.1rem;
            }
        }             
    }
    
    #title-content {
        margin: 0 2rem 1rem 2rem;
        #name {
            margin: 0 2rem 0 0.5rem;
        }
    }
        
    #step1 {
        margin: 0 2rem;
        padding-bottom: 4.5rem;
        
        #upload {
            display: inline-block;
            
            .button {
                overflow: hidden;
                
                input[type=file] {
                    position: absolute;
                    top: 0;
                    right: 0;
                    min-width: 100%;
                    min-height: 100%;
                    font-size: 100px;
                    text-align: right;
                    filter: alpha(opacity=0);
                    .opacity(0);
                    outline: none;
                    background: white;
                    cursor: inherit;
                    display: block;
                }                       
            }
        }
    }
            
    #step-container {
        margin: 0 2rem;
        padding-bottom: 4.5rem;
        
        #controls {
            position: relative;
            min-height: 3rem;            
            
            #step2, #step3, #step4 {
                margin: 0 4rem;
                
                .row {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: row;         
                    flex-wrap: wrap;
                               
                    .cell {
                        flex-grow: 1;
                        flex-basis: auto;
                        flex-shrink: 0;                    
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: row;         
                        flex-wrap: nowrap;                        
                        margin-bottom: 1rem;
                        
                        [opacity-slider] {
                            display: inline-block;
                            width: 12.25rem;
                            margin: 1.5rem 0 0 0;
                            vertical-align: top;
                        }

                        .label {
                            display: inline-block;
                            margin: 1.7rem 1rem 0 0;
                            text-align: right;
                            vertical-align: top;
                            min-width: 5rem;
                        }
                        
                        .input-control {
                            margin: 0 1rem 0 0;
                            vertical-align: top;
                        }
                        
                        .input-control.checkbox {
                            margin-top: 1.2rem;
                        }

                        &.controls {
                            flex-grow: 0;
                            button {
                                margin-top: 1rem;                            
                            }                            
                        }
                                                
                        &#units button{
                            vertical-align: top;
                            margin-top: 1rem;
                        }
                        
                        .input-control.modern {
                            width: 8rem;
                        }
                        
                        #name-value{
                            width: 80%;
                        }
                    }
                }
            }
            
            #previous, 
            #next,
            #finish {
                position: absolute;
                bottom: 0;
            }
            
            #next,
            #finish {
                right: 0;
            }
        }
        
        #image {        
            position: relative;
            background-color: #fff;
            margin-top: 0.5rem;

            img {
                width:  100%;
                height: auto;
            }
                
            #final-chart {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                padding: 2%;

                .highcharts-background{
                    fill: transparent !important;
                }     
                           
                #anode-transfert-chart {
                    height: 100%;
                    #chart-cont {
                        height: 100%;
                    }
                }
                
                /* This makes things *much* easier */
                box-sizing: border-box;
            }
    
            #positionable { 
                position: absolute;
                background-color: transparent;
                z-index: 2;
                margin: 2%;
                
                .highcharts-background{
                    fill: transparent !important;
                }                

                /* This makes things *much* easier */
                box-sizing: border-box;

                .highcharts-axis > path {
                    opacity: 0;            
                }
            } 
        }
    }
    
    #step-container[current-serie="-1"] {
        #terminateserie,
        #cancelserie {
            display: none;                        
        }
        #addserie {
            display: inline-block;            
        }
        #g1 {
            visibility: hidden;
        }
    }

    #step-container:not([current-serie="-1"]) {
        #terminateserie,
        #cancelserie {
            display: inline-block;            
        }
        #addserie {
            display: none;            
        }        
        #g1 {
            visibility: visible;
        }
    }
            
    #step-container[current-step="2"] {
        #controls {
            z-index: 5;
        }

        #image {
            z-index: 4;
        }
        
        #image.toporder {
            z-index: 6;
        }
        
        .highcharts-container {
            background-color: rgba(127,127,127,0.3);            
        }
        
        .highcharts-grid > path {
            stroke: #00FF00 !important;
            .opacity(1);
        }
        .highcharts-background {
            stroke: #00FF00 !important;            
            stroke-width: 4 !important;        
        }
        .highcharts-axis > path {
            stroke: #00FF00 !important;            
        }
    }

    #stepper {
        width: 100%;
        bottom: 0;            
        position: absolute;       
        padding: 0 2rem; 
        
        li {
            padding-left: 2px;
        }
    }
}

