@import (once) "utils/mixin.less";
@import (once) "widgets/chosen.less";
@import (once) "widgets/translator.less";
@import (once) "widgets/messager.less";
@import (once) "widgets/input-control.less";
@import (once) "widgets/checkbox.less";
@import (once) "widgets/wait-panel";
@import (once) "widgets/tooltip.less";
@import (once) "widgets/text-area.less";
@import (once) "tct/settings-panel.less";
@import (once) "tct/file-viewer.less";
@import (once) "tct/user-infos";

@media print {
    @page {
        size: landscape
    }
}

html {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: auto;
}
 
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    
    .inline {
        display: inline-block;
    }        

    .ratingsheader {
        position: relative;
        z-index: 1;
                    
        .unittab {
            position: absolute;
            right: 0.3rem;
            bottom: 0;
            
            li {
                display: block;
                float: left;
                position: relative;
                a {
                    margin-top: 0;
                    display: block;
                    float: left;
                    white-space: nowrap;
                    padding: 0.5rem 1.3rem;
                    font-size: 0.68rem;
                    font-weight: bold;
                    text-transform: uppercase;           
                    outline: none;             
                }
                a.active {
                    margin-top: -2px;
                    border-width: 2px;
                    border-style: solid;
                    border-bottom-width: 0; 
                }         
            }   
        }
    }
    
    hr {
        margin: 0;
    }
    
    h2 {
        margin-bottom: 0.9rem;
    }

    header {
        padding: 0.5rem 1rem 1rem 1rem;
        width: 100%;        
        display: flex;       
        flex-wrap: wrap;  
        align-items: center;
                
        #user-infos-panel {
            flex-basis: auto;
        }                             
        
        #title-panel {
            padding-top: 1rem;
            flex-grow: 1;
            flex-basis: auto;
            flex-shrink: 0;
            .logo {
                background: url("../images/logo.svg") no-repeat center center;          
                -webkit-print-color-adjust:exact;      
                width: 3rem;
                height: 3rem;
                margin: 0.5rem 0.5rem 0 0;
                display: inline-block;
            }
            h1 {        
                font-size: 2.5rem;        
                display: inline-block;
            }
        }
        
        @media screen and (max-width: 880px) {
            #title-panel {
                display: none;
            }
        }    
    
        #user-infos-panel {
            padding-top: 1.9rem;
        }
        
        #trans-area {
            padding-top: 1.5rem;
            flex-grow: 1;
            flex-basis: auto;
            flex-shrink: 0;
            .input-control {
                width: 13rem;
                padding-top: 0.1rem;
            }
        }             
    }
    
    #merge-info {
        visibility: hidden;
        padding: 0.5rem 1rem 1rem 3rem;
    }
    
    .step-list > li {
        page-break-inside: avoid;
    }
    
    .grid .row > .cell {      
        min-height: 2.5rem;
              
        .label {
            margin: 0.9rem 0 0 0.6rem;
            display: inline-block;                
        }
        
        .input-control {
            width: auto;
            display: block;            
            margin: -0.5rem 0.5rem 0 0.6rem;
        }
        
        .input-control.checkbox {
            margin: 0.4rem 0 0 0.6rem;                
        }
        
        button {
            margin: 0.4rem 0 0 0;
        }                     

        #baseview,
        #pinoutview {
            margin: 0 0.3rem 0 0.3rem;
        }
        #baseview:before,
        #pinoutview:before {
            opacity: 0.9;
        }
        #baseview.disabled:before,
        #pinoutview.disabled:before {
            opacity: 0.3;
            cursor: default;
        }
    }   
    
    .grid .row {
        margin: 1rem 1rem 0 0;        
    }
    
    .grid.repeater {
        .controls {
            float: right;
        }       

        #filename .input-control {
            margin-right: 90px;
            
            @media all and (min-width: 641px) {
                input {
                    text-align: right;
                }
            }
        }

        .fileicon {
            float: left;
            margin-top: 0.4rem;
            font-size: 2rem;
        }

        #description .input-control {
            margin-left: 2.6rem;
        }        
        
        #usage .input-control {    
            margin-right: 90px;
            margin-left: 2.6rem;
        }        
    }

    .grid .row.transitioning {     
        height: 44px;
        margin-top: 1rem; 
        overflow: hidden;
        .opacity(1);
        .transition(all ease-out 0.3s);
    }

    .grid .row.hidden.transitioning {
        margin-top: 0;
        height: 0;
        overflow: hidden;
        .opacity(0);
        .transition(all ease-in 0.3s);
    }

    .grid .row.hidden:not(.transitioning) {
        display: none;
    }
    
    #upload {
        position: relative;
        vertical-align: top;
        float: right;
        margin-top: 0.1rem;
        
        .btn-file {
            overflow: hidden;
            
            input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                .opacity(0);
                outline: none;
                background: white;
                cursor: inherit;
                display: block;
            }                       
        }
    }
    
    #new-usage,
    #create-graph {
        position: relative;
        vertical-align: top;
        float: right;        
    }
    
    .c-socket {
        .socket {
            width: 11rem;
            height: 11rem;
            display: block;
            bottom: 0;
            position: relative;
            left: 100%;
            opacity: 1;
            .translate(-100%, -11rem);
            .transition(all linear 0.2s);         
        }
        .socket.empty {
            opacity: 0;
        }
        height: 0;    
        .transition(all linear 0.1s);         
    }   
}

[saved] {
    display: inline-block;
}

[unsaved] {
    display: none;
}

body.unsaved {
    [saved] {
        display: none;
    }
    [unsaved] {
        display: inline-block;
        color: #c71c1c;
        border-color: #c71c1c;
    }
    [unsaved]:hover {
        border-color: #c71c1c !important;
    }
}

#scheme-light #container {
    .c-socket {
        .socket {
            opacity: 0.7;
        }
    }
}

@media all and (max-width: 640px) {
    #container .grid .row{ 
        .cell {
            .input-control {
                margin-top: -1.5rem;   
            } 
        }
        
        #filename {
            #file-controls {
                margin-top: -1rem;                   
            }       
        }
        
        #description, 
        #usage {
            .icon {
                margin-top: -0.6rem;                   
            }
        }
    } 
}


@media all and (min-width: 1401px) {
    html {
        font-size: 110%;
    }

    #container {
        .grid .row > .cell:not(:first-child) {            
            .label {
                margin-left: 2rem;                
            }
        }
    }
}

@media all and (max-width: 1000px) {
    #container {
        .c-socket {
            .socket {
                left: 0;        
                .translate(0);
                .transition(all linear 0.2s);         
            }
            height: 10rem;    
            .transition(all linear 0.1s);         
        }
        
        .ratingsheader {
            h2 {
                margin-bottom: 2.9rem;
            }
                                    
            .unittab {
                left: 0;
                right: auto;
            }
        }            
    }
}

body.merge #container #merge-info{
    visibility: visible;
} 

body.ismobile #create-graph{
    display: none;
} 