@import (once) "utils/mixin.less";
@import (once) "widgets/translator.less";
@import (once) "widgets/messager.less";
@import (once) "widgets/input-control";
@import (once) "widgets/wait-panel";
@import (once) "widgets/menu";
@import (once) "tct/doc-selector";
@import (once) "tct/tube-result";
@import (once) "tct/settings-panel.less";
@import (once) "tct/user-infos";
@import (once) "tct/search-criterions.less";
@import (once) "tct/file-viewer.less";

html {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: auto;
}
 
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: visible; // For select
} 

#dmenu-body[mergeable="true"] #dmenu{
    [data-click="merge"] {
        display: block;
    }    
}

#dmenu-body[deletable="true"] #dmenu{
    [data-click="delete"] {
        display: block;
    }    
}

#dmenu-body[ismobile="true"] #dmenu{
    [data-click="create"] {
        display: none;
    }        
}

#dmenu-body {
    #dmenu {
        [data-click="merge"] {
            display: none;
        } 
    
        [data-click="delete"] {
            display: none;
        } 
    }
}
            
#container {
    overflow: visible;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    
    .inline {
        display: inline-block;
    }        
            
    header {   
        padding: 0.5rem 1rem 1rem 1rem;
        width: 100%;        
        display: flex;       
        flex-wrap: wrap;  
        align-items: center;
        
        #user-infos-panel {
            flex-basis: auto;
        }                             
        
        #title-panel {
            padding-top: 1rem;
            flex-grow: 1;
            flex-basis: auto;
            flex-shrink: 0;
            .logo {
                background: url("../images/logo.svg") no-repeat center center;                                    
                -webkit-print-color-adjust:exact;
                width: 2.5rem;
                height: 2.5rem;
                margin: 0.5rem 0.5rem 0 0;
                display: inline-block;
            }
            h1 {        
                display: inline-block;
            }
       }
        
        #user-infos-panel {
            padding-top: 1.9rem;
        }
        
        #trans-area {
            padding-top: 1.5rem;
            flex-grow: 1;
            flex-basis: auto;
            flex-shrink: 0;
            .input-control {
                width: 13rem;
                padding-top: 0.1rem;
            }
        }                         
    }
    
    #main-content {
        #advanced-area,
        #search-area {
            width: 100%;
            max-width: 55rem;
            margin: 4rem auto 0 auto;                

            @media print { 
                margin: 1rem auto 0 auto;                
            }
            .advanced,
            .latest,
            .simple {
                float: right;
                padding: 0;
                margin: 0 0 0.2rem 0;
                height: auto;
            }  
            .latest{
                margin-right: 1rem;
            }
        }

        #search-area {
            .input-control {
                margin: 0.5rem 0 0 0;
                width: 100%;
            }   
            
        }
        
        #criterions {
            margin: 0.5rem 0;
            padding: 0 1rem 1rem 1rem;
            border: 1px #d9d9d9 solid;
        }

        #advanced-area {
            margin-bottom: 0.5rem;            
        }
                
        #result-area {
            width: 100%;
            max-width: 50rem;
            margin: 1rem auto 0 auto;
            
            .news-result {
                .newsHeader{
                    font-size: 120%;
                    text-decoration: underline;
                    margin-bottom: 1rem;
                }   
                .row {
                    margin-bottom: 0.5rem;
                    
                    .date {
                        opacity: 0.8;
                        margin-right: 1rem;
                    }   
                }
            }            
        }
        
        #pager-area {
            width: 100%;
            max-width: 50rem;
            margin: 1rem auto 0 auto;                
        }
        
        .input-state-error{
            display: none;
            color: #ce352c;
        }
    }
}

body.params-error #container #main-content {
    #search-area input {
        color:#ce352c;
    }
    
    .input-state-error {
        display: inline-block;
        
    }
}

body #admin{
    display: none;
}
