body[theme="dark"] #light-theme .bg-light-theme {
    background-color: #1d1d1d;
    color: #fff !important;
}
body[theme="brown"] #light-theme .bg-light-theme {
    background-color: #63362f;
    color: #fff !important;
}
body[theme="crimson"] #light-theme .bg-light-theme {
    background-color: #640024;
    color: #fff !important;
}
body[theme="violet"] #light-theme .bg-light-theme {
    background-color: #57169a;
    color: #fff !important;
}
body[theme="magenta"] #light-theme .bg-light-theme {
    background-color: #81003c;
    color: #fff !important;
}
body[theme="cyan"] #light-theme .bg-light-theme {
    background-color: #1b6eae;
    color: #fff !important;
}
body[theme="cobalt"] #light-theme .bg-light-theme {
    background-color: #00356a;
    color: #fff !important;
}
body[theme="teal"] #light-theme .bg-light-theme {
    background-color: #004050;
    color: #fff !important;
}
body[theme="emerald"] #light-theme .bg-light-theme {
    background-color: #003e00;
    color: #fff !important;
}
body[theme="green"] #light-theme .bg-light-theme {
    background-color: #128023;
    color: #fff !important;
}
body[theme="orange"] #light-theme .bg-light-theme {
    background-color: #bf5a15;
    color: #fff !important;
}
body[theme="red"] #light-theme .bg-light-theme {
    background-color: #9a1616;
    color: #fff !important;
}
body[theme="pink"] #light-theme .bg-light-theme {
    background-color: #9a165a;
    color: #fff !important;
}
body[theme="indigo"] #light-theme .bg-light-theme {
    background-color: #4b0096;
    color: #fff !important;
}
body[theme="blue"] #light-theme .bg-light-theme {
    background-color: #16499a;
    color: #fff !important;
}
body[theme="lightBlue"] #light-theme .bg-light-theme {
    background-color: #4390df;
    color: #fff !important;
}
body[theme="lightTeal"] #light-theme .bg-light-theme {
    background-color: #3CD8D6;
    color: #222 !important;
}
body[theme="lightOlive"] #light-theme .bg-light-theme {
    background-color: #78aa1c;
    color: #fff !important;
}
body[theme="lightOrange"] #light-theme .bg-light-theme {
    background-color: #ffc194;
    color: #222 !important;
}
body[theme="lightPink"] #light-theme .bg-light-theme {
    background-color: #f472d0;
    color: #fff !important;
}
body[theme="grayed"] #light-theme .bg-light-theme {
    background-color: #585858;
    color: #fff !important;
}

// fg-light-theme 
body[theme="dark"] #light-theme .fg-light-theme {
    color: #373737 !important;
}
body[theme="brown"] #light-theme .fg-light-theme {
    color: #86493f !important;
}
body[theme="crimson"] #light-theme .fg-light-theme {
    color: #970036 !important;
}
body[theme="violet"] #light-theme .fg-light-theme {
    color: #701cc7 !important;
}
body[theme="magenta"] #light-theme .fg-light-theme {
    color: #b40054 !important;
}
body[theme="cyan"] #light-theme .fg-light-theme {
    color: #228ada !important;
}
body[theme="cobalt"] #light-theme .fg-light-theme {
    color: #004e9d !important;
}
body[theme="teal"] #light-theme .fg-light-theme {
    color: #006983 !important;
}
body[theme="emerald"] #light-theme .fg-light-theme {
    color: #007100 !important;
}
body[theme="green"] #light-theme .fg-light-theme {
    color: #18ad2f !important;
}
body[theme="orange"] #light-theme .fg-light-theme {
    color: #e77120 !important;
}
body[theme="red"] #light-theme .fg-light-theme {
    color: #c71c1c !important;
}
body[theme="pink"] #light-theme .fg-light-theme {
    color: #c71c74 !important;
}
body[theme="indigo"] #light-theme .fg-light-theme {
    color: #6400c9 !important;
}
body[theme="blue"] #light-theme .fg-light-theme {
    color: #1c5ec7 !important;
}
body[theme="lightBlue"] #light-theme .fg-light-theme {
    color: #5C8CBC !important;
}
body[theme="lightTeal"] #light-theme .fg-light-theme {
    color: #64D1CF !important;
}
body[theme="lightOlive"] #light-theme .fg-light-theme {
    color: #7EB21E !important;
}
body[theme="lightOrange"] #light-theme .fg-light-theme {
    color: #FFCCAA !important;
}
body[theme="lightPink"] #light-theme .fg-light-theme {
    color: #CC84B8 !important;
}
body[theme="grayed"] #light-theme .fg-light-theme {
    color: #727272 !important;
}        
