@import (once) "utils/mixin.less";
//@import (once) "utils/theme.less";
//@import (once) "utils/light-theme.less";
@import (once) "widgets/chosen.less";
@import (once) "widgets/translator.less";
@import (once) "widgets/messager.less";
@import (once) "widgets/input-control.less";
@import (once) "widgets/wait-panel";
@import (once) "widgets/tooltip.less";

html {
    overflow: hidden;    
}

#light-theme {
	opacity: 0;
    .scale(0.8);
    .translate(-50%, -100%);
    width: 100%;
    max-width: 680px;
    position: absolute;        
    left: 50%;
    top: 50%;
    
	h1 {
		margin: 0;
	} 
	
	a { 
		text-decoration: none;
	}
	
	.alert {
		padding-top: 10px;
	}
	
	.loading {
		cursor: wait;
		
		.preloader-status{
			display: inline-block;
			right: 5px;
    		left: 5px;
			bottom: 8px;
			width: auto;
			position: absolute;
		}
	}
	
	/* Change the white to any color ;) */
	input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 1000px #eeeeee inset;
	}
    
    .alt a:not(:first-child) .button {
        margin-left: 0.3rem;
    }
    
    .alt {
        width: 100%;
        
        .button {
            padding: 0 0.8rem;
            span:first-child {
                margin: -0.1rem 0.3rem 0 0;
            }
        }
    }

    .bg-facebook {
        background-color: #3a5795 !important;
    }

    .bg-google {
        background-color: #9f0100 !important;
    }

    .bg-twitter {
        background-color: #55acee !important;
    }
}

.v-signup,
.v-login, 
.v-pwdchange,
.v-pwdreset {
    display: none !important;    
}

body.login .v-login{
    display: inline-block !important;
} 

body.signup .v-signup{
    display: inline-block !important;
} 

body.pwdreset .v-pwdreset{
    display: inline-block !important;
} 

body.pwdchange .v-pwdchange{
    display: inline-block !important;
} 
    
#light-theme.loaded {
    .opacity(1);
    .scale(1);
    .translate(-50%, -50%);
    .transition(all 0.5s);
}

#container {
    max-width: 1440px;
    width: 100%;
    
    header {
        padding: 0.5rem 1rem 2.5rem 1rem;
        width: 100%;        
        display: flex;       
        flex-wrap: wrap;  
        align-items: center;
        justify-content: flex-end;
        
        #trans-area {
            padding-top: 1.5rem;
            flex-basis: auto;
            .input-control {
                width: 13rem;
                padding-top: 0.1rem;
            }
        }      
    }
}

