.screen {
    display: none !important;
}

.no-break-inside {
    page-break-inside: avoid;
}
    
#container {
    padding: 0; 
}

a[href]:before,
a[href]:after {
    content: " (" attr(href) ")";
    display: none;
}

.bg-dark {
    background: #eee !important;
    -webkit-print-color-adjust:exact;
}

.bg-dark-disabled[disabled] {
    background: #f3f3f3 !important;
    -webkit-print-color-adjust:exact;
}

.bg-darkgrey {
    background: #999 !important;
    -webkit-print-color-adjust:exact;
}

.bg-lighter {
    background: #222 !important;
    -webkit-print-color-adjust:exact;
}

.fg-darker {
    color: #fff !important;
}

.fg-light {
    color: #333 !important;
}

.fg-light-disabled[disabled] {
    color: #bbb !important;
}

.fg-lighter {
    color: #222 !important;
}

.fl-light path {
    fill: #333 !important;
}

.fl-lighter path {
    fill: #222 !important;
}

.bo-lighter {
    border-color: #222 !important;
}

// Metroui controls
.preloader-metro[data-style='sheme'] .circle {
    background-color: #222;
    -webkit-print-color-adjust:exact;
}

.op-dark {
    background-color: rgba(0, 0, 0, 0.7) !important;
    -webkit-print-color-adjust:exact;
}

.bg-theme {
    background-color: #1d1d1d !important;
    -webkit-print-color-adjust:exact;
}

.fg-theme-over:hover {
    color: #888 !important;      
}

.fg-theme {
    color: #373737 !important;
}

.bo-theme {
    border-color: #373737;
}

.fg-theme.selected {
    color: #fff !important;
}