// bg-darker
#scheme-dark {
    background-color: #222;

    .bg-darker {
        background: #222 !important;
    }

    .bg-darker-over:hover {
        background: #333 !important;
    }

    .bg-dark {
        background: #333 !important;
    }

    .bg-dark-over:hover {
        background: #444 !important;
    }

    .bg-darkgrey {
        background: #555 !important;
    }

    .bg-darkgrey-over:hover {
        background: #666 !important;
    }

    .bg-lighter {
        background: #fff !important;
    }
    
    .bg-transparent {
        background: transparent !important;   
    }
    
    .bg-transparent-over:hover {
        background: rgba(255,255,255,0.1) !important;
    }

    .bg-lighter-over:hover {
        background: #eee !important;
    }

    .fg-darker {
        color: #111 !important;
    }

    .fg-light {
        color: #bbb !important;
    }

    .fg-lighter {
        color: #fff !important;
    }

    .fl-light path {
        fill: #bbb !important;
    }

    .fl-lighter path,
    .fl-lighter text {
        fill: #fff !important;
    }

    .bo-light-over:hover {
        border-color: #bbb !important;
    }

    .bo-lighter {
        border-color: #fff !important;
    }

    .bo-lighter-over:hover {
        border-color: #bbb !important;
    }

    .bo-lighter-selected.selected {
        border-color: #fff !important;
    }

    .bo-lighter-over:hover {
        border-color: #888 !important;
    }
    
    // Metroui controls
    .bo-lighter-selected:hover {
        border-color: #bbb !important;
    }

    .preloader-metro[data-style='sheme'] .circle {
        background-color: #fff;
    }
    
    .op-dark {
        background-color: rgba(0, 0, 0, 0.7) !important
    }
}

#scheme-light {
    background-color: #fff;

    .bg-darker {
        background: #fff !important;
    }

    .bg-darker-over:hover {
        background: #eee !important;
    }

    .bg-dark {
        background: #eee !important;
    }

    .bg-dark-over:hover {
        background: #ddd !important;
    }

    .bg-darkgrey {
        background: #999 !important;
    }

    .bg-darkgrey-over:hover {
        background: #777 !important;
    }

    .bg-lighter {
        background: #222 !important;
    }

    .bg-lighter-over:hover {
        background: #333 !important;
    }

    .bg-transparent {
        background: transparent !important;   
    }
    
    .bg-transparent-over:hover {
        background: rgba(0,0,0,0.1) !important;
    }

    .fg-darker {
        color: #fff !important;
    }

    .fg-light {
        color: #333 !important;
    }

    .fg-lighter {
        color: #222 !important;
    }

    .fl-light path {
        fill: #333 !important;
    }

    .fl-lighter path {
        fill: #222 !important;
    }

    .bo-light-over:hover {
        border-color: #333 !important;
    }

    .bo-lighter {
        border-color: #222 !important;
    }

    .bo-lighter-selected.selected {
        border-color: #222 !important;
    }

    .bo-lighter-over:hover {
        border-color: #333 !important;
    }
    // Metroui controls
    .preloader-metro[data-style='sheme'] .circle {
        background-color: #222;
    }

    .op-dark {
        background-color: rgba(0, 0, 0, 0.7) !important
    }
}

// Themes
#scheme-dark[theme="dark"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #e3e3e3 !important;
    }
    
    .bg-theme-over:hover {
        background-color: #444 !important;
    }
    
    .fg-theme-over:hover {
        color: #888 !important;        
    }
    
    .fg-theme {
        color: #E8E8E8 !important;
    }

    .bo-theme {
        border-color: #E8E8E8;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #222 !important;
    }
}

#scheme-light[theme="dark"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #1d1d1d !important;
    }
    
    .bg-theme-over:hover{
        background-color: #bdbdbd !important;        
    }
    
    .fg-theme-over:hover {
         color: #888 !important;      
    }
    
    .fg-theme {
        color: #373737 !important;
    }

    .bo-theme {
        border-color: #373737;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="brown"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #86493f !important;
    }

    .bg-theme-over:hover{
        background-color: #9E645B !important;        
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #995449 !important;
    }

    .bo-theme {
        border-color: #995449;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }
}

#scheme-light[theme="brown"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #63362f !important;
    }
    
    .bg-theme-over:hover{
        background-color: #FFDDD8 !important;        
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #86493f !important;
    }

    .bo-theme {
        border-color: #86493f;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="crimson"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #970036 !important;
    }

    .bg-theme-over:hover {
        background-color: #AF114B !important;        
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #AF0040 !important;
    }

    .bo-theme {
        border-color: #AF0040;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }    
}

#scheme-light[theme="crimson"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #640024 !important;
    }
    
    .bg-theme-over:hover {
        background-color: #FFD6E7 !important;        
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #970036 !important;
    }

    .bo-theme {
        border-color: #970036;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="violet"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #701cc7 !important;
    }

    .bg-theme-over:hover {
        background-color: #8938E0 !important;
    }

    .fg-theme, .fg-theme-over:hover {
        color: #8724F2 !important;
    }

    .bo-theme {
        border-color: #8724F2;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }
}

#scheme-light[theme="violet"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #57169a !important;
    }
    
    .bg-theme-over:hover {
        background-color: #E5D4F9 !important;
    }

    .fg-theme, .fg-theme-over:hover {
        color: #701cc7 !important;
    }

    .bo-theme {
        border-color: #701cc7;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="magenta"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #b40054 !important;
    }

    .bg-theme-over:hover {
        background-color: #CE2172 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #D30062 !important;
    }

    .bo-theme {
        border-color: #D30062;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }
}

#scheme-light[theme="magenta"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #81003c !important;
    }

    .bg-theme-over:hover {
        background-color: #FFD8EA !important;
    }

    .fg-theme, .fg-theme-over:hover {
        color: #b40054 !important;
    }

    .bo-theme {
        border-color: #b40054;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="cyan"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #228ada !important;
    }

    .bg-theme-over:hover {
        background-color: #59A8E5 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #238EE0 !important;
    }

    .bo-theme {
        border-color: #238EE0;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }
}

#scheme-light[theme="cyan"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #1b6eae !important;
    }

    .bg-theme-over:hover {
        background-color: #D8EFFF !important;
    }

    .fg-theme, .fg-theme-over:hover {
        color: #228ada !important;
    }

    .bo-theme {
        border-color: #228ada;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="cobalt"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #004e9d !important;
    }

    .bg-theme-over:hover {
        background-color: #1263B5 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #0060C1 !important;
    }

    .bo-theme {
        border-color: #0060C1;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }
}

#scheme-light[theme="cobalt"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #00356a !important;
    }

    .bg-theme-over:hover {
        background-color: #BFE0FF !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #004e9d !important;
    }

    .bo-theme {
        border-color: #004e9d;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="teal"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #006983 !important;
    }

    .bg-theme-over:hover {
        background-color: #0F819B !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #007893 !important;
    }

    .bo-theme {
        border-color: #007893;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }
}

#scheme-light[theme="teal"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #004050 !important;
    }

    .bg-theme-over:hover {
        background-color: #CCF4FF !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #006983 !important;
    }

    .bo-theme {
        border-color: #006983;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="emerald"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #007100 !important;
    }

    .bg-theme-over:hover {
        background-color: #0D890D !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #008400 !important;
    }

    .bo-theme {
        border-color: #008400;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }
}

#scheme-light[theme="emerald"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #003e00 !important;
    }

    .bg-theme-over:hover {
        background-color: #8ECC8E !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #007100 !important;
    }

    .bo-theme {
        border-color: #007100;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="green"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #128023 !important;
    }

    .bg-theme-over:hover {
        background-color: #085608 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #1ABC32 !important;
    }

    .bo-theme {
        border-color: #1ABC32;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }
}

#scheme-light[theme="green"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #128023 !important;
    }

    .bg-theme-over:hover {
        background-color: #8ECC8E !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #18ad2f !important;
    }

    .bo-theme {
        border-color: #18ad2f;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="orange"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #e77120 !important;
    }

    .bg-theme-over:hover {
        background-color: #CC5608 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #F97822 !important;
    }

    .bo-theme {
        border-color: #F97822;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }
}

#scheme-light[theme="orange"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #bf5a15 !important;
    }

    .bg-theme-over:hover {
        background-color: #FFD1B2 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #e77120 !important;
    }

    .bo-theme {
        border-color: #e77120;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="red"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #c71c1c !important;
    }

    .bg-theme-over:hover {
        background-color: #AD0808 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #D62020 !important;
    }

    .bo-theme {
        border-color: #D62020;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }
}

#scheme-light[theme="red"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #9a1616 !important;
    }

    .bg-theme-over:hover {
        background-color: #FFAAAA !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #c71c1c !important;
    }

    .bo-theme {
        border-color: #c71c1c;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="pink"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #c71c74 !important;
    }

    .bg-theme-over:hover {
        background-color: #AD085D !important;
    }

    .fg-theme, .fg-theme-over:hover {
        color: #DD2185 !important;
    }

    .bo-theme {
        border-color: #DD2185;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }
}

#scheme-light[theme="pink"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #9a165a !important;
    }

    .bg-theme-over:hover {
        background-color: #FFB2DA !important;
    }

    .fg-theme, .fg-theme-over:hover {
        color: #c71c74 !important;
    }

    .bo-theme {
        border-color: #c71c74;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="indigo"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #6400c9 !important;
    }

    .bg-theme-over:hover {
        background-color: #7816E0 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #7B00FF !important;
    }

    .bo-theme {
        border-color: #7B00FF;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }
}

#scheme-light[theme="indigo"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #4b0096 !important;
    }

    .bg-theme-over:hover {
        background-color: #D2A5FF !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #6400c9 !important;
    }

    .bo-theme {
        border-color: #6400c9;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="blue"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #1c5ec7 !important;
    }

    .bg-theme-over:hover {
        background-color: #387BE0 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #2270E5 !important;
    }

    .bo-theme {
        border-color: #2270E5;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }
}

#scheme-light[theme="blue"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #16499a !important;
    }

    .bg-theme-over:hover {
        background-color: #B2E2FF !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #1c5ec7 !important;
    }

    .bo-theme {
        border-color: #1c5ec7;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="lightBlue"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #4390df !important;
    }

    .bg-theme-over:hover {
        background-color: #2976C4 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #6faae6 !important;
    }

    .bo-theme {
        border-color: #6faae6;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }
}

#scheme-light[theme="lightBlue"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #4390df !important;
    }

    .bg-theme-over:hover {
        background-color: #75BCFF !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #5C8CBC !important;
    }

    .bo-theme {
        border-color: #5C8CBC;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="lightTeal"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #45fffd !important;
    }

    .bg-theme-over:hover {
        background-color: #29E5E2 !important;
    }

    .fg-theme, .fg-theme-over:hover {
        color: #78fffd !important;
    }

    .bo-theme {
        border-color: #78fffd;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #222 !important;
    }
}

#scheme-light[theme="lightTeal"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #5BEFED !important;
    }

    .bg-theme-over:hover {
        background-color: #3CD8D6 !important;
    }

    .fg-theme, .fg-theme-over:hover {
        color: #64D1CF !important;
    }

    .bo-theme {
        border-color: #64D1CF;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #222 !important;
    }
}

#scheme-dark[theme="lightOlive"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #78aa1c !important;
    }

    .bg-theme-over:hover {
        background-color: #608E09 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #97d623 !important;
    }

    .bo-theme {
        border-color: #97d623;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }
}

#scheme-light[theme="lightOlive"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #78aa1c !important;
    }

    .bg-theme-over:hover {
        background-color: #90C134 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #7EB21E !important;
    }

    .bo-theme {
        border-color: #7EB21E;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="lightOrange"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #ffc194 !important;
    }

    .bg-theme-over:hover {
        background-color: #E5A170 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #ffdec7 !important;
    }

    .bo-theme {
        border-color: #ffdec7;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #222 !important;
    }
}

#scheme-light[theme="lightOrange"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #ffc194 !important;
    }

    .bg-theme-over:hover {
        background-color: #FFD5B7 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #FFCCAA !important;
    }

    .bo-theme {
        border-color: #FFCCAA;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #222 !important;
    }
}

#scheme-dark[theme="lightPink"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #f472d0 !important;
    }

    .bg-theme-over:hover {
        background-color: #D850B4 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #f8a1e0 !important;
    }

    .bo-theme {
        border-color: #f8a1e0;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }
}

#scheme-light[theme="lightPink"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #f472d0 !important;
    }

    .bg-theme-over:hover {
        background-color: #FF9EE5 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #CC84B8 !important;
    }

    .bo-theme {
        border-color: #CC84B8;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme="grayed"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #727272 !important;
    }

    .bg-theme-over:hover {
        background-color: #878787 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #A0A0A0 !important;
    }

    .bo-theme {
        border-color: #A0A0A0;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted, .bg-theme-over.fg-theme-over:hover {
        color: #fff !important;
    }
}

#scheme-light[theme="grayed"] {
    .bg-theme, .bg-theme-selected .selected, .bg-theme-highlight .highlighted {
        background-color: #585858 !important;
    }

    .bg-theme-over:hover {
        background-color: #a2a2a2 !important;
    }
    
    .fg-theme, .fg-theme-over:hover {
        color: #727272 !important;
    }

    .bo-theme {
        border-color: #727272;
    }

    .fg-theme-selected .selected, .fg-theme-highlight .highlighted {
        color: #fff !important;
    }
}

#scheme-dark[theme] {
    .bg-dark-disabled[disabled],
    .bg-dark-disabled[disabled]:hover {
        background: #272727 !important;
        cursor: default !important;
    }

    .fg-light-disabled[disabled],
    .fg-light-disabled[disabled]:hover {
        color: #666 !important;
        cursor: default !important;
    }
}

#scheme-light[theme] {
    .bg-dark-disabled[disabled],
    .bg-dark-disabled[disabled]:hover {
        background: #f3f3f3 !important;
        cursor: default !important;
    }

    .fg-light-disabled[disabled],
    .fg-light-disabled[disabled]:hover {
        color: #bbb !important;
        cursor: default !important;
    }
}    

.backdrop {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 400;
	-webkit-opacity: 	0.8;
	-moz-opacity: 		0.8;
	opacity: 		    0.8;
}

button[disabled] {
	-webkit-opacity: 	0.2;
	-moz-opacity: 		0.2;
	opacity: 		    0.2;
}

button:not(:focus) {
    border-color: transparent !important;
}

.button > [class*=mif-] {
    vertical-align: text-top;
}

button [lang] {
    margin: 0.1rem 0 0 0.3rem;
}        

button.square-button{
    width: 40px;
    height: 40px;
}

.dialog {
    z-index: 1100;
}

.sidebar {
    background-color: transparent;
}

.sidebar li:hover {
    background-color: transparent;    
}
    