@import (once) "utils/mixin.less";
@import (once) "widgets/chosen.less";
@import (once) "widgets/translator.less";
@import (once) "widgets/messager.less";
@import (once) "widgets/wait-panel";
@import (once) "widgets/tooltip.less";
@import (once) "widgets/accordion.less";
@import (once) "tct/settings-panel.less";
@import (once) "tct/user-infos";
@import (once) "tct/file-viewer";
@import (once) "tct/anode-transfert-chart";
@import (once) "tct/anode-chart-infos";

html {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 100%;
}
 
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    
    .inline {
        display: inline-block;
    }        
    
    hr {
        margin: 0;
    }
    
    h2 {
        margin-bottom: 0.9rem;
    }

    header {
        padding: 0.5rem 1rem 1rem 1rem;
        width: 100%;        
        display: flex;       
        flex-wrap: wrap;  
        align-items: center;
                
        #user-infos-panel {
            flex-basis: auto;
        }                             
        
        #title-panel {
            padding-top: 1rem;
            flex-grow: 1;
            flex-basis: auto;
            flex-shrink: 0;
            .logo {
                background: url("../images/logo.svg") no-repeat center center;                
                width: 3rem;
                height: 3rem;
                margin: 0.5rem 0.5rem 0 0;
                display: inline-block;
            }
            h1 {        
                font-size: 2.5rem;        
                display: inline-block;
            }
        }
        
        @media all and (max-width: 880px) {
            #title-panel {
                display: none;
            }
        }    
    
        #user-infos-panel {
            padding-top: 1.9rem;
        }
        
        #trans-area {
            padding-top: 1.5rem;
            flex-grow: 1;
            flex-basis: auto;
            flex-shrink: 0;
            .input-control {
                width: 13rem;
                padding-top: 0.1rem;
            }
        }             
    }
     
    #main-content {    
        margin: 2rem;
        
        .ml1{
            margin-left: 1rem;
        }        
        
        .noinf,
        .nodoc,
        .nousageex {
            opacity: 0.6;
            margin-bottom: 1.5rem;
        }
        
        .align-center{
            width: 100%;
            display: block;
        }
        
        .section-hdr {
            border-bottom: solid 1px transparent;
            margin-bottom: 1.5rem;
        }
        
        #title {
            margin-bottom: 1rem;                        
        }

        #type {
            margin-left: 1rem;
        }
        
        #user-name {
            margin-left: 0.5rem;            
        }

        #genparams, 
        #c-max,
        #c-docs,
        #c-usages {            
            .row {
                margin: 0 0 1rem 0;
            }
            
            .vrow{
                padding: 0 3rem;                
            }            
            
            .caption {
                display: inline-block;
                width: 60%;
            }
            .unit {
                width: 4rem;
                float: right;
                text-align: right;
            }      
            
            .value{
                width: 5rem;
                float: right;
                text-align: right;
            }
            
            .u2 {
                float: right;
            }  

            #file-controls {
                float: right;                
            }
            
            .note {
                margin-top: 2rem;
            }
            
            @media all and (max-width: 1024px) {
                .caption {
                    width: 40%;
                }
                .unit {
                    width: 3rem;
                }
                .value{
                    width: 4rem;
                }
            }
            @media all and (max-width: 640px) {
                .caption {
                    width: 60%;
                }
                .unit {
                    width: 4rem;
                }
                .value{
                    width: 5rem;
                }
                .row {
                    margin: 0;
                }
                .vrow {
                    margin: 0 0 2.12765% 0;
                    padding: 0;
                }
            }
        }        
        
        #c-max h5 {
            border-bottom: solid 1px transparent;
            width: 80%;
            margin: 0 auto 1rem auto;
            padding: 0.5rem 0;
        }
        
        #c-usages .c-chart,
        #c-usages .i-chart{
            padding: 0 3rem;  
            .row {
                margin: 0;   
            }        
        }
        @media all and (max-width: 640px) {
            #c-usages .c-chart,
            #c-usages .i-chart{
                padding: 0;          
            }
        }

        #c-docs {            
            .row {
                width: 100%;
                max-width: 1000px;
                margin: 0 auto;
                display: flex;
                flex-wrap: nowrap;
                align-items: left;
                margin-bottom: 0.5rem;

                #icon, 
                button {                            
                    flex-basis: auto;
                    flex-shrink: 0;
                }

                #icon:before {
                    text-align: center;                  
                }   

                .label {
                    margin-left: 0.5rem;
                    flex-grow: 1;
                    flex-basis: auto;
                    word-break: break-word;                        
                }
                
                button {
                    margin-top: -0.5rem;
                } 
                /*padding: 0 3rem;          
                width: 100%;
                max-width: 1200px;
                margin: 0 auto;
                
                #file-controls {
                    float: right;
                }      
                
                #icon {
                    vertical-align: text-top;
                }
                
                .label {
                    max-width: 85%;
                    display: inline-block;
                    margin-top: 0.8rem;
                    word-break: break-word;
                }*/
            }
        }
        
        .base {
            margin-top: 2rem;
        }
        
        #c-socket,
        #c-pinout {     
            span {
                margin-bottom: 1rem;
            }       

            #socket,
            #connection  {
                margin: 0 auto;
                display: block;
                position: relative;
                opacity: 1;
                .transition(all linear 0.2s);         
            }
            
            #socket.empty,
            #connection.empty {
                opacity: 0;
            }

            #socket{
                width: 9rem;
                height: 9rem;  
                margin-top: 2.5rem;              
            }
            
            #connection{
                width: 14rem;
                height: 14rem;                
            }
        }   

        .accordion > .frame > .content,
        .accordion > .frame > .heading {
            background-color: transparent;
            border: 0;
        }

    }
}

